﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel

<div class="row">
    <div class="col-lg-12">
        <h1>Black friday - få store rabatter på tøj og sko på Black friday</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.Partial(MVC.Shared.Views.Offers)
      

        <br /><br /><br /><br />

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Nyeste tøj på fedttoj.dk</h2>
    </div>
</div>

<div class="row">
    @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
</div>
@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}