﻿@{
    ViewBag.TheTitle = "Vind et gavekort på 1.000 kr. til et valgfrit tøjsite";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Vind et gavekort på 1.000 kr. til et valgfrit tøjsite</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @if (ViewBag.ThanksContest != null && ViewBag.ThanksContest == "1")
        {
            <div>
                <h3> <b>Tak for tilmeldingen</b></h3>
                Du bliver kontaktet, hvis du vinder
            </div>
        }
        else
        {
            <div>
                <h3>Konkurrencen: <b>Skriv om en oplevelse du har haft, hvor du har købt tøj i en online tøjbutik.</b></h3>
                <br />
                Beskriv gerne i detaljer hvilken butik, hvilke mærker, og hvilken type tøj du købte. Jo mere detaljeret des bedre. Historien kunne f.eks. handle om dit bedste tøjkøb på nettet, dit mest besværlige tøjkøb, eller måske den bedste kundeservice du nogensinde har oplevet.<br /><br />
                Vi ser helst positive historier, men hvis du har haft en negativ oplevelse, der alligevel endte godt, er den også velkommen. Tilsvining eller brug af vulgært og ondt sprog er ikke velkomment. Vi udvælger de 10 bedste historier og trækker lod blandt disse. Du kan altså godt deltage med flere historier.
                <br /><br />
                @using (Html.BeginForm(MVC.Offer.ActionNames.WritingContest, MVC.Offer.Name, FormMethod.Post, new { role = "form" }))
                {
                    <table border="0" width="500">
                        <tr>
                            <td style="width: 100px;">
                                <b>Email:</b>
                            </td>
                            <td style="width:400px;">
                                <input name="Email" type="text" id="emailText" class="form-control" placeholder="Skriv din e-mail-adresse" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Navn:</b>
                            </td>
                            <td>
                                <input name="Name" type="text" id="nameText" class="form-control" placeholder="Skriv dit navn" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br />
                                <b>Din historie:</b>

                                <textarea name="Story" class="form-control" style="margin-top:10px;" rows="10" placeholder="Skriv din historie"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <br />
                                <button type="submit" class="btn btn-primary btn-lg pull-right">
                                    Send
                                </button>
                            </td>
                        </tr>
                    </table>

                }
                <br /><br /><br />
                <b>Det med småt:</b><br />
                1. Din e-mail-adresse bliver KUN brugt til at kontakte dig, hvis du vinder. Vi sender ellers ingen mails til dig og giver ikke din e-mail-adresse videre til andre. Det er meget vigtigt for os, at du kan deltage i konkurrencen uden at blive overdynget med spam eller blive kontaktet af irriterende sælgere efterfølgende<br />
                2. Hvis vi synes, at din historie er god, bliver den offentliggjort her på fedttoj.dk. Det er derfor ikke et krav, at du bruger dit fulde navn.<br />
                3. Vi ser helst, at du holder dig til sandheden i din historie, men vi tjekker selvfølgelig ikke op på, om den er 100% sand :-)<br />
                4. Når vinderen er fundet, vil denne blive kontaktet, og vinderen kan vælge hvilket dansk tøjsite, han/hun ønsker et gavekort til. Det er selvfølgelig et krav, at dette tøjsite tilbyder gavekort.
            </div>
        }
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}