.main-container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

body {
    background: #FFFFFF;
    color: #555;
    font-size: 16px;
    font-family: Calibri;
    margin-top: 0;
}


a {
	color: #2f4da2;
}

a:hover {
	color: #444;
	text-decoration: none;
}

div.diversetoej
{
 display:none;   
}

div.AreaNavLeft
{
    float:left;
    margin-right:20px;
    text-align: center;
    padding:5px;
    font-size: 16px;
    font-weight: bold;
}

div.AreaNavRight
{
    float:left;
    text-align: center;
    padding:5px;
    font-size: 16px;
    font-weight: bold;
}

div.AreaNavLeftSelected {
    color: #2f4da2;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
}

div.AreaNavLeftSelected2 {
    color: #ca0e0e;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
}

div.AreaNavRightSelected {
    float: left;
    text-align: center;
    color: #80d0fe;
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding: 4px;
    font-size: 16px;
}


.btns {
	border-radius: 5px;
	text-shadow: none;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 7px 12px 7px 12px;
}



.logo h3 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}


.main-nav {
	
	list-style: none;
    margin: 0;
    margin-bottom: 0px;
    padding-left: 10px;
    height: 58px;
}

.main-nav li {
	float: left;
	font-size: 14px;
}

.main-nav li a {
	font-weight: bold;
	display: block;
	padding: 10px 11px;
	color: #FFF;
    height: 58px;
    padding-top: 19px;
}



.main-nav li:hover a {
	background: #e74c3c;
}

.main-nav li.active {
	background: #e74c3c;
}

.list-inline li{
    padding-top:5px;
}

h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Calibri;
}

h2 {
	font-size: 32px;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 20px;
    font-family: Calibri;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 10px;
    margin-top: 0;
    font-family: Calibri;
}

h4 {
	font-size: 24px;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 10px;
    font-family: Calibri;
}



.product-listing {
    padding-bottom: 20px;
 }

.product-listing .title {
	font-size: 16px;
    font-weight: bold;
}

.product-listing .title a {
	color: #666;
}

.product-listing .image {
    max-height: 300px;
}

.product-listing .price {
    margin-top: -39px;
    position: absolute;
    right: 16px;
    background-color:rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0 5px;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.showprice{
    font-size:20px;
}

.product-listing .btn {
    margin-left: 1px;
}


.product-image,
.product-thumb {
	border: 1px solid #EEE;
	border-bottom: 1px solid #DDD;

}

.bread-crumb {
	background: #FFF;
	
	padding-top: 20px;
	margin-bottom: 10px;
}


.bread-crumb p {
	float: left;
	font-size: 16px;
	margin: 0 0 0 10px;
	line-height: 1.4;
}

.bread-crumb p span {
	color: #444;
}




.pagination {
	float: left;
}

.pagination ul {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
}



.actions {
	float: right;
}

.actions .btn {
	font-size: 18px;
	padding: 8px 16px;
	margin-left: 10px;
}

/*--------------------------------
	Footer
---------------------------------*/

.footer-mobile {
    margin-right: 0;
    background-color: #444;
}

.footer {
	margin-top: 20px;
}

    .footer .footer-right {
        padding-top: 20px;
        color: #EEE;
    }

.footer .footer-right a {
    
    color: #EEE;
}

.footer-nav {
	float: left;
	list-style: none;
	margin: 0 0 20px 0;
    padding-top:20px;
}

.footer-nav-mobile {
    padding-left: 30px;
    
}

.footer-nav li {
	float: left;
	margin-right: 20px;
    margin-bottom: 5px;
    font-size: 110%;
}

.footer-nav li a {
	color: #EEE;
}

@media (device-width: 768px) {
    .footer-nav li a:hover {
        color: #FFF;
    }
}

@media (max-width: 480px) {
	
	.logo {
		text-align: center;
		margin-bottom: 20px;
	}

	.main-nav li {
		float: none;
		width: 100%;
	}
}

.category-header {
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.make-item {
    list-style-type: none;

}

.brand-header{
    font-size:19px;
}

div.panel-default {
    padding: 10px;
}
div.border-bottom {
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 20px;
}

ul.questionlist
{
    list-style-type:decimal;
    margin-left: 60px;
}

ul.questionlist li
{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}


ul {
    margin-bottom: 0;
}

.caret-white {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;

}

/*Mobile*/

.row-mobile-top {
    padding-top: 10px;
}

.mobil-other-products {
    border-top: 1px solid #CCCCCC;
}

h1.mobile {
    font-size: 20px;
}

h2.mobile {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h3.mobile {
    font-size: 16px;
    margin-top: 5px;
    line-height: 1; 
}

header.mobile-header {
    background-color: #444444;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

header.mobile-header .menu-item {
    color: white;
    margin-right: 5px;
}

div.picture-mobile-container{
    padding:10px;
    padding-top:0;
}

div.picture-mobile {
    text-align: center;
    padding:10px;
  
}

body.mobile {
    margin-top: 0;
}

.questionlist-mobile {
    margin-left: 0;
    list-style-type:decimal;
}

ul.questionlist-mobile li
{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

input.mobile-search {
   
    font-family: Calibri;
    padding: 5px;
}

div.mobile-search {
    padding: 15px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #BBBBBB;
    display: none;
    text-align: center; 
}

.mobile-top-search-icon {
    float: right;
    margin-top: 6px;
    margin-right: 15px;
    font-size: 18px;
}

.mobile-top-search {
    width: 70px;
    margin-left: 5px;
    font-family: Calibri;
}

input.mobile-search-area {
    height: 45px;
    border: none;
    width: 238px;
    font-size: 20px;
    padding-left:18px;
}

    input.mobile-search-area:focus, input.mobile-search-area:active {
        outline-width: 0;
        outline: none !important;
        box-shadow: none !important;
    }

.close-area-menu {
    color: #2f4da2;
    font-size: 25px;
    margin-right:10px;
}

input.btn-sm {
    height: 27px;
}

.main-mobile .dropdown {
    width: 50%;
    float: left;
   
}

div.make-drop-wide{
    width:100% !important;
}

.dropdown-toggle {
    font-size: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.subcategory-menu {
    width: 100%;
    float: left;
    background-color: #FFFFFF;
    color: black;
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid #d3d3d3;
}

a.make-dropdown {
    background-color: #FFFFFF;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 0;
    border-bottom: 1px solid #d3d3d3;
}

.dropdown-menu-main {
    position: relative;
    display: none;
    background: #fAfAfA;
    list-style: none;
    padding-top: 10px;
    margin-top: 10px;
    line-height: 44px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.not-hidden {
    display:block;
}

.dropdown-menu-sub {
    margin-top: 35px;
    border-bottom: 2px solid #444;
    
}

.dropdown-menu-main li {
    border-top: 1px solid #DDDDDD;
    padding-left: 20px;
    color: #666666;
    line-height: 44px;
}

    .dropdown-menu-main li a {
        font-size: 18px;
        color: #666666;
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }

.arrow-right {
    margin-right: 10px;
    font-size: 25px;
    color: #888888;
}

.arrow-down {
    margin-right: 10px;
    font-size: 25px;
    color: #888888;
    transform: rotate(90deg);
}

.submenu {
    list-style: none;
    margin-left:20px;
}

.dropdown-menu-main ul {
    padding-left: 0;
}

.dropdown-menu-main h2 {
    color: #666666;
    padding-left: 18px;
}

#catfish {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 1px solid gray;
    text-align: center;
}

.catfish-inner {
    margin: auto;
    padding-top: 10px;
    font-size: 18px;
}

.catfish-close {
    float: right;
    padding: 10px;
    padding-right: 30px;
    cursor: pointer;
}


.small {
    font-size: 75%;
}

.article-email {
    display: none;
}

article {
    font-size: 16px;
}

.article-text-pre{
    line-height:1em;
    height:8em;
    overflow:hidden;
}

.article-text{
    line-height:1em;
}

.article-table tr td {
    padding: 10px;
}

.article-mobile-like {
    padding-top: 10px;
    width:260px;
}

.plus-one {
    padding-top: 2px;
    padding-right: 10px;
    float: left;
}

.article {
    font-size: 18px;
}

.product-border {
    border: 1px solid #EEE;
    margin-bottom: 10px;
}

.frontpage-article {
    color: #555;
}

.frontpage-article h3, h2 {
    font-size: 24px;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1.4;
}

.popular-brands {
    font-weight: bold;
    font-size: 20px;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}
.container-nav {
    background: #323a45;margin-bottom:0px;box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
}

.container-footer {
    background-color:#323a45;box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
}

.article-image-left {
    margin-right: 20px;margin-bottom:10px;margin-top:20px;
}

.article-image-right {
    margin-left: 20px;margin-bottom:10px;margin-top:20px;
}

.top-search-input {
    width: 150px;
    height: 30px;
    padding-left: 7px;
}

.top-search-button {
    background-color: #e74c3c;
    width: 50px;
    height: 30px;
    border: none;
    color: white;
    margin-left: -5px;
}

.search-module {
    padding: 0;
}

.presearches {
    line-height: 30px;
}

.cookie-icon {
    margin-top: -5px;
}

img {
    aspect-ratio: attr(width) / attr(height);
}

.description {
    height:100px;
    overflow: hidden;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile-areas {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
}

.logo-mobile{
    margin-left:5px;
    margin-right:5px;
}

.text-larger{
    font-size:1.3em;
}

.fb-like iframe{
    width:170px !important;
}


/* Styles for the price input container */

.price-container {
    padding-left: 40px;
    padding-right: 40px;
}

.price-input-container {
    width: 100%;
    
}

.price-input .price-field {
    margin-bottom: 22px;
}

.price-input .price-field-notmobile {
    display: flex;
}

.price-field span {
    margin-right: 10px;
    margin-top: 6px;
    font-size: 17px;
    width:50%;
    float:left;
}

.price-field input {
    width: 100%;
    height: 35px;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    border-radius: 9px;
    text-align: center;
    border: 0px;
    background: #e4e4e4;
}

.price-input {
    width: 100%;
    font-size: 19px;
    color: #555;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#mobile-price-search{
    display:none;
    background-color: #fafafa;
}

select {
    background-color: #1F99CD;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    padding: 8px 30px 8px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

}