﻿@model List<FedttoejMvc.Models.Data.ArticleComment>

<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
    
    <h2>Kommentarer</h2>

    @foreach (var comment in @Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">@comment.UserName</h3>
                <div class="pull-right">@comment.TimeStamp.ToShortDateString()</div>
            </div>
            <div class="panel-body">
                @comment.Comment
            </div>
           
        </div>
    }
    
    <br/><br/>

    @using (Html.BeginForm(MVC.Article.ActionNames.PostArticleComment, MVC.Article.Name, FormMethod.Post, new { role = "form" }))
    {
        <table border="0" width="100%">
            <tr class="article-email">
                <td style="width: 100px;">
                    <b>Email:</b>
                </td>
                <td>
                    <input name="Email" type="text" id="Email" class="form-control" placeholder="Skriv din e-mail-adresse" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Navn:</b>
                </td>
                <td>
                    <input name="UserName" type="text" id="UserName" class="form-control" placeholder="Skriv dit navn" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <br />
                    <b>Din kommentar:</b>

                    <textarea name="Comment" id="Comment" class="form-control" style="margin-top:10px;" rows="5" placeholder="Skriv din kommentar"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <br />
                    <input type="hidden" value="@ViewBag.ArticleId" name="ArticleId" id="ArticleId" />
                    <input type="hidden" value="@ViewBag.Url" name="Url" id="Url" />
                    <button type="submit" class="btn btn-primary btn-lg pull-right">
                        Send
                    </button>
                </td>
            </tr>
        </table>

    }
</div>
