﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/3-gode-raad-til-baeredygtig-mode" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br />
        <div>
            <h1 itemprop="headline">3 gode råd til bæredygtig mode</h1>
        </div>
        <br />
        <meta itemprop="datePublished" content="2020-09-23T12:00:00+01:00" />
        <div itemscope itemprop="author" itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Julie" />
        </div>
        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="fedttoj.dk" />
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            </div>

            <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            <meta itemprop="url" content="https://fedttoj.dk" />
        </div>

        <span class="pull-left">23. september 2020</span>
        <span class="small pull-right">


        </span>

        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody" class="article">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <img src="~/Content/Graphics/Articles/Baeredygtig-mode.jpg" itemprop="image" alt="3 gode råd til bæredygtig mode" class="img-responsive" />
                </div>
                <div class="col-xs-2"></div>
            </div>
            <br /><br />

            De sidste par år er klima og bæredygtighed med rette kommet i fokus. Der er brug for at lave ændringer på tværs af alle sektorer og dele af vores livsstil, og modeindustrien er ingen undtagelse. Det er faktisk en af de mest klimabelastende industrier der findes. Men heldigvis er bæredygtige brands og produkter begyndt at vinde indpas i butikkerne, og som forbruger er der meget du kan gøre for at støtte op og handle med omtanke, uden at skulle gå på kompromis med din stil.
            <br /><br />
            <h2>Shop klassisk tøj</h2>
            Først og fremmest, så er den mest bæredygtige tilgang til tøj, at du køber items du kan bruge igen og igen, og som passer til alt. En flot trenchcoat, en klassisk uldfrakke, et par gode sorte støvler – alle disse ting kan holde til mange sæsoner uden at gå af mode og passer til næsten hvad som helst. Det er smart at have en god basisgarderobe, for det sikrer at du altid har noget at tage på og undgår en tøjkrise. Du har også flere muligheder for at lave kombinationer med mere farverige eller spraglede tøjstykker.
            <br /><br />
            <h2>Invester i god kvalitet</h2>
            Der er ingen pointe i at have klassisk tøj eller en basisgarderobe hvis tøjet går i stykker kort tid efter det er blevet taget i brug. Det er derfor en god idé at bevæge sig væk fra de billigste brands og i stedet investere i materialer af høj kvalitet og som derfor koster lidt mere. Men hvis dit tøj dermed holder længere, så er det bestemt pengene værd og bedre for miljøet. Hvis du ikke har råd, kan du dog godt gå på kompromis ved at købe tøj fra billigere mærkers bæredygtige kollektioner. For eksempel har H&M deres bæredygtige linje ”Conscious” med bæredygtigt tøj til din basisgarderobe uden at du sprænger budgettet.
            <br /><br />
            <h2>Bæredygtige materialer og GOTS-certifikation</h2>
            Brands er begyndt at blive mere kreative i forhold til udvikling af nye materialer. Man kan nu købe tøj der er lavet af f.eks. plastikflasker, fiskenet og andre materialer der ellers ville ende på lossepladsen eller forurene ude i havene. Det er super nem måde at gøre en forskel og støtte op om disse bæredygtige teknologier. Generelt er naturmaterialer også en god idé at kigge efter, da de typisk er mere bæredygtige end de syntetiske materialer. Derudover findes der også GOTS-mærket. Det er en mærkningsordning der garanterer økologiske materialer og sætter grænser på hvor mange kemikalier der må bruges i produktionen, og der er forbud mod giftige og miljøbelastende kemi.
            <br /><br />
            Hvis du ønsker en bæredygtig garderobe, så gælder mottoet ”lidt men godt” – invester i færre stykker tøj, men brug til gengæld lidt ekstra på det så det er produceret under ordentlige forhold og hjælper med at passe på kloden. Som forbrugere kan vi sende et tydeligt signal til de store brands og producenter hvis vi køber bæredygtigt tøj og skaber mere efterspørgsel på det.

            <br /><br />




            <br /><br />


        </article>
        <br /><br />

    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "3 gode råd til bæredygtig mode",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/Baeredygtig-mode.jpg",
        "description": "De sidste par år er klima og bæredygtighed med rette kommet i fokus. Der er brug for at lave ændringer på tværs af alle sektorer og dele af vores livsstil",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-09-23T12:00:00+01:00"
        }
    </script>



}