﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/Tips-til-at-kobe-designervarer" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br />
        <div>
            <h1 itemprop="headline">Tips til at købe designervarer</h1>
        </div>
        <br />
        <meta itemprop="datePublished" content="2020-10-22T12:00:00+01:00" />
        <div itemscope itemprop="author" itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Julie" />
        </div>
        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="fedttoj.dk" />
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            </div>

            <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            <meta itemprop="url" content="https://fedttoj.dk" />
        </div>

        <span class="pull-left">22. oktober 2020</span>
        <span class="small pull-right">


        </span>

        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody" class="article">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <img src="~/Content/Graphics/Articles/designervarer.jpg" itemprop="image" alt="Tips til at købe designervarer" class="img-responsive" />
                </div>
                <div class="col-xs-2"></div>
            </div>
            <br /><br />

            Designervarer, især når det gælder tøj, har det med at dele vandene. På den ene side, så er der mange mennesker der rynker på næsen over at bruge mange penge på tøj – det er trods alt ”bare” en skjorte eller en taske, og mange gange er priserne også pustet op uden at kvaliteten følger med.
            <br /><br />Men i langt de fleste tilfælde, så er der ingen tvivl om at det er værd at betale ekstra for bedre kvalitet – for det betyder at tøjet holder længere. Derudover passer du højst sandsynligt også bedre på dine dyrere tøjdele da de er sværere at erstatte, frem for f.eks. en t-shirt fra H&M. Hvis du ønsker at investere lidt flere penge i din garderobe men er i tvivl om hvor du skal starte og hvad du skal være opmærksom på, så læs vores tips til at købe mærkevaretøj. Så sikrer du at du ikke spilder pengene.
            <br /><br />
            <h2>1.	Vælg med omhu</h2>
            Mange forbinder nok mærkevarer med tøj der bliver solgt til overpris og som primært bliver købt af folk med for mange penge mellem hænderne. Men du behøver ikke at have uanede mængder penge for at købe dig nogle lækre sager. Det handler om at skære ned på impulskøb – i stedet, så spar op så du kan investere i kvalitetstøj der holder længere. Måske ønsker du en lækker taske, en varm frakke eller støvler der holder i mange sæsoner. Uanset hvad, så kan du med fordel spare op til tøj som du bruger ofte og som kan passe til din livsstil. For eksempel, vil en sort klassisk frakke højst sandsynligt kunne bruges i længere tid og passe til flere lejligheder, end en storblomstret af slagsen som hurtigt går af mode.
            <br /><br />
            <h2>2.	Lad dig ikke rive med af hypen</h2>
            Hvis du er interesseret i mode eller bare følger lidt med på Instagram, så er der ingen tvivl om at trends kommer og går – næsten hver uge er der et nyt ”must have” eller en ny taske der dukker op på alle billederne. Man kan hurtigt nå at forelske sig i en ny kjole eller en ny bluse flere gange på en måned. Hvis man lader sig rive med af hypen og begynder jagten for at finde det nyeste ”it item”, så kan det hurtigt blive en dyr affære hver eneste måned. Både fordi man nemt kan forelske i sig mange ting og køre kontoen i bund inden lønningsdag, men også fordi at de mest hypede ting typisk bliver købt lynhurtigt og herefter solgt til overpris – så man skal pludselig betale store summer for at få fat i det samme tøj som alle influencerne på Instagram går med.
            <br /><br />
            I stedet bør du overveje om du reelt kan lide tøjet eller om du måske er påvirket lidt af hvad du ser på de sociale medier. Hvis du gerne vil anskaffe dig et bestemt item og har lidt tålmodighed, så er det bedre at vente på at hypen har lagt sig. Så falder priserne helt naturligt, lageret bliver fyldt op, og du kan købe uden at skulle give overpris.
            <br /><br />
            <h2>3.	Gå efter besparelser</h2>
            Bare fordi man går efter de lidt dyrere varer, så betyder det ikke at man ikke kan gøre en god handel. En hurtig og effektiv måde at gøre dette, er ved at handle secondhand. Her kan man finde et stort udvalg af designervarer til billigere priser – mange af dem er ubrugte eller kun brugt en enkelt gang eller to, så det ser ud som om det kommer direkte fra butikken. Ulempen ved secondhand er selvfølgelig at du skal tage lidt flere forholdsregler for at sikre dig at varerne er ægte – men hvis det lykkes, så kan du virkelig gøre dig en god handel og spare flere tusinde kroner.
            <br /><br />
            Hvis du ikke er til at handle secondhand tøj, så kan du også finde besparelser ved at købe fra ny. Mange butikker og især webshops holder ofte udsalg, så det kan betale sig at tjekke jævnligt og skrive sig op til nyhedsbreve – ofte får man også en rabatkode som ikke annonceres på hjemmesiden og derudover får du hurtigt besked om udsalg. Du kan også bruge særlige hjemmesider hvor du kan oprette ønskelister, og hvor hjemmesiden så giver dig besked hvis noget på din ønskeliste kommer på udsalg. Det er super smart og tidsbesparende.
            <br /><br />
            <h2>4.	Skal tøjet sælges igen senere?</h2>
            Selvom du selvfølgelig skal overveje dine dyre køb nøje, så kan man dog ikke undgå at man over tid måske ændrer smag og stil, eller bare bliver træt af tøjet. Fordelen ved at købe designervarer er her, at du højst sandsynligt kan få solgt det. Det betyder både at du får lidt penge tilbage, men også at tøjet går videre til den næste som er vild med det. Mange designermærker holder typisk deres værdi i længere tid, og hvis du samtidig passer godt på dit tøj, så er der en god chance for at du kan sælge det videre.
            <br /><br />
            <h2>5.	Hvis det er for godt til at være sandt…</h2>
            Sidst men ikke mindst, så er det godt at have en god portion sund fornuft og skepsis når du handler. Der findes mange skumle sider der lover designervarer til en brøkdel af prisen, og der florerer stadig mange kopivarer som man skal undgå. Den vigtigste tommelfingerregel er at hvis prisen lyder til at være lidt for god eller sælgeren virker for ivrig, så skal du være på vagt. Hvis du ikke føler dig sikker nok til at skelne mellem ægte og kopivarer, så hold dig til troværdige webshops hvor du ikke er i tvivl om at det er den ægte varer og alle papirer medfølger.
            <br /><br />
            Vi håber at du kunne bruge disse fem tips og føler dig klar til at gå i gang med shoppingen. God fornøjelse!



            <br /><br />


        </article>
        <br /><br />

    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "Tips til at købe designervarer",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/designervarer.jpg",
        "description": "Designervarer, især når det gælder tøj, har det med at dele vandene. Der mange mennesker der rynker på næsen over at bruge mange penge på tøj",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-10-22T12:00:00+01:00"
        }
    </script>



}