﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/men-hvilken-kjole-passer-til-mig" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br/>
        <div>
            <h1 itemprop="headline">Men hvilken kjole passer til mig?</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2016-02-10T08:00:00+08:00" />
        <span class="small pull-left">10. februar 2016</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">

            
            Det er ikke simpelt at vælge en kjole med så mange forskellige slags på markedet. Du skal, i et virvar af farver, former og mønstre, udvælge den kjole, der ser bedst ud til din kropsbygning og til dit formål. Det er ikke ligetil. Der er mange ting, du skal tænke over, når du vælger den perfekte kjole; taljevidden, højden, formaliteten… og listen bliver ved! Og selvom den flotteste kjole til en kvinde, som hun føler sig selvsikker i, er der ingen tvivl om, at nogle kjoler passer bedre til nogle end andre. Så her er seks typer kjoler, som er populære, og lidt om, hvad de hver især passer godt til.
            <br /><br />
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/kjoler1.jpg" itemprop="image" alt="Maxikjoler" /><br />
            </div>
         
            <h2>1. Maxikjoler</h2>
           
            En maxikjole er en kjole, der sidder tæt øverst, og den hænger løst ned ad resten af kroppen. Det er en lang kjole der går minimum til anklerne, og går ofte hele vejen ned til gulvet. Det løse stof samler sig nederst i flotte folder.
            <br />
            Generelt passer maxikjolen til alle kropsformer, men den er især god til kvinder med et aflangt bryststykke eller maskuline træk, da kjolen er god til at bringe de kvindelige træk frem. En lys maxikjole er perfekt til en sommerkjole. Der findes også en masse maxikjoler med flotte farvefulde mønstre, der kan give dig et eksotisk look.
            <br />
            Høje hæle eller sandaler er de bedste sko til maxikjoler.
            <br /><br />
            <br/><br/>

            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/kjoler2.jpg" itemprop="image" alt="Minikjoler" /><br />
            </div>
            <h2>2. Minikjoler</h2>
            En minikjole er det fuldstændigt modsatte af en maxikjole. Den sidder stramt og stopper nede på lårene, hvilket sætter meget fokus på benene. Af denne grund er minikjoler specielt gode til lave kvinder med korte ben, da en minikjole kan få dine ben til at se længere ud. Minikjolen er fræk, og er derfor perfekt til fester, hvor du gerne vil vise dine ben frem. Et lidt mere konservativt alternativ til bare ben er, at have strømpebukser på inde under minikjolen.
            <br />
            De bedste sko til minikjoler er enten høje hæle, der også hjælper dig med at se højere ud, eller lange støvler, der sætter mere fokus på benene.

            <br/><br/>
           
            <h2>3. Shirt dresses</h2>
            En shirt dress er en forlænget skjorte lavet til en kjole. Kjolen giver et cool alternativt look, der får dig til at stå ud i mængden. Den er til gengæld ikke særlig tilgivende, og gør ikke noget for at skjule eller skabe illusioner. Den viser din krop, som den er. Du burde derfor kun bære en shirt dress, hvis du er godt tilfreds med din kropsform. For med den rette figur (og mere vigtigt; selvsikkerhed) er en shirt dress en utrolig attraktiv kjole, der kan få dig til at stå lidt mere ud i hverdagen.
            <br />
            Sneaks er de bedste sko til shirt dresses, da de passer til det afslappede look.
            <br /><br />
 
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/kjoler3.jpg" itemprop="image" alt="Sheath" /><br />
            </div>
            <h2>4. Sheath</h2>
            En sheath kjole er opkaldt efter, hvordan den sætter sig tæt på din krop, som en skede til en kniv. Siden sheath kjoler sidder så tæt på kroppen, er det vigtigt, at du finder en, der komplimenterer din kropsform. Nogle sheath kjoler kan for eksempel let gemme lidt af en mave, men ikke hvis den er for lille. Heldigvis er der mange slags sheath kjoler så det burde ikke være noget problem at finde en, der passer til dig. www.Realsimple.com har en god guide til sheath kjoler til forskellige kropsformer, som du kan checke ud her.
            <br />
            Siden sheath kjolen sidder så tæt på taljen,, kan det derfor også være en cool idé, at have et bælte på udenpå. Det sætter fokus på kjolen. På den måde skaber du et mere stilet outfit ud af den sexede sheath kjole.
            <br />
            Sko der passer godt sammen med en sheath kjole er; flade sko i matchende farver, peep toe platforms og bootie shoes.
            <br /><br />
            <br />
            <br />
            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/kjoler4.jpg" itemprop="image" alt="A-line kjoler" /><br />
            </div>
            <h2>5. A-line kjoler</h2>
            En A-line kjole er smal i toppen, og den bliver langsomt bredere og bredere i bunden, lidt i form af en kegle. Den hedder en A-line kjole, fordi den lidt er formet som bogstavet A. En A-line kjole er et klart trumfkort, når det kommer til kjoler, fordi den passer til stort set alle kropsformer. Den er især perfekt til folk, der gerne vil skjule deres mave og lår. A-lines passer også til alle mulige forskellige lejligheder. En smal, sort version er perfekt til fester, mens en bredere A-line med sorte og hvide striber kan få dit hverdags outfit til at se både classy og smukt ud på samme tid. Tommelfinger reglen er; hvis du er i tvivl, så køb en A-line.
            <br />
            De fleste sko passer godt sammen med A-lines.
            <br /><br />
           
            <div class="pull-left" >
                <h2>6. Peplum kjoler</h2>
                <img src="/Content/Graphics/Articles/kjoler5.jpg" style="margin-right: 20px;margin-bottom:10px;margin-top:20px;" itemprop="image" alt="Peplum kjoler" /><br />
            </div>
            <br /><br /><br /><br />
            Peplum kjoler har ekstra flair omkring taljen, hvilket skaber illusionen om den perfekte timeglas form. Dette sker, fordi kjolens ekstra fokus på hofterne, får dem til at se bredere ud, mens taljen bliver smallere. De kommer i alle mulige længder og variationer, men essensen ved alle peplum kjoler, er stadig den indbyggede nederdel ved hoften. Peplum passer rigtig godt til bredskuldrede kvinder, da det ekstra flair ved hofterne, hjælper med at udligne din brede overkrop. Den er også rigtig god til at definere en smal talje eller give illusionen af former.
            <br />
            Hvis du overvejer at købe en peplum kjole, skal du vide, at den sætter stor fokus på maven og numsen, så de dele skal du være tilfreds og selvsikker med. Derudover er det vigtigt, at flairet starter der, hvor din talje er smallest, så den kan hjælpe med at definere den. Hvis den starter der, hvor din talje er bredest, mister den sin effekt.
            <br />
            Siden en peplum kjole får dig til at se lavere og mere formet ud, kan det anbefales, at have høje hæle eller platformsko sammen med kjolen.
            <br /><br />
            Nu har du altså en lidt bredere forståelse for, hvilke kjoler du kan overveje at tilføje til dit klædeskab. Det sidste der er vigtigt for dig, er at huske, at lige meget hvilken kjole der passer til din kropsform, er det intet, hvis du ikke føler dig hjemme i den. Vælg en kjole, du er selvsikker i, og at du selv føler, at du ser fantastisk ud i kjolen. Kombinationen af den perfekte kjole og den selvsikre bærer, er nemlig helt og aldeles uimodståelig.
            <br /><br />
            Var der noget essentielt vi glemte at nævne om kjoler? Efterlad en kommentar med dit svar!

            <br />

            <br />
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(12, "/artiklerne/men-hvilken-kjole-passer-til-mig"))

        <div class="clearfix"></div>
        <br /><br />

        <a href="/kvinde/13-Kjoler">Kjoler</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />

        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}