﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/hvad-er-toej-lavet-af" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br/>
        <div>
            <h1 itemprop="headline">Kend dit tøj: uld, bomuld og polyester</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2015-11-16T08:00:00+08:00" />
        <span class="small pull-left">16. november 2015</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">
            Tøjverdenen kan være stor og forvirrende hvis man ikke kender til den, og der er mange tøjbutikker, der hjertens gerne vil tjene penge på at snyde dig. Derfor er det vigtigt selv at kunne forstå og analysere kvaliteten af det tøj du køber, så du kan få fat på det du skal bruge til lige præcist dit mål. Af denne grund vil vi nu komme med en let guide til de positive og negative sider ved de tre tekstiler, du nok vil støde på oftest; uld, bomuld og polyester. Du vil lære hvad du skal vælge for at holde dig varm, hvad du skal vælge til at træne i og hvilke tekstiler, der er mest miljøvenlige, så du kan være sikker på at du gør et godt køb.
            <br /><br />

            <a name="uld"></a>
            <h2>Uld</h2>
            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/uld.jpg" itemprop="image" alt="Uld" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    Den mest attraktive egenskab af uld er dens insulerende evne, og dette er også den største grund til at den er så eftertragtet.
                </div>
            </div>
            <h3>Hvad er uld?</h3>
            <br />
            Uld kommer fra fårenes hår og derfor daterer brugen af uld i tøj helt tilbage til da mennesker først begyndte at holde får. Den ældste uldsweater blev fundet i Norge og er blevet antaget til at være fra omkring år 300 AD. I dag bliver uld brugt til sweatre, halstørklæder og andet, der skal føles varmt og lækkert.
            <br /><br />
            <b>Fordele</b>
            <ul>
                <li>Uld er ret holdbart og vil også beholde sin form i længere tid end for eksempel bomuld, hvilket gør uld til et godt køb i længden.</li>
                <li>På grund af små lufthuller, der opstår mellem uldfibrene, er uld rigtig godt til at holde på varmen. Derfor er uld ideelt til vintersweatre og vanter, da det varmer meget mere end bomuld eller kunstfiber.</li>
                <li>Uldtøj kan opsuge omkring 30% af dets egen vægt i vand ved kun at miste en lille smule af dets isoleringsevner. Dette betyder, at udover at holde dig varm om vinteren kan uld også køle dig ned ved at opsuge dit sved og hjælpe med at allokere det. Derudover gør uldens opsugende evne at uld kan holde dig varm selv når det er vådt, hvilket er uerstatteligt til aktiviteter som hiking eller spejder, hvor det er vigtigt at kunne være varm i regnvejr med en svedtfyldt krop.</li>
                <li>Uld er forholdsvist brandhæmmende hvilket betyder, at du ikke behøver at være bange for at sidde ved bålet med din uldsweater på, så længe du ikke udsætter den for intense flammer.</li>
                <li>Uld bliver ikke så let beskidt. Fibrene i uld er rigtig gode til at undgå olie og jord og derfor skal uldtrøjen ikke vaskes særlig tit.</li>
                <li>Uld er miljøvenligt så længe fårene bliver passet ordentligt på. Det tager for eksempel cirka 18 gange så meget vand at fremstille bomuld som det gør at fremstille uld, så du kan føle at du gør noget godt for Jorden når du køber uld.</li>
            </ul>
            <br /><br />
            <b>Ulemper</b>
            <ul>
                <li>Alt efter hvilken fårerace ulden er lavet af og hvordan den er fremstillet, kan uld godt kradse og derfor være ubehageligt at bære direkte på huden.</li>
                <li>Uld er normalt den dyreste af de tre tekstiler.</li>
                <li>Fordi uld er så godt til at optage væske, får det desværre også lettere pletter fra vin og andre syrevæsker. Det optager også basiske kemikalier, hvilket fjerner uldens farver og får tekstilen til at falde sammen.</li>
            </ul>
            <br />
            <a name="bomuld"></a>
            <h2>Bomuld</h2>
            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/bomuld.jpg" itemprop="image" alt="Bomuld" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    Den største grund til at bomuld er så populært er, at det er blødt og rart.
                </div>
            </div>
            <h3>Hvad er bomuld?</h3>
            Bomuld kommer fra bomuldsplanter og er et af de ældste menneskeligt dyrket fibre. Der er fundet spor af bomuldsdyrkning fra over 7000 år siden.
            <br /><br />
            <b>Fordele</b>
            <ul>
                <li>En af de mindre, mere oversete evner af bomuldstøj er, at det ikke er elektrisk ledende, hvilket gør at du undgår irriterende statisk elektricitet.</li>
                <li>Bomuld er virkelig robust, og kan derfor holde til rigtig meget slid.</li>
                <li>Bomuld har en god absorberingsevne og vådstyrke, og bliver derfor ikke ødelagt af vand.</li>
                <li>Bomuld er en god varmeleder hvilket gør, at det er ideelt til sommertøj, hvor det er super vigtigt at komme af med varmen.</li>
                <li>Bomuld er blødt og behageligt, hvilket gør bomuldstøj rigtig rart at have på.</li>
            </ul>
            <br /><br />
            <b>Ulemper</b>
            <ul>
                <li>Mørke farver i bomuld holder ikke helt så godt som i polyester og ser derfor ikke lige så flotte ud.</li>
                <li>Bomuldsproduktionen er ikke ideel for miljøet. Det bruger rigtig meget vand og kræver store arealer til bomuldsplanter, hvilket måske medfører skovryddelser. Dette kan dog mindskes ved at købe økologisk bomuld, hvilket sikrer at tøjet er miljøvenligt bearbejdet. Det sikrer også, at der ikke er hormonforstyrrende stoffer i tøjet.</li>
                <li>Bomuld er rigtig godt til at suge væske, hvilket er perfekt til håndklæder, men betyder, at bomuldstøj får pletter rigtig let. Det gør også, at bomuld er dårligt til sport, da ved at opsuge din sved bliver bomuldet tungere og mister sin isoleringsevne.</li>
                <li>Bomuld skrumper meget let.</li>
            </ul>
            <br />
            <a name="polyester"></a>
            <h2>Polyester</h2>
            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/polyester.jpg" itemprop="image" alt="Polyester" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:380px;">
                    Polyesters billige pris har hjulpet med at sætte tøjprisen ned uden at nedsætte kvaliteten for meget.
                </div>
            </div>
            <h3>Hvad er polyester?</h3>
            <br />
            Kunstfibre, som polyester er lavet af råolie eller naturgas. Det er altså et tekstil, som ikke er naturligt, men menneskabt. Ikke desto mindre har polyester rigtig mange fordele frem for bomuld og uld.
            <br /><br />
            <b>Fordele</b>
            <ul>
                <li>Polyester holder sin form rigtig let og krøller mindre, hvilket er godt hvis man er træt af at stryge sit tøj hele tiden.</li>
                <li>Polyester er det mest holdbare tekstil af de tre på denne liste. Dette er blandt andet fordi det er elastisk, og derfor ikke går i stykker lige så let.</li>
                <li>Polyester skrumper ikke i vask.</li>
                <li>Polyester er mere miljøvenligt end bomuld. Produktionen af polyester udleder cirka otte gange mindre CO2 end bomuld. Dette er fordi, der er brug for færre resourcer, såsom vand, til at producere polyester og, at det er lettere genanvendeligt.</li>
                <li>Polyester er et rigtig billigt tekstil og hjælper dig dermed med at spare lidt på pengefronten.</li>
                <li>Polyester har en god svedtransporterende funktion, hvilket gør det ideelt til sportsgrene, hvor man sveder meget, som for eksempel cykling.</li>
            </ul>
            <br />
            <b>Ulemper</b>
            <ul>
                <li>Polyester bliver rigtig let statisk elektrisk, hvilket kan være ubehageligt for huden.</li>
                <li>Det isolerer dårligt og er derfor ikke godt til skiundertøj eller andet vintertøj.</li>
                <li>Med tiden bliver polyester brudt ned af solen.</li>
                <li>Svedlugt sætter sig let i kunstfibre og er svært at vaske væk fordi tekstilet ikke tåler høje temperaturer.</li>
                <li>De mange kemikalier der bliver tilsat til polyestertøj kan være allergifremkaldende. Dette kan dog mindskes ved, at kun købe tøj der er mærket med Svanen eller Blomsten som forsikrer en mindsket brug af skadelige kemikalier.</li>
            </ul>

            <br /><br />
            Med disse positive og negative sider af uld, bomuld og polyester i tankerne burde det være lidt lettere at bestemme hvilken tekstil der passer bedst til dit behov efter hvilke egenskaber eller ulemper du personligt synes er mest væsentlige. Hvis det dog stadig er svært at vælge, skal du huske, at meget tøj kommer i blandinger, som for eksempel 50% polyester og 50% bomuld, hvilket sammensætter nogle af de positive sider af begge tekstiler og udelader nogle af de dårlige.
            Tillykke! Du er nu klar til at træde ind i den store og skræmmende tøjverden. Held og lykke derude.
            <br /><br />
            Var der noget essentielt vi glemte at nævne om tøj og stof? Efterlad en kommentar med dit svar!
            <br /><br />
            <small>
                Billeder af:<br />
                Ben Hosking: http://bit.ly/1Stxznm <br />
                Sherrie Thai: https://www.flickr.com/photos/shaireproductions/4863941547 <br />
                Sand_and_sky: https://www.flickr.com/photos/sand_and_sky/2300070541/

            </small>
            <br /><br />


        </article>
        <br />
        @Html.Action(MVC.Article.ArticleComment(3, "/artiklerne/hvad-er-toej-lavet-af"))

        <div class="clearfix"></div>
        <br /><br />
        <a href="/kvinde/Dametoej/2-Dametoej">Se tøj til kvinder</a><br />
        <a href="/mand/Herretoej/1-Herretoej">Se tøj til mænd</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />

        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}