﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/vanter-og-handsker" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br/>
        <div>
            <h1 itemprop="headline">Vinter spotlight: Vanter</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2015-11-25T08:00:00+08:00" />
        <span class="small pull-left">25. november 2015</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">
            Når nu sne er begyndt at falde rundt omkring i Danmark, og kulden kaster sig over landet, er det tid til at gøre noget ved de følelsesløse fingre med nogle dejligt varme vanter. Men med så mange forskellige valgmuligheder og al den nye teknologi, hvordan vælger du så den perfekte vante til dig?
            <br /><br />
            <h2>Fingre vs. luffer?</h2>
            Det største spørgsmål du skal svare på når du køber vanter er, om de skal have fingre eller ej. Der er nemlig stor debat om hvorvidt luffer eller fingervanter er bedst. På den ene side giver fingervanter meget frihed og gør at man kan operere alt muligt uden at miste varmen, men på den anden side er luffer generelt varmere at have på fordi fingrene varmer hinanden. Luffeenthusiaster argumenterer også for, at man sagtens kan lave vintersport og snesjov i luffer. Man kan for eksempel sagtens holde en skistang eller lave en snebold uden at bruge alle fingre. Men når alt kommer til alt, er det dog hellere et spørgsmål om personlige prefærencer: er det vigtigst for dig at kunne bruge fingrene, eller at holde dem varme?
            Hvis det er alt for svært at vælge, er det dog muligt at få fingervanter med en luffeflap, der kan tages af og på - eller specielle krabbelignende vanter, hvori både tommelfingeren og pegefingeren er fri. En hængende flap kan bare føles ret akavet, og skønheden af begge alternative vanter kan debateres.
            <br /><br />

            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/Vanter1.jpg" itemprop="image" alt="Vanter" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:380px;">
                    Uldvanter er fantastisk varme men er ikke ideelle til snekamp.
                </div>
            </div>
            <h3>Hvilket materiale skal jeg vælge?</h3>
            <b> Uld</b><br />
            Uld er rigtig godt til at holde varmen, men til gengæld er det ikke ideelt til at holde sne væk. Selvom uld stadig isolerer når det er vådt, undgår du ikke den klamme følelse af våde vanter i uld. Du burde derfor kun vælge uldvanter, hvis du gerne vil holde varmen, men ikke nødvændigvis behøver at kaste dig rundt i sneen.
            <br /><br />
            <b>Bomuld</b><br />
            Bomuld er generelt ikke godt  til vanter i snevejr. Det mister al sin isoleringsevne, hvis det bliver vådt, hvilket let sker hvis der er sne over det hele, og varmer ikke lige så meget som uld. Men hvis du ikke skal ud i det koldeste vejr og ikke har planer om snekamp, kan bomuldsvanter være et blødt og billigt valg til vintervanter.
            <br /><br />
            <b>Læder</b><br />
            Der er ikke nogen tvivl om, at læder er stor favorit når det kommer til vintervanter. Lædervanter er normalt lavet af ko eller gris, men læderet kan komme fra rigtig mange forskellige slags dyr, alle med deres forskellige specielle specifikationer. Ens for al slags læder er dog, at det er utroligt holdbart og godt til at modstå vand og olie, hvilket gør lædervanter perfekt til snekamp. Læder er også godt til at holde dine hænder varme, især med et lækkert for indeni. Den eneste ulempe ved lædervanter er, at de for det meste er ret dyre. Du skal vælge læder hvis du er villig til at betale lidt ekstra og gerne vil have nogle gode vanter, der varmer godt og holder længe.
            <br /><br />
            <b>Fleece</b><br />
            Fleece vanter kommer i mange forskellige former med forskellige grader af vind- og vandmodstand, og er for det meste skabt til at tørre hurtigt. De er også forholdsvist bløde og rare at gå rundt i. Fleecevanter er et godt og billigt valg til vanter.
            <br /><br />
            <b>Nylon</b><br />
            Skivanter er normalt lavet af nylon og har vandsikkert, åndbart tekstur der holder sne og vand ude uden at miste varmeevner. Disse vanter er derfor ideelle til snekamp men kan være lidt stive at bære rundt på. Nylonvanter er en favorit indenfor skisport. Du skal vælge nylon hvis du ikke helt er villig til at betale for lædervanter men stadig gerne vil kunne kaste dig rundt i sneen.
            <br /><br />

            <h2>De specielle vanter</h2>
            Teknologi har gjort meget for vanteindustrien, og nu er det tid til at udnytte det med disse specielle vanter:
            <br /><br />

            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/Vanter2.jpg" itemprop="image" alt="Vanter" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:380px;">
                    Hvis du hader at ikke kunne bruge din mobil med vanter på er touchscreen vanter til dig.
                </div>
            </div>
            <h2>De varmende vanter</h2>
            Vink farvel til kolde vanter! En ny verden af elektrisk varmende vanter er begyndt at komme frem på markedet. De fleste af disse vanter bruger genopladelige batterier der sender elektricitet gennem vanterne til at varme hænderne. Bare vær sikker på at batterierne er opladt inden du drager udenfor, for ellers kan vanterne ikke forfærdeligt meget mere end den normale vante.
            <br /><br />

            <h2>Touchscreen vanterne</h2>
            Hvis du hader altid at skulle tage dine vanter af for at bruge din mobil samt de kolde fingre der kommer dermed, så er touchscreen vanterne for dig. Fingrene på disse vanter kan kan aktivere touchscreen lige så let som dine egne fingre kan. De virker ved at enten fjerne nogle de afledende dele af normale vanter eller tilsætte specielle ledende elementer til fingerspidserne. På denne måde kan du nemt skifte sang på din mobil eller svare en SMS uden at fryse fingrene til.
            <br /><br />

            <h2>Andre specialiteter</h2>
            Andre specifikationer du kan lede efter i vanter er:
            <ul>
                <li>Lange vanter der går over ærmet for at undgå at sne ryger ind igennem åbningen.</li>
                <li>En indbygget elastik der sidder omkring håndledene for at sørge for at vanten sidder bedre fast og holder sne ude.</li>
                <li>Små lommer med lynlåse på indersiden af vanten der kan holde varmepakker eller virke som et udluftningssystem til de lidt varmere dage.</li>
                <li>Blødt materiale på tommelfingeren specielt lavet til at tørre næsen hvis den drypper i kulden.</li>
                <li>En snor der kan bindes omkring håndledene så du aldrig taber dine vanter i sneen.</li>
            </ul>
            <br /><br />
            Nu ved du hvilke muligheder du har for at holde dine hænder varme denne vinter. Nu er det eneste spørgsmål; hvilke vanter skal du have? Skal det være et par foret læderluffer eller et par sorte fleece fingervanter med indbygget varme? En verden af varme venter på at du træder frem og udforsker den. Hvad venter du på?


            <br /><br />

            Var der noget essentielt vi glemte at nævne om vanter? Efterlad en kommentar med dit svar!
            <br /><br />
            <small>
                Billeder af:<br />
                Mararie: http://bit.ly/1OpBVuU <br />
                Gesa Henselmans: http://bit.ly/1Xoa7cO
            </small>
            <br /><br />
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(4, "/artiklerne/vanter-og-handsker"))

        <div class="clearfix"></div>
        <br /><br />
        <a href="/kvinde/Dametoej/2-Dametoej">Se tøj til kvinder</a><br />
        <a href="/mand/Herretoej/1-Herretoej">Se tøj til mænd</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />

        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}