﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/maend-integrer-hatte-i-jeres-outfit" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br/>
        <div>
            <h1 itemprop="headline">Mænd: Integrer hatte i jeres outfit!</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2016-01-07T08:00:00+08:00" />
        <span class="small pull-left">7. januar 2016</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">

            Hatte har spillet en stor rolle i moden i flere år og har været med til at skabe nye tøjstile igen og igen. Et af de tider er nu, da moden har bragt mange gamle hatte frem i lyset igen. Så hvis du her i det nye år har det som om der er noget der mangler i din tøjstil, kan det være at det er ved at være på tide at få fat i en hat. Her er et par idéer til hvilke hatte du kan vælge og hvordan du kan integrere dem i dit outfit.
            <br /><br />
            <h2>Fedora</h2>
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/Fedoraen.jpg" itemprop="image" alt="Fedoraen hat" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    Fedoraen er et fantastisk supplement til både formelle og uformelle outfits
                </div>
            </div>


            Fedoraen havde sin stortid mellem 1920’erne og 1950’erne, hvor den repræsenterede gangsterkulturen. I dag er fedoraen et stort element i både formelle og uformelle outfits. Hvis du gerne vil gøre fedoraen til en del af din tøjstil er der her et par eksempler du kan overveje.
            <br /><br />
            Til et formelt sæt skal fedoraen sidde lige på hovedet, parallelt med øjenbrynene og vinkelret med næseryggen. Herfra kan du prøve at matche fedoraen med en ensfarvet habit og eventuelt finde et slips eller en butterfly der matcher båndet rundt om fedoraen. Du kan også lade jakken være hjemme og nøjes med en lys skjorte, eventuelt med en mørk uldvest udover for at skabe et alternativt formelt sæt.
            <br /><br />
            Alternativt kan du vælge en mindre formel stil. En mere funky fedora med striber eller klare farver kan skabe et frisk look med en lys T-shirt, jeans og sneakers. Du kan også prøve at finde en fedora med et lyst bånd eller en fjer for at skabe et sjovt twist. Hvis du går efter det mindre formelle look skal fedoraen altid været tippet lidt til siden eller bagud.
            <br /><br />
            <h2>The Newsboy</h2>
            <div class="pull-right article-image-right">
                <img src="/Content/Graphics/Articles/TheNewsboy.jpg" itemprop="image" alt="The Newsboy hat" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:300px;">
                    På trods af navnet er the newsboy en stilet hat til både børn og voksne.
                </div>
            </div>


            En newsboy cap er for det meste skabt af otte dele der kommer sammen i toppen med en knap, og ser poset og afslappet ud. Tekstilet til en newsboy er ofte uld, bomuld eller læder. Navnet kommer fra dens popularitet ved unge avisuddelere.<br />
            En newsboy passer exceptionelt godt sammen med en lys trøje og en vest der matcher hatten i farve. For det meste vil dette være grå, brun eller sort. Dette look kan få ekstra flair med synlige seler og en butterfly.<br />
            Et alternativ til en newsboy er en flat cap. Disse to hatte ligner hinanden på mange måder men en flat cap har ikke de otte dele der ender i en knap.
            <br /><br />
            <br /><br /><br /><br />
            <h2>Panama</h2>
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/Panama.jpg" itemprop="image" alt="Panama hatte" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    Panama hatte er flettet af strå eller palmeblade, og denne komplicerede process er både grunden til dens popularitet og pris.
                </div>
            </div>


            Mærkeligt nok kommer panama hatten faktisk fra Ecuador. Den fik sit navn i 1900-tallet hvor den ofte var solgt til arbejdere ved Panama kanalen. En panama vil oftest være formet mere eller mindre som en fedora, men er lavet af strå eller flettede palmeblade i stedet for uld eller bomuld. Dette er den største grund til at panama hatte er så dyre som de er, men også hvorfor de er så populære. Det betyder nemlig at de kan krølles sammen uden at miste sin form, og at de er gode til at holde hovedet koldt og køligt.<br />
            En panama er skabt til de varme lande og passer derfor, som de andre stråhatte, bedst ind i sommer outfits. Den kan passe ind i et lyst formelt outfit, som en hvid habit, eller i et mere afslappet sæt med en lys skjorte og khakier.<br />
            Hvis din panama er lys og matcher farven på resten af dit sæt kan den også være med til at skabe fokus på noget andet i dit outfit, som for eksempel et par klare røde bukser eller et flot slips.<br />
            <br />
            <h2>The Porkpie</h2>
            <div class="pull-right article-image-right">
                <img src="/Content/Graphics/Articles/ThePorkpie.jpg" itemprop="image" alt="The Porkpie hat" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:300px;">
                    En porkpie er lavere og fladere end fedoraen og passer derfor perfekt til folk der allerede er høje.
                </div>
            </div>

            The porkpie er fedoraens tætte fætter. Den har en cylindrisk form, en flad top og ofte et bånd. Den blev populariseret af jazzspilleren Lester Young i 1950’erne, men i dag kender de fleste den nok som Walter White’s hat i tv-serien Breaking Bad under hans alter-ego ”Heisenberg”.
            <br /><br />
            En porkpie passer ind mange steder hvor fedoraen passer ind, men dens jazzede stil giver også plads til nye outfits. Et eksempel kunne være en street stil der kredser omkring det minimalistiske ved sorte bukser, hvide T-shirts, læderjakker og en mørk porkpie sat lidt på skrå for ekstra mystik.
            <br /><br />
            <h2>Western hatte</h2>
            Der er mange hatte med et western look. En af de mest stilede er the wide flat brim, som lidt ligner en bred fedora. The wide flat brim er skabt stiv så den aldrig mister sin form, lige meget hvad. Western hatte prøver at efterligne hattene brugt af cowboys i Nordamerika i 1800-tallet, og passer derfor bedst i western outfit.
            <br /><br />
            Generelt er alt denim og læder perfekt til western stilede hatte. Det betyder brune lædersko, blå jeans, og et læderbælte. På overkroppen kan en lysebryn jakke passe fint, men en lys trøje eller skjorte vil også se godt ud sammen med en western hat.
            <br /><br />
            Det er altså nu at hatte er i stil, og med så mange unikke outfits der omkredser disse hatte er der vist ingen undskyldning for ikke at integrere hatte i sin stil. Spørgsmålet er bare: hvilken hat skal det være?
            <br /><br />
            Var der noget essentielt vi glemte at nævne om hatte? Efterlad en kommentar med dit svar!
            <br /><br />
            Billede af: <a href="https://www.flickr.com/photos/mythwhisper/2182399372/in/photolist-8vWJfe-6RgE1-b4xcsx-7w4zMq-7w4zHm-4jRnio-5dJ5HV-8VRVwZ-amMqmZ-9iSWeF-izYnC7-b4xbvM-b6Yajt-b6Y8kg-b6Y9qv-b72Agx-b4xbXH-b4xaXB-7KANsN-4J38b9-fi4U4V-6FMHrJ-nKrKx4-9iVWu7-9khV8M">mythwhisper</a>
            <br />
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(9, "/artiklerne/maend-integrer-hatte-i-jeres-outfit"))

        <div class="clearfix"></div>
        <br /><br />

        <a href="/soeg?area=5&SearchString=hatte mand">Hatte til mænd</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />

        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}