﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/bukser-og-jeans" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br/>
        <div>
            <h1 itemprop="headline">Alt om Jeans</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2015-12-07T08:00:00+08:00" />
        <span class="small pull-left">7. december 2015</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">

            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/blaa-jeans.jpg" itemprop="image" alt="Blå jeans" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    De blå jeans er nok et af de mest ikoniske stykker tøj.
                </div>
            </div>
            <br />
            Siden de første par blå <a href="/kvinde/1-Bukser-og-jeans">jeans</a> blev lanceret i 1860’erne har de ikoniske jeans langsomt gået igennem en udvikling fra lavtstående arbejdstøj til noget af det mest populære afslappede stykke tøj i det enogtyvende århundrede. Og dog, selvom jeans er noget af det mest almindelige tøj, er der mange ubesvarede spørgsmål omkring dem. Lad os komme til bunds med dette omfattende emne og begynde at bedre forstå disse bukser vi alle går i.
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <h2>Hvornår kom jeans frem i modeverden?</h2>
            De blå jeans vi kender så godt i dag blev først skabt tilbage i 1860’erne af Levi Strauss. Den store guldfeber i Amerika skabte et behov for holdbare bukser, og af den grund blev Levi bedt om at lave nogle billige men holdbare arbejdsbukser. Hans Blue Jeans havde robust stof og forstærkede lommer til at kunne bære guld. Indigoen der gav hans jeans den blå farve var billigt og blev ikke let tværet ud, og derfor blev Levi’s Blue Jeans til den fattige guldgravers tøj. Bukserne var originalt kun skabt til mænd, men i 1870’erne begyndte kvinder også at gå i de ikoniske blå jeans som oprør mod kvindeidealer.
            <br /><br />
            Hans originale bukser ændrede sig ikke meget over årene undtagen for at blive lidt strammere. Det var først i 1960’erne at der begyndte at komme fokus på mulighederne i de simple jeans og all mulige forskellige former og designs blev afprøvet.

            <br /><br />
            <div class="pull-right article-image-right">
                <img src="/Content/Graphics/Articles/bell-bottom-jeans.jpg" itemprop="image" alt="bell bottom jeans" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:300px;">
                    Et ordentligt par bell-bottom jeans.
                </div>
            </div>
            <h2>Tre specielle slags jeans</h2>
            <b>Bell-bottom jeans:</b> Disse <a href="/mand/1-Bukser-og-jeans">jeans</a>, også kaldet trompetbukser, folder ud ved anklen for at skabe en trompetform. De var især populære i 60’erne og 70’erne. En mere low-key version af trompetbukserne findes i de såkaldte ”bootcut” jeans der kan findes i flere tøjbutikker. De her jeans har også udfoldede ankler men ikke lige så meget.
            <br /><br />
            <b>Baggy jeans:</b> Baggy jeans har mere stof i den øvre del af bukserne og i længden, så bukserne får et luftigt udseende. De kommer i mange forskellige variationer fra meget posede til kun lidt posede. Baggy jeans var især populære i 90’erne.
            <br /><br />
            <b>Peek-a-boo jeans:</b> Disse jeans mangler stof i ikoniske stedet som for eksempel manglende lommer der giver et ”peek” til huden indenfor. For at peek-a-boo jeans skal virke ordentligt er det selvfølgelig vigtigt at man ikke har strømpebukser eller lignende på indenunder der blokerer for huden.
            <br /><br />
            <br /><br /><br /><br /><br />
            <h2> Hvornår begyndte ripped jeans at komme frem på markedet?</h2>
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/ripped-jeans.jpg" itemprop="image" alt="Ripped jeans" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    Ripped jeans plejede at være et symbol for fattigdom.
                </div>
            </div>
            Ripped jeans startede som faktiske arbejdsskader på arbejdsbukser i 1970’erne. Fordi den almene fattige arbejder ikke havde råd til at købe nye bukser blev de ødelagte bukser beholdt ud af behov. Denne ydmyghed kom til udtryk hos diverse grupper af specielle politiske og spirituelle meninger der gerne ville vise sympati for den fattige arbejderklasse, og senere som udtryk af oprør under rock og punk grupper. Det var først i 1980’erne at designere rigtigt lagde mærke til disse subkulturer og så populariteten af ødelagte jeans, hos teenagere. Designere begyndte der at sælge for-ødelagte jeans som en form for street fashion.
            <br /><br />
            Ironisk nok er ripped jeans i dag ikke et udtryk for ydmyghed og fattigdom, men tværtimod for rigdom. Nogle mærker af ripped jeans kan gå for over 1000 kr.
            <br /><br />
            <h2>Hvad er forskellen mellem de forskellige slags jeans og hvad skal jeg vælge?</h2>
            Slim fit, skinny fit, high waist, loose fit... Verden af jeans er stor og forvirrende især for nybegyndere i tøjverden. Og når nu internethandel af tøj er begyndt at blive mere og mere relevant, er det specielt vigtigt at vide præcist hvordan et produkt er bygget, når du ikke kan prøve det på før du gør dit køb. Lad os starte helt fra begyndelsen.
            <br /><br />
            <h3>Taljeproblemet</h3>
            Den første forvirrelse er i taljen. Et par 32/32 bukser burde nok forventes at have 32 tommer rundt i taljen, men dette er ikke altid realiteten. Nogle producenter markerer jeans med 34 tommer i taljen som 32 tommer bukser for at få køberen til at have det godt med sig selv. Dette er dog forskelligt fra producent til producent og derfor burde du altid være skeptisk på om taljemålene faktisk passer til din talje. I en butik betyder dette at du altid burde prøve at par jeans inden du køber dem, og på webshops betyder det at du altid burde kigge på de individuelle internetbutikkers størrelsesguides for at være helt sikker på hvordan de måler taljerne på deres jeans.
            <br /><br />
            <h3>Low rise og high rise</h3>
            Et par jeans’ “rise” siger noget om hvor meget plads der er til skridtet. Low rise har lidt plads til skridet, og var først skabt til kvinder for at det ville være mere behageligt. De kan nu også købes til mænd der godt kan lide at området er lidt strammere. High rise giver mere plads til skridtområdet og er det fleste mænd går i.
            <br /><br />
            <h3>Slim fit, skinny fit, regular fit og relaxed fit</h3>
            Disse begreber omhandler lårene og bagdelen. Relaxed fit har meget plads omkring lårene og numsen, lidt som en nedtonet version af baggy pants. Regular fit er det normale de fleste går i med en forholdsvist stram bagdel og lidt mere plads foran. Slim fit sidder ret tæt på kroppen mens skinny fit sidder rigtig tæt på kroppen, med næsten ingen fri plads. Der kan dog være ret meget forvirring mellem skinny fit og slim fit da nogle producenter markerer skinny fit som slim fit og vice versa. Det er som altid bedst at prøve bukserne på, eller henvise til en størrelseguide, inden du køber dem.
            <br /><br />
            <h3>Bootcut, straight, tapered</h3>
            Disse begreber omhandler benene på bukserne. Bootcut åbner op i bunden, lidt ligesom bell-bottom jeans men ikke lige så ekstremt. Straight er normale hele vejen ned, og tapered krammer omkring dine ankler.
            <br /><br />
            <h3>Hvad går jeans godt med?</h3>
            Generelt passer jeans godt ind i de fleste afslappede fredagssæt, men her er tre specielle kombinationer der går rigtig godt med jeans:
            <br /><br />
            <h3>Casual look med sneaks</h3>
            Jeans passer specielt godt med afslappede sneaks som Converse; altså ikke tekniske jeans. Her er det vigtigt at du enten matcher farven på dine sokker med dine jeans så de blender ind eller går i ”usynlige” sokker, altså sokker der ikke går over anklerne og gemmes inde i dine sneaks.
            <br /><br />
            <h3>Country look med en flannel skjorte</h3>
            Hvis du gerne vil gå efter et ordentligt country look med dine jeans er det essentielt at du finder dig en flannel ternet skjorte så du kan fange den rigtige Western stil. Andet der passer godt med dette look er brun læder, især i bælte og sko.
            <br /><br />
            <h3>Summer look med en hvid blazer</h3>
            Mørke jeans passer rigtig godt med en kridhvid blazer for et friskt sommerlook. Her skal dine jeans være sorte eller mørkeblå for at stilen rigtig passer. For en mere afslappet og low-key version af dette kan du gå i en stribet t-shirt indenunder din blazer.
            <br /><br />
            Jeans har været igennem en lang process før de er kommet her til din tøjforretning. Bag alle de forskellige stile og designs ligger der historer om kvinde- og klasseoprør, og som konsekvens står jeans nu som et af de mest tidsløse stykker tøj. Tag ud og nyd det.

            <br /><br />

            Var der noget essentielt vi glemte at nævne om jeans og bukser? Efterlad en kommentar med dit svar!
            <br /><br />
            <small>
                Billeder af:<br />
                Kellyhogaboom: http://bit.ly/1jv6dBF <br />
                Maegan Tintari: http://bit.ly/1Iog4F9 <br />
                c_chan808 : http://bit.ly/21pvzmC

            </small>
            <br />
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(5, "/artiklerne/bukser-og-jeans"))

        <div class="clearfix"></div>
        <br /><br />
        <a href="/kvinde/1-Bukser-og-jeans">Bukser og jeans til kvinder</a><br />
        <a href="/mand/1-Bukser-og-jeans">Bukser og jeans til mænd</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />

        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}