﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/trusser-de-tre-typer" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br />
        <div>
            <h1 itemprop="headline">Trusser – de tre typer</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2015-12-12T08:00:00+08:00" />
        <span class="small pull-left">12. december 2015</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">

            De sidder inderst på kroppen hele dagen, og for mange også hele natten. 24 timer om dagen, 7 dage om ugen, 365 dage om året. Dine <a href="/kvinde/Undertoej/43-Trusser">trusser</a> er altid i kontakt med din krop og derfor er det selvfølgelig vigtigt at de er så perfekte som de kan blive. For at det kan opnås er det nødvændigt at trusserne er behagelige, tilpas frække og smarte.
            <br /><br />
            Før vi begynder er det vigtigt at notere at, lige meget hvilke trusser du ender med at købe, bør altid forsikre at de er i din størrelse. Hvis trusserne ikke passer kan de være ubehagelige at have på, og kan efterlade mærker. Det er også generelt sundt at vaske dine trusser inden du bruger dem første gang, for at fjerne skadelige kemikalier. Derudover bør du udskifte dine underbukser cirka en gang hver 6. måned.
            <br /><br />
            <h2>De behagelige</h2>
            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/trusser1.jpg" itemprop="image" alt="Trusser" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:300px;">
                    Siden trusser er det inderste lag, og har direkte kontakt til huden, er det super vigtigt at de er behagelige at have på.
                </div>
            </div>
            <br />
            En af de vigtigste faktorer i at finde de perfekte par <a href="/kvinde/Undertoej/43-Trusser">trusser</a> er at de skal være behagelige at have på. De skal jo trods alt hele tiden have direkte kontakt med din hud. Her er et par ting du kan overveje når du leder efter behagelige trusser.
            <br /><br />
            <h2> Stof</h2>
            Noget at det blødeste stof du kan finde til trusser er silke og satin, og de er ikke bare dyre for ingenting. Når det kommer til behagelige trusser, er silke og satin noget af det bedste du kan finde. Det kan dog anbefales at finde nogle silketrusser med bomuldstof ved skridtet, da bomuld er mere åndbart end silke. Husk på at silke ikke kan tåle at vaskes i vaskemaskine; det skal vaskes i hånden.
            <br /><br />
            Hvis du ikke er til silke kan bomuld anbefales da det er blødt og let at rengøre. Især økologisk bomuld er godt for huden, da der er færre kemikalier. Undgå syntetiske stoffer, da disse kan skabe irritation hvis du er allergisk.
            <br /><br />
            <h2>Tykhed</h2>
            Det er vigtigt for at det skal være behageligt, at dine trusser hverken er få tykke eller for tynde. Hvis tykten ikke passer kan du ende med et par trusser der enten klør eller ser dårligt ud på dig. Der er ikke nogen universel tykte der er ”for tyk” eller ”for tynd”, men kør altid dine fingre igennem stoffet inden du køber trusserne, og vurder for dig selv om du tror tykten vil være god.
            <br /><br />
            <h2>Seams</h2>
            Trusser med små strenge kan godt efterlade mærker og blive ubehagelige over tid. Derfor kan du overveje at investere i et par seamless underbukser. At underbukserne er seamless betyder at de ikke har folder ved taljen og benene, men i stedet ligger lige tæt på kroppen over det hele.  Fordi der ikke er nogen stramme bånd i kanterne undgår du mærker og det gør også at dine underbukser ikke kan ses gennem leggings eller strømpebukser. Af denne grund er seamless trusser et behageligt og pænt alternativ til trusser.
            <br /><br />
            <h2>De frække</h2>
            Hvis dine trusser skal have flere formål end bare at være behagelige, er det måske tid til at finde et par trusser der er skabt specielt til at ophidse. Der er mange valg når det kommer til frække trusser, og meget af det kommer an på personlige præferencer. Det kan altid anbefales at spørge din partner hvad han/hun selv præferer før du køber noget. Men hvis dine frække trusser skal være en overraskelse, er der her nogle former for trusser der er svære at modstå.
            <br /><br />
            <h2>G-streng</h2>
            <div class="pull-left article-image-right">
                <img src="/Content/Graphics/Articles/trusser2.jpg" itemprop="image" alt="Trusser" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    G-strengen er meget fræk men bør ikke bruges dagligt.
                </div>
            </div>
            <br />
            G-strengen efterlader ikke meget til fantasien, og dette er noget af charmen. Den dækker kun det der er højst nødvændigt; lige omkring skridtet. G-strenge burde kun gås i ved lejlighed, og ikke regulært, da g-stringe godt kan skabe inflammering, infektioner eller irritation hvis de bruges for ofte.
            <br /><br />
            <h2>Cheeky trusser</h2>
            Cheeky trusser har mangler stof i specielle steder, som ved numsen, langs siden, eller et par huller foran under navlen. Dette giver et lille frækt kig på hvad der kan findes indenunder underbukserne og virker derfor som et lille tease.
            <br /><br />
            <h2>Brazilianske trusser</h2>
            De såkaldte ”Brazilian panties”, eller brazilianske trusser, sidder fast længere oppe på hofterne end normale trusser. Dette betyder at de sidder bedre fast og ikke får dig til at have det som om du får en konstant olfert. Derudover viser brazilian panties lidt mere hud nederst bagi, hvilket er den perfekte gave til den numseelskende partner.
            <br /><br />
            <h2>Blonder</h2>
            Det smukke broderi i blonder er et fantastisk valg til sexede underbukser. Blonder er ofte broderet på et halvgennemsigtigt stof, hvilket giver et smugkig indtil huden indenfor. Derudover er broderierne på blonder altid detaljerede og meget smukke at se på.
            <br /><br />
            <h2>De smarte</h2>
            En ny slags trusser er nu på vej ind i markedet. Trusser såsom Knock out! Smart panties bruger speciel teknologi til at opsuge væske og lugt i trusser. Dette betyder at trusserne kan holde sig tørre selv efter intens, svedig træning, og kan endda virke som reserve til den tid på måneden. Trusserne holdes også fuldstændig lugtfri. Dette gøres ved små glukose molekyler der absorberer lugten i små lugtlommer som kun frigøres når trusserne kommes i vaskemaskinen. Så hvis du er typen der træner tit, eller bare har lyst til at holde dine underbukser tørre lige meget hvad, så kan det være at du skal til at lede efter nogle smarte trusser som disse.
            <br /><br />
            Med så meget tid tæt på din krop er det vigtigt at dine trusser er det bedste du kan få, skræddersyet til præcist dine præferencer. Heldigvis er der, som du kan se, et helt virvar af trussetyper til enhver slags kvinde. Det gælder bare om at finde ud af hvilken en af de kvinder der er dig.
            <br /><br />
            Var der noget essentielt vi glemte at nævne om trusser? Efterlad en kommentar med dit svar!



            <br /><br />

            <br />
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(7, "/artiklerne/trusser-de-tre-typer"))

        <div class="clearfix"></div>
        <br /><br />
        <a href="/kvinde/Undertoej/43-Trusser">Trusser til kvinder</a><br />
        <a href="/mand/Undertoej/83-Underbukser">Underbukser til mænd</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />

        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}