﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/den-fabelagtige-skjorte" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br/>
        <div>
            <h1 itemprop="headline">Hvad du ikke vidste om den fabelagtige skjorte</h1>
            <img src="/Content/Graphics/Articles/Shirts1.jpg" />
        </div>
        <br />
        <meta itemprop="datePublished" content="2015-10-31T08:00:00+08:00" />
        <span class="small pull-left">31. oktober 2015</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">
            Skjorten er blevet en stor del af moden i dag og mange har skjorter som en fast del af deres daglige outfit.  Med flip og brystlommer pryder vi vores kroppe med dens farver og finesser. Men det har ikke altid været sådan. Skjorten har været igennem en lang og forunderlig rejse for at ende op i vores klædeskabe og mange tanker og overvejelser har gået ind til at forme den præcist som den ser ud i dag. Af denne grund vil vi i dag udforske og celebrere den fabelagtige skjorte.

            <h2>Skjortens historie</h2>
            Det første stykke tøjbeklædning der begynder at ligne den moderne skjorte kom frem tilbage i middelalderen. Dengang havde skjorten hverken flip eller manchetter; kun en linning der kunne strammes eller knappes. Disse skjorter var normalt af linned eller silke til de mere sofistikerede og blev brugt som nattrøje eller underbeklædning i mandens klæde. Skjorten spillede altså en mere beskeden rolle.
            <br /><br />
            Det var først i 1700 tallet at trøjen rigtig blev sat i spotlightet. Den blev overdådigt pyntet med kalvekryds, store flipper, broderier og ekstravagante flæser og båret af adlen.
            <br /><br />
            I England på dette tidspunkt var de velkendte skotskternede mønstre der bliver brugt på mange skjorter nu til dags fuldstændigt forbudt på grund af deres rebelske symbolik i Skotland. Dette forbud blev først ophævet i 1782.
            <br /><br />
            I midten af 1800 tallet blev skjorterne slimmere, mistede deres flip og begyndt at pryde alle mulige farver som sports- og arbejdstrøjer. Den hvide skjorte var reserveret til de rigere som et symbol på velstand.
            <br /><br />
            Efter første verdenskrig begyndte der at komme store ændringer til skjorten. Frakkemodellen, med knapningen forrest, begynder at blive populær. Den faste flip kom tilbage og nylonstof med korte ærmer begyndte at blive normale. I 1960’erne blev brystlommen tilsat og den moderne skjorte var endelig færdiggjort. Hvordan den kommer til at se ud i fremtiden kan kun spekuleres.
            <br /><br />
            <img src="/Content/Graphics/Articles/Shirts3.jpg" class="pull-left article-image-right" />
            <h2>Hvorfor er knapperne på højre side på mænds skjorter og venstre side på kvinders skjorter?</h2>
            Der er mange forskellige idéer til svaret på denne omfattende gåde, men ingen er helt sikre på det konkrete svar. Det er i hvert fald en facon der går langt tilbage og har holdt ved mest på grund af tradition.
            <br /><br />
            Nogle hævder at det er grundet den store forskel mellem mænd og kvinder i samfundet. I adlen var det normalt at manden knappede sin egen skjorte mens kvinden fik kammerpiger til at knappe sin. Det var derfor simpelthen nemmest for kammerpigerne at knappe fruens skjorte hvis knapperne sad omvendt.
            <br /><br />
            Andre siger at det er en tradition der omfatter høflighed. Til middagsselvskaber i gamle dage var det normalt at kvinden sad til højre for manden. Derfor siger nogle historikere at forskellen på mandeskjorter og kvindeskjorter var grundet at det var respektfuldt at have ”åbningen” på sin skjorte (flappen) i retning mod det andet køn.
            <br /><br />
            <h2>Hvorfor er det sidste hul på skjorten vandret?</h2>
            Mange skjorters knappehuller er lodrette hele vejen ned undtagen for det sidste hul som er horisontalt. Hvad i alverden er grunden til denne unormale struktur? For at besvare dette spørgsmål er det nødvendigt at forstå hvordan knappehullerne virker. Der er større chance for at en knap bliver siddende i sit hul hvis trækkene der stresser trøjen i er samme retning som hullerne. Siden der simpelthen bare er mere horisontalt stress på skjorterne sidder knapper bare bedre fast i horisontale huller.
            <br /><br />
            Så hvorfor er alle huller på skjorten ikke bare vandrette? Det er fordi at lodrette huller ser mere harmoniske ud på en skjorte. Derfor bruges de mere praktiske horisontale huller kun i steder hvor de ikke normalt ses, som i bunden af skjorten der normalt er presset ned i bukserne.
            <br /><br />
            <h2>Hvorfor bliver skjorter krøllede?</h2>
            Det kan være rigtig irriterende og frustrerende hele tiden at skulle stryge sine skjorter hver gang at de bliver krøllede. Men hvorfor gør de egentlig det?
            <br /><br />
            De fleste skjorter er lavet af bomuld, hvilket er 94% cellulose. Cellulose er rigtig god til at optage fugt, og derfor så bliver skjorter bløde når de bliver våde, og så krøller de. På grund af fugten i luften og det vand du afgiver gennem sved kan dette ske selv i dit klædeskab eller simpelthen bare ved at du har den på.
            <br /><br />
            Heldigvis er der mange kreative idéer til at gøre din skjorte flot og glat hvis du er træt af den gamle frem-og-tilbage strygemaskine metode. For eksempel kan du prøve at hænge skjorten uden for din bruser når du tager bad. Den varme damp der fylder rummet vil stryge din skjorte for dig nemt og problemfrit. Hvis skjorten føles våd og klam bagefter kan den bare hænges til tørre i et andet værelse bagefter. Og voila! – Din skjorte er nu klar til at imponere alt og alle.
            <br /><br />
            Nogle fabrikanter kan også lave strygefri skjorter ved at mindske skjortens evne til at optage vand. Dette sker dels ved diverse formaldehydprodukter, et kemikalie der gør fibrene stivere så de ikke kan optage fugt lige så godt. Minusset ved denne behandling er at ved at gøre skjorten dårlig til at optage vand bliver den også dårlig til at optage kroppens naturlige sved, hvilket kan skabe diverse hygiejniske problemer. Stivheden kan også gøre at skjorten bliver hurtigere slidt. Men det kan være en billig pris at betale for aldrig mere at skulle stryge sin skjorte.
            <br /><br />
            <h2>Mindeværdige brug af skjorten</h2>
            <div class="pull-right" style="margin-left: 10px;margin-bottom:10px;">
                <img src="/Content/Graphics/Articles/ForestGumb.jpg" itemprop="image" alt="Forest Gumb" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                    Forrest Gump som barn i hans ikoniske blå skjorte.
                </div>
            </div>

            <b>Tidligt i 1900-tallet:</b> Den ikoniske oxford skjorte bliver lanceret i Skotland og bliver den uofficielle uniform for polo tilskuere.
            <br /><br />
            <b>1994:</b> Filmen Forrest Gump bliver udgivet hvori Forrest bærer en blåternet skjorte i starten af hver tidsændring.
            <br /><br />
            <b>2004:</b> Siemens udgiver deres produkt ironMan, en oppustelig mand der kan stryge en skjorte gennem varm luft hvis man giver ham den på.
            <br /><br />
            <b>2007:</b> ”The Flannel Fridays Club” (Skjorte fredags klubben) bliver dannet i Oneida, New York.
            <br /><br />
            <b>2010:</b> Lacoste udgiver deres duft trio Eua De Lacoste L. 12. 12. som er inspireret af duften af en polo skjorte.
            <br /><br />
            <b>2013:</b> Trods dens symbolisme for solidaritet, minimalisme og alt der går imod kapitalisme sætter John Fogerty fra bandet Creedence Clearwater Revival sin blåternede skjorte til salg for $70 dollars per skjorte.
            <br /><br />

            Var der noget essentielt vi glemte at nævne om den utrolige skjorte? Efterlad en kommentar med dit svar!
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(1, "/artiklerne/den-fabelagtige-skjorte"))

        <div class="clearfix"></div>
        <br /><br />
        <a href="/kvinde/Skjorter/59-Skjorter">Se skjorter til kvinder</a><br />
        <a href="/mand/Skjorter/59-Skjorter">Se skjorter til mænd</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />
            <h3>Skjorter</h3>
        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}