﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/Saadan-vaelger-du-det-rigtige-sommertoj" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br />
        <div>
            <h1 itemprop="headline">Sådan vælger du det rigtige sommertøj</h1>
        </div>
        <br />
        <meta itemprop="datePublished" content="2020-06-03T11:00:00+01:00" />
        <div itemscope itemprop="author" itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Julie" />
        </div>
        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="fedttoj.dk" />
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            </div>

            <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            <meta itemprop="url" content="https://fedttoj.dk" />
        </div>

        <span class="pull-left">3. juni 2020</span>
        <span class="small pull-right">


        </span>

        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody" class="article">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <img src="~/Content/Graphics/Articles/Sommertoj.jpg" itemprop="image" alt="Sådan vælger du det rigtige sommertøj" class="img-responsive" />
                </div>
                <div class="col-xs-2"></div>
            </div>
            <br /><br />

            Så snart at sommeren for alvor har meldt sin ankomst og solen er begyndt at titte frem og varme, så er det på høje tid at lave en lille gennemgang i garderoben og sørge for at du er klar til den nye sæson. Det er tid til at pakke de tunge støvler, huer og vanter og tunge uldfrakker væk, og i stedet hive overgangsjakker og luftig, lyst tøj frem. Det er også en god anledning til at gennemgå dit tøj helt generelt, og måske også rydde lidt op. Måske har du slet ikke savnet en række gamle sommertoppe, og så giver det god mening at få ryddet ud i dem så du har en frisk og fin garderobe til sommer, hvor du glæder dig til at bruge alle tingene.
            <br /><br />
            Det kan også være du skal købe nyt – måske har du skiftet stil, måske trænger du til at få frisket lidt op, eller måske mangler du f.eks. shorts eller flere tynde t-shirts. Her er et par tips til hvad du skal kigge efter for at forberede dig på sommervarmen, både når det gælder dit eget tøj men også hvis du gerne vil ud og shoppe til den nye sæson. Husk at som tommefingerregel, så er naturlige materialer bedst til at holde varmen på afstand og holde kroppen nedkølet, men der findes også gode produkter i blandingsmaterialer.
            <br />
            <h2>Gå efter lyse farver</h2>
            Det sker næsten helt automatisk; når solen bager og alt springer ud i fuldt flor, så er de tunge, mørke farver pludselig ikke lige så tiltrækkende længere. Men der er også en anden grund til at det er en god idé at gå efter de lyse farver – de er nemlig bedre til at holde kroppen afkølet sammenlignet med de mørke farver. Sort tøj vil absorbere lyset, mens hvidt tøj vil reflektere det og dermed kaste det tilbage. Det er super nyttigt hvis man går ude hele dagen og helst ikke vil bage i solen og beskytte sig mod solskoldning uden at blive overophedet.
            <br /><br />
            Der er mange der godt kan være lidt bekymrede for at f.eks. hvidt tøj og andre meget lyse farver er mere gennemsigtige end mørke farver. Det er dog ikke nogen stor udfordring hvis du sørger for at investere i noget hudfarvet undertøj. Mange begår den fejl at matche hvidt tøj med hvidt undertøj, men det kan ses under tøjet. Hudfarvet undertøj vil i stedet ”blende” med huden og dække dig til uden at det kan ses igennem tøjet.
            <br />
            <h2>Brug lette materialer</h2>
            Det giver selvfølgelig sig selv – tunge materialer der sidder tæt ind til huden vil holde på sved og varme, mens lettere og løst tøj vil give huden mulighed for at ånde og transportere varme væk fra kroppen. Du kan nemt hoppe i jumpsuits, kjoler og endda lange, løse bukser så længe materialet er let og åndbart, og blive både skærmet fra solstråler og være nedkølet. Hvilke materialer er gode at gå efter?
            <br />
            <h3>Silke</h3>
            Silke er meget let og løst, men også et dyrt og meget sårbart materiale. Du skal derfor være omhyggelig med at sende silke til rens og passe godt for det. De mørkere materialer har heller ikke godt af direkte sollys. Et alternativ kan også være mere satin-lignende stoffer som er mere modstandsdygtige og lidt billigere. Det er dejligt køligt at bruge, og de fleste tøj i materialet ser ekstra elegant ud på grund af de lidt skinnende finish.
            <br />
            <h3>Hør</h3>
            Hør er et let og meget holdbart naturmateriale. De fleste tænker muligvis på det naturfarvede stof der virker lidt for hippie-agtigt, men det fås efterhånden i masser af farver og med flotte designs som man kan gå i hele sommeren. Især jumpsuits og kjoler er utrolig populære og ser fine ud i hør.
            <br />
            <h3>Ren bomuld</h3>
            Bomuld har en let struktur der er perfekt til tynde t-shirts, kjoler og lignende der nemt kan transportere varmen væk fra kroppen. Man kan få bomuld i meget svingende kvalitet, men gå efter god kvalitet og lette designs.
            <br />
            <h2>Tøj der passer til anledningen</h2>
            Vi laver mange forskellige aktiviteter om sommeren – bader, går i byen, tager ud i naturen, og meget mere. Derfor er det vigtigt at du har sommertøj der passer til alle aktiviteter du kaster dig ud i mens du har ferie og nyder det gode vejr.
            <br />
            <h2>Sørg for at have passende tøj til aktiviteter</h2>
            Lad være med at smide alt dit gamle og slidte tøj ud med det samme. Hvis du f.eks. skal ud og lave fysisk krævende aktiviteter eller højst sandsynlig bliver beskidt, så er det smart at have noget gammelt tøj på som du ikke har noget imod bliver ødelagt. Der er intet værre end kun at have alle sine yndlingsting og risikere at ødelægge dem fordi du ikke gemte lidt gammelt tøj.
            <br />
            <h2>Brug flere lag</h2>
            Det er smart at have tøj ved hånden der nemt kan ændre dit outfit. Det gælder både en trøje du kan trække over hovedet om aftenen når solen er gået ned, såvel som en let cardigan og en wrap-kjole du nemt kan smide på når du er kommet op fra vandet. Det handler om at være smart så tøjet kan bruges til flere anledninger – det gør det også super nemt at pakke en kuffert hvis du skal ud og rejse.
            <br />
            <h2>Skift tøj oftere</h2>
            Når først temperaturerne kravler opad, så begynder man automatisk at svede mere i løbet af dagen. Derfor er det en god idé at sørge for at du både har tøj til hverdag, men også har noget du kan skifte til. F.eks. hvis du cykler på arbejde hver dag og helst ikke vil have en svedig trøje på resten af dagen, eller hvis du har været ude og aktiv en hel dag men skal ud om aftenen. Man skal være forberedt på at skulle skifte tøj lidt oftere, men til gengæld har du så mulighed for at kunne nyde sommeren og være aktiv uden bekymringer.
            <br /><br />
            Hvis du starter med at sortere ud i garderoben nu, så kan du nemt komme igennem overgangsperioden og være klar til den varmere sæson når sommeren banker på.

            <br /><br />




            <br /><br />


        </article>
        <br /><br />

    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "Sådan vælger du det rigtige sommertøj",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/Sommertoj.jpg",
        "description": "Så snart at sommeren for alvor har meldt sin ankomst og solen er begyndt at titte frem og varme, så er det på høje tid at lave en lille gennemgang i garderoben",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-06-03T11:00:00+01:00"
        }
    </script>



}