﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/Tema-vinter–musthaves-til-din-vintergarderobe" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br />
        <div>
            <h1 itemprop="headline">TEMA: VINTER – musthaves til din vintergarderobe!</h1>
        </div>
        <br />
        <meta itemprop="datePublished" content="2020-12-09T14:00:00+01:00" />
        <div itemscope itemprop="author" itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Julie" />
        </div>
        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="fedttoj.dk" />
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            </div>

            <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            <meta itemprop="url" content="https://fedttoj.dk" />
        </div>

        <span class="pull-left">09. december 2020</span>
        <span class="small pull-right">


        </span>

        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody" class="article">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <img src="~/Content/Graphics/Articles/temavinter.jpg" itemprop="image" alt="TEMA: VINTER – musthaves til din vintergarderobe" class="img-responsive" />
                </div>
                <div class="col-xs-2"></div>
            </div>
            <br /><br />

            Vi er godt inde i vinterperioden, og det er typisk kendetegnet af optakt til jul, med masser af hygge, varm kakao og stearinlys indendørs, mens blæsten river udenfor i mørket. Det er ikke den varmeste, men helt sikkert den hyggeligste tid på året.
            <br />
            Men det er ikke kun julehyggen, juleslikket og al den gode mad der trækker. Det er selvfølgelig også julegaver! Hele vinterperioden er præget af massevis af udsalg, gode tilbud – lige fra Black Friday til det store januarudsalg, hvor julegaverne byttes, og der bliver købt ind af udsalgsvarer i linde strømme.
            <br /><br />
            Det er nemt at lade sig blive revet med af udsalgsræset, men hvis du ikke passer på, så kan du risikere at ende med en masse tøj som måske var sat ekstra meget ned, men som du enten allerede har alt for mange af, eller som ikke passer ind i din garderobe eller stil. I stedet er det en god idé at tage et kig på din garderobe, og vurdere hvilke stykker tøj du mangler eller som måske kan opgraderes. Man kan nemlig sagtens være heldig at få fat i en masse lækre ting, som er på vej ud af sæson, men som er af høj kvalitet og kan bruges næste år. Men hvordan kan du vide hvad din vintergarderobe mangler?
            <br /><br />
            Det er ganske enkelt – du skal bare tage et kig på vores liste her. Vi har samlet de vigtigste musthaves som enhver kvinde bør have i sin garderobe. Du kan enten have én af hver slags, eller du kan have flere slags, måske nogen der er gode til hverdag og arbejdet, og andre der er gode til at peppe dit outfit lidt op. Hvis du finder ud af, at du ikke kan krydse alle disse items af, så er det på tide at gøre sig klar til at gå på jagt i udsalgene!
            <br />
            <h2>En varm striktrøje</h2>
            Det virker måske indlysende, men det er en af de ting i din garderobe som bare skal være i orden. Vintrene i Danmark kan godt blive kolde, så det er vigtigt at du hurtigt kan række ud efter nogle store, tykke sweatere om morgenen og trække over hovedet. De tykke sweatere i uld er perfekte når det først bliver rigtigt koldt, men det er klart, at du selvfølgelig også kan have et par ekstra. I år er det især de mere finstrikkede, pæne striktrøjer der er i fokus, hvor du bl.a. kan få striktrøjer med fine knapper, med pufærmer og andre elegante detaljer. Det er oplagt til f.eks. arbejde og fest. En lidt tyndere strik kan også sagtens bruges langt ind i foråret. Vælg både strik i neutrale farver der passer til alt, og så nogle lidt mere farverige for at peppe garderoben op.
            <br />
            <h2>Gode, solide støvler</h2>
            Igen er dette en ting man ikke kommer udenom hvis man bor i et land som Danmark. De gange hvor sneen falder, er det i øvrigt ikke alle steder der bliver ryddet lige godt for sne, og så regner det også en del. Det betyder, at du helst skal være i besiddelse af nogle grove støvler der er vandtætte og kan stå imod det meste. Læder er et meget populært valg, da det typisk er holdbart, men du skal også huske at passe på skoene. Brug læderfedt, skocreme, og sørg for at tørre skoene af efter du har været ude, så du ikke får mærker fra salt eller regn. Til de dage hvor vejret er knapt så vildt, kan du så bruge nogle lidt lettere støvler, f.eks. en pæn ankelstøvle i ruskind. Det er et mere sart materiale, men ser super flot ud og kan også bruges under arrangementer og lignende.
            <br />
            <h2>Varm vinterfrakke</h2>
            Vinterjakken er en af de vigtigste ting i din garderobe, og her skal du være ekstra opmærksom på at vælge en frakke med omhu. Frakken tjener nemlig to funktioner; først og fremmest skal den kunne holde dig varm, men det er også vigtigt, at den ser pæn ud og passer til din stil, for du skal højst sandsynligt have den på hver dag, og mange folk vil reelt kun se dig i frakken. Vælg gerne en varm uldfrakke i et klassisk snit og en neutral farve, som passer til alt. Derudover er der også et stort udvalg af andre, mere farverige frakker, der kan være gode at have hvis man gerne vil skifte udtryk.
            <br />
            <h2>Accessories – hue, vanter, halstørklæde</h2>
            Det er ikke altid nok med bare en god varm frakke og et par støvler. Meget af varmen slipper nemlig ud i de yderste led af kroppen, f.eks. hænderne, og så omkring vores hoved. Derfor er det vigtigt, at du har en god hue, et par varme vanter, og halstørklæde. De kan nemt tages af hvis det bliver for varmt. Når frostgraderne begynder at melde sin ankomst, så er det også godt at have et par uldsokker som du kan have på nede i støvlerne, så dine fødder ikke fryser til is.
            <br />
            <h2>En flot håndtaske</h2>
            Prikken over i’et og det sidste touch til et flot vinteroutfit, hvor du både kan holde dig varm og samtidig se stilfuld ud, er selvfølgelig en fin taske. Hvordan tasken ser ud, afhænger selvfølgelig af hvilken livsstil du har og hvilke typer tasker du foretrækker. Måske skal det være en lækker totebag, måske en crossbody i læder, eller en arbejdstaske – det er op til dig. Det vigtigste er, at tasken også kan tåle sne og regn, og er i god kvalitet til at kunne holde i flere sæsoner frem. Igen anbefaler vi en taske i en neutral farve, og så måske en mere farverig af slagsen.
            <br /><br />
            Vi håber, at du har kunnet lade dig inspirere af vores liste over musthaves i vintergarderoben. Når du kan krydse alle disse ting af, så er du godt forberedt og kan se stilfuld ud hver eneste dag, uden at gå på kompromis med komfort og varme. Hvis du stadig mangler en ting eller to, så er det bare med at gå på jagt i udsalgene – der er masser af penge at spare. Held og lykke!



            <br /><br />


        </article>
        <br /><br />

    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "TEMA: VINTER – musthaves til din vintergarderobe!",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/temavinter.jpg",
        "description": "Vi er godt inde i vinterperioden, og det er typisk kendetegnet af optakt til jul, med masser af hygge, varm kakao og stearinlys indendørs, mens blæsten river udenfor i mørket",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-12-09T14:00:00+01:00"
        }
    </script>



}