﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-lg-8" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/alt-om-tshirts" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br/>
        <div>
            <h1 itemprop="headline">Alt om T-shirts</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2015-12-19T08:00:00+08:00" />
        <span class="small pull-left">19. december 2015</span>
        <span class="small pull-right">af Malthe Sporring</span>
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">


            T-shirten... Størstedelen af verden ejer en; faktisk siger 70% af mænd og 54% kvinder at de ejer over 10 t-shirts. I dag ses t-shirten som et af de mest basiske stykker tøj i det daglige outfit, og bliver brugt til at vise personligheder og interesser i form af logoer og prints. Men hordan i alverden fik sådan et simpelt stykke tøj så meget popularitet? Og hvordan bliver t-shirts overhovedet lavet?
            <br /><br />
            Lad os finde ud af det.
            <br /><br />
            <h2>T-shirtens historie</h2>

            T-shirten har ikke altid været en så stor del af vores kultur som den er i dag – mange faktorer har været med til at gøre den så populært et stykke tøj. Her er nogle af de vigtigste datoer i t-shirtens historie.
            <br />
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/t-shirts1.jpg" itemprop="image" alt="T-shirts" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    Det ikoniske t-shirt print som reddede turistindustrien.
                </div>
            </div>
            <br />
            <ul>
                <li>Den første store brug at t-shirts var under den spansk-amerikanske krig som brug som undetrøje i den Amerikanske flåde. Herefter begynder t-shirts langsomt at komme frem på markedet.</li>
                <li>I 20’erne bliver”T-shirt” officielt set som et ord, da det bliver medtaget i Merriam Webster’s ordbog. Den får navnet fra dens T-lignende udseende.</li>
                <li>I 1939 bliver den første salgsfremmende t-shirt lavet, nemlig ”The Wizard of Oz” t-shirt med teksten ”Follow The Yellow Brick Road”.</li>
                <li>T-shirtens rigtig store gennembrud kom fra da Marlon Brando bar hvide t-shirts i filmen ”A Street car Named Desire” i 1951. Herfeter blev t-shirten vildt populær. Kort derefter blev der solgt T-shirts for 180 millioner dollars.</li>
                <li>I 1977 bliver den bekendte turist t-shirt med hjertet skabt og den genopliver turistbranchen.</li>
                <li>Krøllefri t-shirts bliver opfundet i 2001 og tager tøjet til et helt nyt niveau da det ikke skal stryges mere.</li>
            </ul>
            <br />
            <h2>Hvordan bliver t-shirts skabt?</h2>
            Processen i at skabe en bomulds t-shirt begynder på marken. Her bliver række efter række af bomuld produceret, sandsynligvis et sted i Kina, Indien eller USA. Bomuldskuglerne bliver samlet af store maskiner.
            <br /><br />
            Herfra kommer bomuldkuglerne taget til en maskine der separerer de individuelle bomuldskugler og presser dem til baller.
            <br /><br />
            Bomuldsballerne bliver herfra sendt til en spinder, hvor de bliver kæmmet og vredet til garn.
            <br />

            <div class="pull-right article-image-right">
                <img src="/Content/Graphics/Articles/t-shirts2.jpg" itemprop="image" alt="T-shirts" /><br />
                <br />
                <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;width:404px;">
                    Der bliver solgt cirka 2 milliarder t-shirts hvert år.
                </div>
            </div>
            <br />
            Derefter er bomulden sendt til en vævemaskine som væver bomulden til stof. Når bomuldsstoffet er vævet bliver det sendt til  det såkaldte ”vådbearbejdning”, hvor stoffet bliver tilsat varme og kemikalier indtil det får den rette følelse. Det er her at alle eventuelle specielle kemikalier bliver tilsat, som for eksempel et kemikalie der gør det lettere for t-shirten at optage farve.
            <br /><br />
            Så bliver stoffet sendt rundt omkring på jorden til de forskellige manufakturerings fabrikker. Her bliver stoffet klippet og syet til t-shirts.
            <br /><br />
            Herfra er der mange metoder til at farve og tilsætte print til t-shirten, men mange fabrikker bruger screen-printing til at farve t-shirten. Dette virker ved at lave en ramme af printet og rulle blæk henover rammen så der kun kommer farve inde i figuren. Når blækken har sat sig lægges rammen oven på t-shirten og den sættes til at tørre.
            <br /><br />
            Det sidste skridt er at folde t-shirten og sende den til tøjforretningen, eller, hvis du har bestilt den online, til et lager hvorfra det bliver sendt direkte til din dør så du kan nyde den. Mange skridt og meget arbejde for et stykke tøj der kan koste så lidt som 50 kroner.
            <br /><br />
            <h2>Seje t-shirts</h2>

            Gennem tiderne har der været mange muligheder for at eksperimentere med sej teknologi på t-shirts. Her er fire af de fedeste resultater.
            <br />
            <ul>
                <li>Den dynamiske 8-bit Life t-shirt. Denne t-shirt viser en række retro hjerter der er halvt fyldt. Når du kommer i krammevidde med en anden person der bærer denne t-shirt lyser alle hjerterne op og viser jeres kærlighed. Perfekt til parret der elsker retrospil.</li>
                <li>Den elektroniske drum machine t-shirt virker som en rigtig mixerpult – på din mave!  Den har flere trykplader på maven der afspiller forskellige lyde når den bliver trykket på, så du endelig kan realisere din drøm om at være en omvandrende DJ.</li>
                <li>Hypercolor t-shirts skifter farve med varme, som for eksempel kropsvarmen fra en venlig hånd. Disse t-shirts var rigtig populære i 1990’erne, men virksomheden der producerede dem gik desværre bankerot kort efter deres stortid, i 1992. Hypercolor t-shirts findes stadig i dag, men man skal lede lidt mere for at finde dem.</li>
                <li>Teknologi har skabt hydrofobiske t-shirts der faktisk kan frastrøde alt flydende. I stedet for at lave pletter glider væsken bare ned af din t-shirt og rammer jorden. Så nu kan du endelig vinke farvel til plettede t-shirts og roligt gnaske alle de ketchupfyldte hotdogs du kunne få lyst til at spise!</li>
            </ul>
            <br />

            <h2>Sjove faktaer om t-shirts</h2>
            <ul>
                <li>Der bliver produceret cirka 2 milliarder t-shirts i verden hvert år.</li>
                <li>I produktionen af en enkelt t-shirt vil materialer blive transporteret over 1000 km.</li>
                <li>Bomuld fra en enkelt t-shirt kan være sammensat af op til 60 forskellige bomuldsmarker.</li>
                <li>Der går over 4,3 tusinde liter vand til produktionen af en enkelt t-shirt.</li>
                <li>Rekorden for flest t-shirts båret på en gang er 257, og blev taget af Sanath Bandara i 2011.</li>
                <li>91% af Amerikanere hævder at de har en yndlings t-shirt.</li>
                <li>Det tager over 9 kilometer garn til at lave bare en enkelt t-shirt.</li>
                <li>Der findes skudsikre t-shirts.</li>
                <li>Verdens dyreste t-shirt koster over 2,7 millioner kroner.</li>
                <li>Verdens største t-shirt har målene 80x52 meter og har nok stof til at lave 12 000 normale t-shirts. Den fylder næsten en hel fodboldbane.</li>
            </ul>
            <br />
            <br />
            T-shirten er altså ikke så simpel og ukompliceret som den ser ud. Bag dens ydre er en lang historie og en masse kompliceret produktion med speciel teknologi. Men gennem alle disse fantastiske udviklinger har t-shirten formået at blive et af de mest populære stykker tøj. Ret godt klaret for en simpel T-formet trøje.


            <br /><br />

            Var der noget essentielt vi glemte at nævne om t-shirts? Efterlad en kommentar med dit svar!
            <br /><br />

            <br />
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(6, "/artiklerne/t-shirts"))

        <div class="clearfix"></div>
        <br /><br />
        <a href="/kvinde/Shirts/48-T-shirt">T-shirts til kvinder</a><br />
        <a href="/mand/Shirts/48-T-shirt">T-shirts til mænd</a>
    </div>
    <div class="col-lg-3 col-lg-offset-1 col-md-offset-1">
        <div class="row">
            <br /><br />

        </div>
    </div>
    @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}