﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/veganertoej-oeko-toej-og-fair-trade" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br />
        <div>
            <h1 itemprop="headline">Veganertøj, øko tøj og fair trade</h1>

        </div>
        <br />
        <meta itemprop="datePublished" content="2018-10-14T08:00:00+08:00" />
        <span class="small pull-left">14. oktober 2018</span>
       
        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody">

            Hvad er forskellen på veganske sko, økologisk producerede tekstiler og fairtrade i modeindustrien?
            <br /><br />
            Miljøbeviste forbrugere begiver sig ud i lidt af en jungle inden for tøj- og sko indkøb hvis de gerne vil gøre dét der er bedst for bæredygtigheden, dyrevelfærden og de mennesker der arbejder med produktionen af dine sko og dit tøj. Det ene kan nemlig være godt for dyrene men skidt for miljøet...
            <br /><br />
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/vegan1.jpg" itemprop="image" alt="Vegansk tøj" /><br />
               
            </div>
            <br /><br />
            Tendensen inden for modebranchen er dog helt klar – veganisme, bæredygtighed og corporate responsibility (CRM) er ikke til at komme udenom. Fra at have været en niche for mindre firmaer er øko-tøj produceret under kontrollerede forhold nu blevet en positiv måde at brande sig på, også for de store spillere inden for modeindustrien. Akkurat som øko-æg er blevet et bevist valg for mange forbrugere er den samme tendens gældende i mange andre brancher, og dette gælder også tøj- og skobranchen. Forbrugerne kræver simpelt hen at få at vide at produktet er produceret under forsvarlige forhold og med hensyntagen til miljøet.
            <br /><br />
            - Udfordringen er bare at dine æg kommer fra et sted i Danmark, men når det gælder dig tøj kan der være rigtigt langt fra at stoffet bliver produceret i Bangladesh til det hænger i dit skab i Brønderslev. - Og det kan være næsten umuligt at stole på – og checke for den sags skyld – at produktionsmetoderne, dyrevelfærden og arbejdsforholdene er forsvarlige. Og selv hvis alle de ting er under kontrol, er det umuligt at vide om fabrikken bliver nedkølet af et kulkraftværk der øger udledningen af CO2 på verdensplan.
            <br /><br />
            Det gælder med andre ord om at holde tungen lige i munden.
            <br />
            Men lad os lige få et par begreber på plads!
            <br /><br />
            Vegansk tøj og sko er produkter der er produceret af plantebaserede materialer. Især sko er traditionelt set produceret af læder (fra dyr) og det har indtil for nylig været svært at finde alternativer. Nu er der dog andre muligheder på markedet, men selv de kan give udfordringer for miljøet. Vegansk producerede materialer kaldes også ”cruelty-free” og det skal ses i forhold til at der ikke bruges animalske produkter i produktionen.
            <br /><br />
            <div class="pull-right article-image-right">
                <img src="/Content/Graphics/Articles/vegan2.jpg" itemprop="image" alt="Vegansk tøj" /><br />

            </div>
            <br /><br />
            De alternative materialer kan f.eks. være Muskin, som er læder produceret på svampe og Pinatex, der fremstilles af ananas blade. Kork, som er barken fra et træ, har været brugt i årtusinder og er også ved at få sig en renæssance.
            <br /><br />
            De veganske alternative materialer er stadig i sin vorden og der vil sikkert dukke endnu flere spændende muligheder op de kommende år.
            <br /><br />
            Dog er der endnu ingen afklaring af hvad det kan have af miljømæssige- og sociale konsekvenser for lokal-områderne der leverer svampene, ananas bladene eller korken hvis produktionen af disse produkter går hen og bliver en milliardforretning med tilsvarende stor-produktion.
            <br /><br />
            Cruelty-free produkter kan også være fremstillet af kunstfibre som f.eks. polyester. Umiddelbart lyder det ikke som et problem, men i bund og grund er polyester et plastikprodukt der fremstilles af råolie – så selvom det er et godt materiale, set med dyrevelfærds-brillerne på, så er det absolut ikke godt for miljøet. Og alligevel er der noget der tyder på at polyester er sundere for miljøet end selv økologisk bomuld fordi plastikken kan genanvendes... forvirret?!
            <br /><br />
            Øko-bomuld og andre økologisk producerede naturmaterialer til tøj er ikke længere et særsyn hos mange tøjproducenter. Økologisk produktion er dyrere end ”almindelig” bomuld, af den simple grund at høstudbyttet ikke er så høj som ved konventionel produktion. Men budskabet om at her er et firma der tager miljøet seriøst opvejer som regel ekstra udgiften. Branding værdien har altså noget at sige her. Og selv mainstream kunderne er på vej derhen hvor de også er villige til at betale mere for et stykke øko-tøj, akkurat på samme måde som de er villige til at betale for øko-æggene.
            <br /><br />
            Der er ingen tvivl om at det helt klart er sundere både for miljøet og for de mange ansatte i bomulds-industrien at de ikke dagligt skal arbejde med sprøjtegifte i stor stil og at indfarvningen af stofferne foregår med kemikalier der er mindre farlige for miljøet (og for de ansattes helbred). Men bomulds dyrkning er ikke, og bliver heller aldrig, godt for miljøet. Forbruget af vand til produktionen af bomuld er enormt og markerne hvor de dyrkes er ofte ryddede skovområder. Det bidrager med andre ord både til udledningen af CO2 ved at skovene er forsvundet og kunstvandingen udvasker næringsstofferne i jorden. Og så er der lige det faktum at også øko-bomuld produceres langt fra vores nordisk breddegrader så det skal transporteres hertil.
            <br /><br />
            <div class="pull-left article-image-left">
                <img src="/Content/Graphics/Articles/vegan3.jpg" itemprop="image" alt="Vegansk tøj" /><br />

            </div>
            <br /> <br />
            Til sidst er der Fairtrade. Fairtrade mærket er en international ordning der sikrer at de lokale i 3. verdens lande får fair betaling for deres arbejde så mindsteløn og ordentlige arbejdsforhold overholdes. Der lægges også vægt på at der tages hensyn til miljøet og en del af overskuddet bruges til uddannelse og forbedring af leveforholdene. Her er det altså de sociale konsekvenser der lægges vægt på. Ordningen er gældende for selvstændige eller andels-koorporativer, men altså ikke for ansatte i internationale virksomheder der har en fabrik placeret i det pågældende land. Eller en lokal fabrik der producerer til et europæisk modehus. Så selv hvis produkterne er købt fairtrade sikrer det altså ikke at de bliver forarbejdet af ansatte der får god løn, er gamle nok til overhovedet at arbejde eller at de bliver behandlet ordenligt...
            <br /><br />
            Og nu tænker du nok, at så kan det hele være lige meget? Jeg kan lige så godt købe det tøj jeg kan lide og glemme alt om planter, miljø og arbejdsforhold!
            <br /><br />
            Men NEJ det kan så absolut ikke være lige meget. For handel er i bund og grund et spørgsmål om udbud og efterspørgsel. Så hvis du som kunde KRÆVER at vide hvad dit tøj og sko er produceret af, at de ansatte bliver behandlet ordentligt og at der tages hensyn til miljøet undervejs så skal producenterne nok rette ind.
            <br />
            - Det kommer til at tage tid og der skal sikkert spørges mange gange men det nytter. Et eksempel fra en hel anden branche er ølproducenten Carlsberg. Ikke bare limer de fremover deres øl-dåser sammen i stedet for at bruge plastik emballage, de kræver også at strømmen på deres bryggerier verden rundt produceres af vedvarende energi. Og hvis ikke den lokale strømforsyning kan klare det, ja så bygger de simpelt hen solcelleanlæg og vindmøller lokalt der dækker produktionen.
            <br /><br />
            Husk at DU som forbruger har magten, så brug den til noget der nytter både lokalt og globalt! - Også når det gælder dit hvor dit tøj eller dine sko kommer fra.



            <br /><br />

            <br />
        </article>
        <br /><br />
        @Html.Action(MVC.Article.ArticleComment(20, "/artiklerne/veganertoej-oeko-toej-og-fair-trade"))

        <div class="clearfix"></div>
        <br /><br />
        
    </div>
  
    
    <br />

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}