﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@Html.Partial("_facebookScript")

<div class="row">
    <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
        <br />
        <div class="pull-right">
            <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/De-fedeste-vintertrends-Saadan-styler-du-leggins" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        </div>
        <br />
        <div>
            <h1 itemprop="headline">De fedeste vintertrends: Sådan styler du leggins</h1>
        </div>
        <br />
        <meta itemprop="datePublished" content="2021-02-15T14:00:00+01:00" />
        <div itemscope itemprop="author" itemtype="http://schema.org/Person">
            <meta itemprop="name" content="Julie" />
        </div>
        <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="fedttoj.dk" />
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            </div>

            <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
            <meta itemprop="url" content="https://fedttoj.dk" />
        </div>

        <span class="pull-left">15. februar 2021</span>
        <span class="small pull-right">


        </span>

        <div class="clearfix"></div>
        <br />
        <article itemprop="articleBody" class="article">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <img src="~/Content/Graphics/Articles/vinter3.jpg" itemprop="image" alt="De fedeste vintertrends: Sådan styler du leggins" class="img-responsive" />
                </div>
                <div class="col-xs-2"></div>
            </div>
            <br /><br />

            Leggins er slet ikke til at komme udenom i år, og det er med god grund. Der er kommet et enormt udvalg af diverse leggins på markedet i et væld af farver og styles, så der er helt sikkert noget for alle. Leggins er helt klart et item som langt de fleste kvinder nok har stiftet bekendskab med, da de virkelig vandt indpas efter årtusindeskiftet som et alternativ til bukser (og ikke bare den type leggins man bruger under træning). Men trenden døde efterhånden ud og mistede popularitet, især i takt med at folk vendte tilbage til at foretrække rigtige bukser og jeans i stedet.
            <br /><br /> Men nu er de altså tilbage, og hvis man bare ved, hvordan man styler leggins ordentligt, så kan det se super fedt ud i garderoben og give et ekstra pift til dit outfit. Det er en god idé at anse leggins for at være en mellemting mellem strømpebukser og bukser – afhængig af hvilken type leggins der er tale om, så kan det give dig en idé om, hvordan du skal sammensætte dit outfit.
            <br />
            <h2>Leggins under kjolen eller tunikaen</h2>
            Det er super populært at smide et par leggins under kjolerne, for de kan varme lidt mere end tynde nylonstrømper, og så er der typisk også flere slags prints at vælge mellem. Det kan f.eks. være striber, polkaprikker eller f.eks. blomsterprint. Mange vælger at gå efter de helt ensfarvede, men der findes også masser af spændende prints man kan vælge i mellem. Du kan også bruge dem under en tunika eller en oversized skjorte. Derudover kan du så f.eks. vælge et par gode ankelstøvler til, så der ikke er et for stort mellemrum mellem der hvor dine leggins slutter og hvor skoen starter.
            <br />
            <h2>Leopardleggins</h2>
            Den type af leggins der er allermest populær lige u, er uden tvivl de leggins der kommer i leopardprint. Mange brands har lavet dem i en super flot version der ikke skriger for meget 90’er, men i stedet bare ser vildt moderne ud. Hvis du ikke er til leoleggins i de klassiske farver, så vælg dem i stedet i et gråt mønster. Så får du stadig et fint dyreprint, der giver en ekstra detalje, men de larmer ikke lige så meget som de klassiske brune og beige farver.
            <br />
            <h2>Leggins i læder eller læderlook</h2>
            Endelig, så er leggins i enten læder eller læderlook ret populære. De giver et mere rocket look til dit outfit, og er en fed kontrast til f.eks. en kjole eller hvid skjorte. Du kan selvfølgelig også vælge at køre det rå look fuldt ud og sætte dine læderleggins sammen med grove støvler, en t-shirt og en læderjakke – så ser du helt gennemført og cool ud! Læderleggins gør sig også godt sammen med en tung strik eller f.eks. en fake fur jakke. Det glatte skindlook passer faktisk til utrolig meget, så det er intet under, at mange kvinder er vilde med at købe leggins i netop denne model.
            <br /><br />
            Hvis du er blevet inspireret til at komme i gang med at bruge leggins, så er det bare med at gå på jagt hos alle de online webshops.


            <br /><br />


        </article>
        <br /><br />

    </div>


</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "De fedeste vintertrends: Sådan styler du leggins",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/vinter3.jpg",
        "description": "Leggings er slet ikke til at komme udenom i år, og det er med god grund. Der er kommet et enormt udvalg af diverse leggins på markedet i et væld af farver og styles",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2021-02-15T14:00:00+01:00"
        }
    </script>



}