﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models.ViewModels
@model SearchViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @if (!string.IsNullOrWhiteSpace(Model.Title))
            {
                <h1 class="mobile">@Model.Title</h1>
            }
            else
            {
                <h1 class="mobile">@Model.SearchString</h1>
            }

        </div>
    </div>
    @if (Model.CurrentPageNumber == 1)
    {
        @Html.Partial("SearchSeo")
    }

    @if (Model.PageDescription != null && Model.PageDescription.Length > 10)
    {
        <article class="row">
            <div class="col-lg-12 panel panel-default">
                <div id="article" class="description">
                    @Html.Raw(Model.PageDescription.Replace(Environment.NewLine, "<br />"))

                </div>
                <a href="javascript:readMore()" id="readmore">Læs mere</a>
                <a href="javascript:readLess()" id="readless" style="display:none;">Læs mindre</a>
            </div>
        </article>
    }

    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left">
                <img src="~/Content/Graphics/burgermenu.png" width="35" onclick="togglePriceMenu()" />
            </div>
            <div class="pull-right">
                <select id="sorting" onchange="searchPrice()">
                    @foreach (var item in Model.SortTypes)
                    {
                        <option value="@item.Key" @(item.Key == (int)Model.Sorting ? "selected='selected'" : "")>@item.Value</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="row" id="mobile-price-search">
        <hr />
        <div class="col-xs-6">
            <div class="price-input">
                <div class="price-field">
                    Pris fra:<br />
                    <input type="number"
                           class="min-input"
                           value="0">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="price-input">

                <div class="price-field">
                    Pris til:<br />
                    <input type="number"
                           class="max-input"
                           value="10000">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <a href="javascript:searchPrice()" class="btn btns btn-primary btn-lg pull-right">Søg</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <hr />
        </div>
    </div>
    <br />
    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = Model.CurrentUrl, Pages = Model.Paging, CurrentPageNumber = Model.CurrentPageNumber })
            <br /><br /><br />
            <a href="/tidligere-sogninger" title="Tidligere søgninger">Se tidligere søgninger</a>
            <br /><br /> <a href="/rankering">Info om rankering</a>
        </div>
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-102091469-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            document.getElementById('mobile-search').style.display = 'block';
            mobileSearchVisible = true;

            var currentUrl = '@Model.CurrentUrl';
        var priceMenuVisible = false;
        const priceInputvalue = document.querySelectorAll(".price-input input");
    </script>

    @if (Model.PriceTo > 0)
    {
        <script type="text/javascript">
            priceInputvalue[0].value = '@Model.PriceFrom';
            priceInputvalue[1].value = '@Model.PriceTo';
            document.getElementById("mobile-price-search").style.display = "block";
            priceMenuVisible = true;
        </script>
    }
}
