﻿@using FedttoejMvc.Models.ViewModels
@model SearchViewModel
<div class="row">
    <div class="col-lg-12">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <h1 class="pull-left">@Model.Title</h1>
        }
        else
        {
            <h1 class="pull-left">@Model.SearchString</h1>
        }

        <div class="pull-right">
            <a href="/rankering">Info om rankering</a>
        </div>
    </div>
</div>

@if (Model.CurrentPageNumber == 1)
{
    @Html.Partial("SearchSeo")
}

@if (Model.PageDescription != null && Model.PageDescription.Length > 10)
{
    <article class="row">
        <div class="col-lg-12 panel panel-default">
            <div id="article" class="description">
                @Html.Raw(Model.PageDescription.Replace(Environment.NewLine, "<br />"))
            </div>
            <a href="javascript:readMore()" id="readmore">Læs mere</a>
            <a href="javascript:readLess()" id="readless" style="display:none;">Læs mindre</a>
        </div>

    </article>
}

<div class="row" id="mobile-price-search">
    <hr />
    <div class="col-xs-6">
        <div class="price-input">
            <div class="price-field">
                Pris fra:<br />
                <input type="number" max="10000"
                       class="min-input"
                       value="0">
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="price-input">
            <div class="price-field">
                Pris til:<br />
                <input type="number" max="100000"
                       class="max-input"
                       value="10000">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 clearfix">        
        <select class="pull-left" id="sorting" onchange="searchPrice()">
            @foreach (var item in Model.SortTypes)
            {
                <option value="@item.Key" @(item.Key == (int)Model.Sorting ? "selected='selected'" : "")>@item.Value</option>
            }
        </select>     
        <input type="button" onclick="searchPrice()" class="btn btns btn-primary btn-lg pull-right" value="Søg">
    </div>
    <div class="col-xs-12">
        <hr />
    </div>
</div>
<br />
<div class="row">
    @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
</div>
<div class="row">
    <div class="col-lg-12">
        @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = Model.CurrentUrl, Pages = Model.Paging, CurrentPageNumber = Model.CurrentPageNumber })

        <br /><br /><br />
        <a href="/tidligere-sogninger" title="Tidligere søgninger">Se tidligere søgninger</a>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

         var currentUrl = '@Model.CurrentUrl';
        var priceMenuVisible = false;
        const priceInputvalue = document.querySelectorAll(".price-input input");
        document.getElementById("mobile-price-search").style.display = "block";
    </script>

    @if (Model.PriceTo > 0)
    {
        <script type="text/javascript">
            priceInputvalue[0].value = '@Model.PriceFrom';
            priceInputvalue[1].value = '@Model.PriceTo';

        </script>
    }
}