﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewBag.TheTitle)</title>

    @if (!string.IsNullOrWhiteSpace(ViewBag.PictureUrl))
    {
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="450" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image" content="@ViewBag.PictureUrl" />

    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.TheTitle))
    {
        <meta property="og:title" content="@ViewBag.TheTitle" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.ogUrl))
    {
        <meta property="og:url" content="@ViewBag.ogUrl" />
    }
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@Html.Raw(ViewBag.MetaDescription.Replace("\"", ""))" />
        <meta property="og:description" content="@ViewBag.MetaDescription.Replace("\"", "")" />
    }
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="fejttoj.dk">
    <meta property="fb:app_id" content="707767952639163" />
    @if (ViewBag.MetaKeyWords != null)
    {
        <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeyWords)" />
    }

    @if (!string.IsNullOrEmpty(ViewBag.CanonicalUrl))
    {
        <link rel="canonical" href="https://fedttoj.dk@(ViewBag.CanonicalUrl)" />
    }

    @if (!string.IsNullOrEmpty(ViewBag.PrevPage) && !string.IsNullOrEmpty(ViewBag.RawUrl))
    {
        <link rel="prev" href="https://fedttoj.dk@(ViewBag.RawUrl + (int.Parse(ViewBag.PrevPage) > 1 ? "?page=" + ViewBag.PrevPage : ""))" />
    }

    @if (!string.IsNullOrEmpty(ViewBag.NextPage) && !string.IsNullOrEmpty(ViewBag.RawUrl))
    {
        <link rel="next" href="https://fedttoj.dk@(ViewBag.RawUrl + "?page=" + ViewBag.NextPage)" />
    }

    @if (ViewBag.ShowRobots != null && ViewBag.ShowRobots)
        {
            <meta name="robots" content="noindex,follow" />
        }
    <link rel="dns-prefetch" href="//billeder1.fedttoj.dk">
    <link rel="dns-prefetch" href="//billeder2.fedttoj.dk">
    <link rel="dns-prefetch" href="//billeder3.fedttoj.dk">
    <link rel="dns-prefetch" href="//assets.pinterest.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="shortcut icon" href="https://fedttoj.dk/content/graphics/favicon.ico" />
    <link rel="icon" href="https://fedttoj.dk/content/graphics/favicon.ico" />
    <link rel="SHORTCUT ICON" href="https://fedttoj.dk/content/graphics/favicon.ico" />
    @Styles.Render("~/Style/css")

    <meta name="msvalidate.01" content="3741C713BF3BC2D9F1323FF1B8C79772" />
    <meta name="p:domain_verify" content="ee2e27092ea26bec272a01f0c075858b" />
    <meta name="verification" content="b28b39ba1979a06421989a6ebe3a46d4" />
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "Organization",
        "url": "https://fedttoj.dk",
        "logo": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
    </script>
</head>
<body>
    <div id="fb-root"></div>

    <div class="container main-container">
        <nav class="row">
            <div class="col-lg-5 col-md-5 col-sm-4 col-xs-6 logo">
                <a href="/"><img src="/Content/Graphics/fedttoej-logo.png" alt="Fedt tøj til mænd, kvinder og børn" class="img-responsive" /></a><br />
                <h3>Find masser af fedt tøj @ViewBag.ForSite</h3>
            </div>

            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-6">
                @if (ViewBag.TheArea == Utilities.Area.Women)
                {
                    <div class="AreaNavLeft">
                        <a href="/mand" title="Herretøj - tøj til mænd" style="color:#2f4da2;">
                            <img src="/Content/Graphics/mand.gif" alt="Herretøj - tøj til mænd"  height="50" /><br />
                            Mænd
                        </a>
                    </div>
                    <div class="AreaNavLeftSelected2">
                        <img src="/Content/Graphics/kvinde.gif" alt="Dametøj - tøj til kvinder"  height="50" /><br />
                        Kvinder
                    </div>
                    <div class="AreaNavRight">
                        <a href="/barn" title="Børnetøj - tøj til børn og unge" style="color:#80d0fe;">
                            <img src="/Content/Graphics/barn.gif" alt="Børnetøj - tøj til børn og unge" height="50" /><br />
                            Børn
                        </a>
                    </div>
                }
                else if (ViewBag.TheArea == Utilities.Area.Kids)
                {
                    <div class="AreaNavLeft">
                        <a href="/mand" title="Herretøj - tøj til mænd" style="color:#2f4da2;">
                            <img src="/Content/Graphics/mand.gif" alt="Herretøj - tøj til mænd" height="50" /><br />
                            Mænd
                        </a>
                    </div>
                    <div class="AreaNavLeft">
                        <a href="/kvinde" title="Dametøj - tøj til kvinder" style="color:#ca0e0e;">
                            <img src="/Content/Graphics/kvinde.gif" alt="Dametøj - tøj til kvinder" height="50" /><br />
                            Kvinder
                        </a>
                    </div>
                    <div class="AreaNavRightSelected">
                        <img src="/Content/Graphics/barn.gif" alt="Børnetøj - tøj til børn og unge" height="50" /><br />
                        Børn
                    </div>
                }
                else if (ViewBag.TheArea == Utilities.Area.Men)
                {
                    <div class="AreaNavLeftSelected">
                        <img src="/Content/Graphics/mand.gif" alt="Herretøj - tøj til mænd" height="50" /><br />
                        Mænd
                    </div>
                    <div class="AreaNavLeft">
                        <a href="/kvinde" title="Dametøj - tøj til kvinder" style="color:#ca0e0e;">
                            <img src="/Content/Graphics/kvinde.gif" alt="Dametøj - tøj til kvinder" height="50" /><br />
                            Kvinder
                        </a>
                    </div>
                    <div class="AreaNavRight">
                        <a href="/barn" title="Børnetøj - tøj til børn og unge" style="color:#80d0fe;">
                            <img src="/Content/Graphics/barn.gif" alt="Børnetøj - tøj til børn og unge" height="50" /><br />
                            Børn
                        </a>
                    </div>
                }
                else
                {
                    <div class="AreaNavLeft">
                        <a href="/mand" title="Herretøj - tøj til mænd" style="color:#2f4da2;">
                            <img src="/Content/Graphics/mand.gif" alt="Herretøj - tøj til mænd" height="50" /><br />
                            Mænd
                        </a>
                    </div>
                    <div class="AreaNavLeft">
                        <a href="/kvinde" title="Dametøj - tøj til kvinder" style="color:#ca0e0e;">
                            <img src="/Content/Graphics/kvinde.gif" alt="Dametøj - tøj til kvinder" height="50" /><br />
                            Kvinder
                        </a>
                    </div>
                    <div class="AreaNavRight">
                        <a href="/barn" title="Børnetøj - tøj til børn og unge" style="color:#80d0fe;">
                            <img src="/Content/Graphics/barn.gif" alt="Børnetøj - tøj til børn og unge" height="50" /><br />
                            Børn
                        </a>
                    </div>
                }

            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs search-module">
                @Html.Action(MVC.Home.ActionNames.TopSearchModule, MVC.Home.Name, new { searchText = ViewBag.SearchText })
            </div>
        </nav>
    </div>
    <div class="container-nav">       
        <div class="container">
            <nav class="row">
                <div class="col-lg-12">
                    <ul class="main-nav clearfix">
                        @if (ViewBag.TheArea == Utilities.Area.Women)
                        {
                            <li class="@(ViewBag.CurrentMainCategory == 13 ? "active" : "")"><a href="/kvinde/13-Kjoler" title="Kjoler">Kjoler</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 1 ? "active" : "")"><a href="/kvinde/1-Bukser-og-jeans" title="Bukser og jeans til kvinder">Bukser og jeans</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 2 ? "active" : "")"><a href="/kvinde/2-Shirts" title="Shirts til kvinder">Shirts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 3 ? "active" : "")"><a href="/kvinde/3-Jakker" title="Jakker til kvinder">Jakker</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 4 ? "active" : "")"><a href="/kvinde/4-Bluser-og-troejer" title="Bluser og Trøjer til kvinder">Bluser og Trøjer</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 5 ? "active" : "")"><a href="/kvinde/5-Shorts" title="Shorts til kvinder">Shorts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 6 ? "active" : "")"><a href="/kvinde/6-Diverse" title="Diverse til kvinder">Diverse</a> </li>
                            <li class="@(ViewBag.CurrentMainCategory == 7 ? "active" : "")"><a href="/kvinde/7-Sko-og-stoevler" title="Sko og støvler til kvinder">Sko og støvler</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 8 ? "active" : "")"><a href="/kvinde/8-Undertoej" title="Undertøj til kvinder">Undertøj</a> </li>
                            <li class="@(ViewBag.CurrentMainCategory == 9 ? "active" : "")"><a href="/kvinde/9-Skjorter" title="Skjorter til kvinder">Skjorter</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 16 ? "active" : "")"><a href="/kvinde/Dametoej/2-Dametoej" title="Dametøj">Dametøj</a> </li>
                            <li class="@(ViewBag.CurrentMainCategory == 10 ? "active" : "")"><a href="/kvinde/10-Nederdele" title="Nederdele">Nederdele</a> </li>
                            <li class="@(ViewBag.CurrentMainCategory == 12 ? "active" : "")"><a href="/kvinde/12-Toppe" title="Toppe til kvinder">Toppe</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 18 ? "active" : "")"><a href="/kvinde/18-Sportstoej" title="Sportstøj til kvinder">Sport</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 11 ? "active" : "")"> <a href="/kvinde/11-Badetoej" title="Badetøj til kvinder">Badetøj</a> </li>
                        }
                        else if (ViewBag.TheArea == Utilities.Area.Kids)
                        {
                            <li class="@(ViewBag.CurrentMainCategory == 13 ? "active" : "")"><a href="/barn/13-Kjoler" title="Kjoler til piger">Kjoler</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 1 ? "active" : "")"><a href="/barn/1-Bukser-og-jeans" title="Bukser og jeans til børn">Bukser og jeans</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 2 ? "active" : "")"><a href="/barn/2-Shirts" title="Shirts til børn">Shirts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 3 ? "active" : "")"><a href="/barn/3-Jakker" title="Jakker til børn">Jakker</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 4 ? "active" : "")"><a href="/barn/4-Bluser-og-troejer" title="Bluser og Trøjer til børn">Bluser og Trøjer</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 5 ? "active" : "")"><a href="/barn/5-Shorts" title="Shorts til børn">Shorts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 6 ? "active" : "")"><a href="/barn/6-Diverse" title="Diverse til børn">Diverse</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 7 ? "active" : "")"><a href="/barn/7-Sko-og-stoevler" title="Sko og støvler til børn">Sko og støvler</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 8 ? "active" : "")"><a href="/barn/8-Undertoej" title="Undertøj til børn">Undertøj</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 9 ? "active" : "")"><a href="/barn/9-Skjorter" title="Skjorter til børn">Skjorter</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 10 ? "active" : "")"><a href="/barn/10-Nederdele" title="Nederdele til piger">Nederdele</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 12 ? "active" : "")"><a href="/barn/12-Toppe" title="Toppe til børn">Toppe</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 11 ? "active" : "")"><a href="/barn/11-Badetoej" title="Badetøj til børn">Badetøj</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 14 ? "active" : "")"><a href="/barn/14-Dragter-og-overalls" title="Dragter og overalls til børn">Dragter og overalls</a></li>
                        }
                        else if (ViewBag.TheArea == Utilities.Area.Men)
                        {
                            <li class="@(ViewBag.CurrentMainCategory == 1 ? "active" : "")"><a href="/mand/1-Bukser-og-jeans" title="Bukser og jeans til mænd">Bukser og jeans</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 2 ? "active" : "")"><a href="/mand/2-Shirts" title="Shirts til mænd">Shirts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 3 ? "active" : "")"><a href="/mand/3-Jakker" title="Jakker til mænd">Jakker</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 4 ? "active" : "")"><a href="/mand/4-Bluser-og-troejer" title="Bluser og Trøjer til mænd">Bluser og Trøjer</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 5 ? "active" : "")"><a href="/mand/5-Shorts" title="Shorts til mænd">Shorts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 6 ? "active" : "")"><a href="/mand/6-Diverse" title="Diverse til mænd">Diverse</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 7 ? "active" : "")"><a href="/mand/7-Sko-og-stoevler" title="Sko og støvler til mænd">Sko og støvler</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 8 ? "active" : "")"><a href="/mand/8-Undertoej" title="Undertøj til mænd">Undertøj</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 9 ? "active" : "")"><a href="/mand/9-Skjorter" title="Skjorter til mænd">Skjorter</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 15 ? "active" : "")"><a href="/mand/Herretoej/1-Herretoej" title="Herretøj">Herretøj</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 18 ? "active" : "")"><a href="/mand/18-Sportstoej" title="Sportstøj til mænd">Sportstøj</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 11 ? "active" : "")"><a href="/mand/11-Badetoej" title="Badetøj til mænd">Badetøj</a></li>
                        }
                        else if (ViewBag.TheArea == Utilities.Area.Diverse)
                        {
                            @*<li><a href="/diverse/13-Kjoler" title="Kjoler">Kjoler</a></li>*@
                            <li class="@(ViewBag.CurrentMainCategory == 1 ? "active" : "")"><a href="/diverse/1-Bukser-og-jeans" title="Bukser og jeans">Bukser og jeans</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 2 ? "active" : "")"><a href="/diverse/2-Shirts" title="Shirts">Shirts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 3 ? "active" : "")"><a href="/diverse/3-Jakker" title="Jakker">Jakker</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 4 ? "active" : "")"><a href="/diverse/4-Bluser-og-troejer" title="Bluser og Trøjer">Bluser og Trøjer</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 5 ? "active" : "")"><a href="/diverse/5-Shorts" title="Shorts">Shorts</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 6 ? "active" : "")"><a href="/diverse/6-Diverse" title="Diverse">Diverse</a> </li>
                            <li class="@(ViewBag.CurrentMainCategory == 7 ? "active" : "")"><a href="/diverse/7-Sko-og-stoevler" title="Sko og støvler">Sko og støvler</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 8 ? "active" : "")"><a href="/diverse/8-Undertoej" title="Undertøj">Undertøj</a> </li>
                            <li class="@(ViewBag.CurrentMainCategory == 9 ? "active" : "")"><a href="/diverse/9-Skjorter" title="Skjorter">Skjorter</a></li>
                            @* <li><a href="/diverse/Dametoej/2-Dametoej" title="Dametøj">Dametøj</a> </li>
                    <li><a href="/diverse/Herretoej/1-Herretoej" title="Herretøj">Herretøj</a></li>
                        <li><a href="/diverse/10-Nederdele" title="Nederdele">Nederdele</a> </li>
                        <li><a href="/diverse/12-Toppe" title="Toppe">Toppe</a></li>*@
                            <li><a href="/diverse/18-Sportstoej" title="Sportstøj">Sportstøj</a></li>
                            <li class="@(ViewBag.CurrentMainCategory == 11 ? "active" : "")"> <a href="/diverse/11-Badetoej" title="Badetøj">Badetøj</a> </li>
                        }
                        else
                        {
                            <li>&nbsp;</li>
                        }

                    </ul>
                </div>
            </nav>
        </div>           
    </div>

    <div class="container main-container">
        <nav class="row">
            <div class="col-lg-12 text-center">
                @if (ViewBag.Categories != null)
                {
                    var counter = 0;
                    foreach (Category category in ViewBag.Categories)
                    {
                        counter++;
                        <a href="@GetUrlHelper.GetCategoryUrl(ViewBag.Controller, ViewBag.TheArea, ViewBag.MainCategoryName, category.CategoryId, Utilities.Urlencode(category.CategoryName))" title="@ViewBag.MainCategoryName - @category.CategoryName">@category.CategoryName</a>
                        <span>|</span>
                    }
                }
            </div>
        </nav>

        @RenderBody()
    </div>
    <div class="container-footer">
        <footer class="footer">            
            <div class="container">
                <nav class="row">
                    <div class="col-lg-8">
                        <ul class="footer-nav">

                            <li>
                                <a href="@Url.Action(MVC.Home.Contact())" title="Kontakt fedttoj.dk">Kontakt</a>
                                <br /> <a href="@Url.Action(MVC.Home.About())" title="Om fedttoj.dk">Om fedttøj.dk</a>
                                <br /> <a href="@Url.Action(MVC.Home.SiteMap())" title="Sitemap">Sitemap</a>
                            </li>

                            <li>&nbsp; &nbsp;</li>
                            <li>
                                <a href="@Url.Action(MVC.Home.Questions())" title="Spørgsmål og svar">Spørgsmål og svar</a>
                                <br /> <a href="https://www.facebook.com/fedttoej" title="Besøg os på facebook">Besøg os på facebook</a>
                            </li>
                            <li>&nbsp; &nbsp;</li>
                            <li>
                                <a href="/diverse/6-Diverse">Ukategoriseret tøj</a>
                                <br /> <a href="/artikler" title="Spændende artikler om tøj">Artikler</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 footer-right">
                        <p>
                            <a href="/cookie-politik"><img src="~/Content/Graphics/cookies.png" alt="Cookie og datapolitik" title="Cookie og datapolitik" width="20" height="18" /> Cookie politik</a><br /><br />
                            &copy; Copyright fedttoj.dk 2024

                        </p>
                    </div>
                </nav>               
            </div>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        @Scripts.RenderFormat("var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = '{0}'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); ", "~/bundles/bootstrap?v=5");


    </script>



    @*<script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 396061, hjsv: 5 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script'); r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>*@

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTE9TL5QGY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BTE9TL5QGY');
    </script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#343c66",
                        "text": "#cfcfe8"
                    },
                    "button": {
                        "background": "#5f7fad"
                    }
                },
                "theme": "classic",
                "content": {
                    "message": "Dette website bruger cookies til at optimere brugeroplevelsen på siden",
                    "dismiss": "OK",
                    "link": "Læs mere",
                    "href": "https://fedttoj.dk/cookie-politik"
                }
            })
        });
    </script>
</body>
</html>

