﻿@using FedttoejMvc.Models
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.Raw(ViewBag.TheTitle)</title>
    @if (!string.IsNullOrWhiteSpace(ViewBag.PictureUrl))
    {
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="450" />
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image" content="@ViewBag.PictureUrl" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.TheTitle))
    {
        <meta property="og:title" content="@ViewBag.TheTitle" />
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.ogUrl))
    {
        <meta property="og:url" content="@ViewBag.ogUrl" />
    }
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@Html.Raw(ViewBag.MetaDescription.Replace("\"", ""))" />
        <meta property="og:description" content="@ViewBag.MetaDescription.Replace("\"", "")" />
    }
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="fejttoj.dk">
    <meta property="fb:app_id" content="707767952639163" />
    @if (ViewBag.MetaKeyWords != null)
    {
        <meta name="keywords" content="@Html.Raw(ViewBag.MetaKeyWords)" />
    }

    @if (!string.IsNullOrEmpty(ViewBag.CanonicalUrl))
    {
        <link rel="canonical" href="https://fedttoj.dk@(ViewBag.CanonicalUrl)" />
    }

    @if (!string.IsNullOrEmpty(ViewBag.PrevPage) && !string.IsNullOrEmpty(ViewBag.RawUrl))
    {
        <link rel="prev" href="https://fedttoj.dk@(ViewBag.RawUrl + (int.Parse(ViewBag.PrevPage) > 1 ? "?page=" + ViewBag.PrevPage : ""))" />
    }

    @if (!string.IsNullOrEmpty(ViewBag.NextPage) && !string.IsNullOrEmpty(ViewBag.RawUrl))
    {
        <link rel="next" href="https://fedttoj.dk@(ViewBag.RawUrl + "?page=" + ViewBag.NextPage)" />
    }
    @if (ViewBag.ShowRobots != null && ViewBag.ShowRobots)
        {
            <meta name="robots" content="noindex,follow" />
        }
    <link rel="dns-prefetch" href="//billeder1.fedttoj.dk">
    <link rel="dns-prefetch" href="//billeder2.fedttoj.dk">
    <link rel="dns-prefetch" href="//billeder3.fedttoj.dk">
    <link rel="dns-prefetch" href="//assets.pinterest.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="shortcut icon" href="https://fedttoj.dk/content/graphics/favicon.ico" />
    <link rel="icon" href="https://fedttoj.dk/content/graphics/favicon.ico" />
    <link rel="SHORTCUT ICON" href="https://fedttoj.dk/content/graphics/favicon.ico" />
    @Styles.Render("~/Style/css")

    <meta name="msvalidate.01" content="3741C713BF3BC2D9F1323FF1B8C79772" />
    <meta name="p:domain_verify" content="ee2e27092ea26bec272a01f0c075858b" />
    <meta name="verification" content="b28b39ba1979a06421989a6ebe3a46d4" />
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "Organization",
        "url": "https://fedttoj.dk",
        "logo": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
    </script>
</head>
<body class="mobile" ontouchstart="">
    <div id="fb-root"></div>

    @{Html.RenderAction("MobileMenu", "Home");}

    <div id="main" class="main-mobile">
        <div class="mobile-search" id="mobile-search">
            <input type="text" value="@ViewBag.SearchText" id="TxtSearch" placeholder="Søg" class="mobile-search-area" /> <input type="button" onclick="DoSearch('', '')" class="btn btns btn-primary btn-lg pull-right" value=" Søg " />
        </div>

        @RenderBody()
    </div>

    <footer class="row footer footer-mobile">
        <div class="col-xs-1"></div>
        <div class="col-xs-6 footer-right">
            <br />
            <p><a href="@Url.Action(MVC.Home.About())" title="Om fedttoj.dk">Om fedttøj.dk</a> </p>
            <p><a href="@Url.Action(MVC.Home.Questions())" title="Spørgsmål og svar">Spørgsmål og svar</a> </p>
            <p><a href="https://www.facebook.com/fedttoej" title="Besøg os på facebook">Besøg os på facebook</a> </p>
            <p><a href="/diverse/6-Diverse">Ukategoriseret tøj</a></p>
            <p>
                &copy; fedttoj.dk 2020
            </p>
            <br />
        </div>
        <div class="col-xs-5 footer-right">
            <br />
            <p><a href="@Url.Action(MVC.Home.Contact())" title="Kontakt fedttoj.dk">Kontakt</a> </p>
            <p>
                <a href="/cookie-politik"><img src="~/Content/Graphics/cookies.png" class="cookie-icon" alt="Cookie og datapolitik" title="Cookie og datapolitik" width="20" height="18" /> Cookie politik</a>
            </p>
            <p>
                <a href="@Url.Action(MVC.Home.SiteMap())" title="Sitemap">Sitemap</a>
            </p>
            <p>
                <a href="/artikler" title="Spændende artikler om tøj">Artikler</a>
            </p>
            <br />
        </div>
    </footer>

    @RenderSection("scripts", required: false)

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script type="text/javascript">

        @Scripts.RenderFormat("var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = '{0}'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); ", "~/bundles/bootstrap?v=6");


    </script>


    @*<script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 396061, hjsv: 5 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script'); r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>*@

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BTE9TL5QGY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BTE9TL5QGY');
    </script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#343c66",
                        "text": "#cfcfe8"
                    },
                    "button": {
                        "background": "#5f7fad"
                    }
                },
                "theme": "classic",
                "content": {
                    "message": "Dette website bruger cookies til at optimere brugeroplevelsen på siden",
                    "dismiss": "OK",
                    "link": "Læs mere",
                    "href": "https://fedttoj.dk/cookie-politik"
                }
            })
        });
    </script>
</body>
</html>
