﻿@using FedttoejMvc.Helpers
@model FedttoejMvc.Models.ViewModels.MakesViewModel
@if (Model.Makes != null && Model.Makes.Any())
{
<div class="hidden">
    <nav>
        <ul class="makes-menu-complete" id="makes-menu-complete">
            @foreach (var make in Model.Makes.OrderBy(x => x.Make.MakeName))
            {
                if (Model.CategoryId > 0)
                {
                    <li class="make-item"><a href="@GetUrlHelper.GetCategoryMakeUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.CategoryId, Model.CategoryName, make.Make.Id, make.Make.MakeName)" title=">@make.Make.MakeName">@make.Make.MakeName (@make.Count)  <span class="pull-right arrow-down">></span></a></li>
                }
                else
                {
                    <li class="make-item"><a href="@GetUrlHelper.GetMainCategoryMakeUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.CategoryId, Model.CategoryName, make.Make.Id, make.Make.MakeName)" title=">@make.Make.MakeName">@make.Make.MakeName (@make.Count)  <span class="pull-right arrow-down">></span></a></li>
                }
            }
        </ul>
    </nav>
</div>
}
