﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models
@model FedttoejMvc.Models.ViewModels.MakesViewModel
@if (Model.Makes != null && Model.Makes.Any())
{
    var query = Utilities.GetSearchQuery(Model.PriceFrom, Model.PriceTo, Model.Sorting);

    <nav class="dropdown @(ViewBag.Categories == null || ((List<Category>)ViewBag.Categories).Count() < 2 ? "make-drop-wide" : "")">
        <a href="#" class="dropdown-toggle btn btns btn-lg hidden-lg hidden-md make-dropdown" data-toggle="dropdown" onclick="openMakeMenu()">
            @(!string.IsNullOrWhiteSpace(ViewBag.Make) ? ViewBag.Make : "Populære mærker")  <b class="caret"></b>
        </a>
        <span class="hidden-sm hidden-xs popular-brands">
            Mærker
        </span>
        <hr class="hidden-xs" />

        <ul class="makes-menu @(Utilities.IsMobile() ? "dropdown-menu" : "")" id="makes-menu">
            @foreach (var make in Model.Makes.Take(40).OrderBy(x => x.Make.MakeName))
            {
                if (Model.CategoryId > 0)
                {
                    <li class="make-item"><a href="@(GetUrlHelper.GetCategoryMakeUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.CategoryId, Model.CategoryName, make.Make.Id, make.Make.MakeName) + query)" title=">@make.Make.MakeName">@(string.IsNullOrWhiteSpace(make.Make.MakeName) ? "Ukendt" : make.Make.MakeName) (@make.Count)</a></li>
                }
                else
                {
                    <li class="make-item"><a href="@(GetUrlHelper.GetMainCategoryMakeUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.CategoryId, Model.CategoryName, make.Make.Id, make.Make.MakeName) + query)" title=">@make.Make.MakeName">@(string.IsNullOrWhiteSpace(make.Make.MakeName) ? "Ukendt" : make.Make.MakeName) (@make.Count)</a></li>
                }
            }
            @if (Model.Makes.Count > 40)
            {
                <li class="make-item">&nbsp;</li>
                <li class="make-item"><a href="#" onclick="showMakes()">&raquo; Vis alle mærker</a></li>
                <li class="make-item">&nbsp;</li>
            }
        </ul>

    </nav>
}
else
{
    <div class="hidden-sm hidden-xs">

    </div>
}
