﻿@using FedttoejMvc.Models.ViewModels
@model MenuViewModel

<header class="mobile-header">

    <ul class="list-inline" role="navigation">
        <li>
            <a href="/">
                <img src="/Content/Graphics/Logo_mobile.jpg" class="logo-mobile" alt="fedttoj.dk" width="32" height="35" />
            </a>
        </li>
        <li>
            <nav class="dropdown">
                <a class="dropdown-toggle menu-item" href="#" data-toggle="dropdown" onclick="openWomenMenu()">
                    <span>Kvinder</span>
                    <b class="caret caret-white"></b>
                </a>
            </nav>
        </li>
        <li>
            <nav class="dropdown">
                <a class="dropdown-toggle menu-item" href="#" data-toggle="dropdown" onclick="openMenMenu()">
                    <span>Mænd</span>
                    <b class="caret caret-white"></b>
                </a>
            </nav>
        </li>
        <li>
            <nav class="dropdown">
                <a class="dropdown-toggle menu-item" href="#" data-toggle="dropdown" onclick="openKidsMenu()">
                    <span>Børn</span>
                    <b class="caret caret-white"></b>
                </a>
            </nav>
        </li>
        <li>
            <nav class="dropdown">
                <a class="dropdown-toggle menu-item" href="#" data-toggle="dropdown" onclick="openDiverseMenu()">
                    <span></span>
                </a>
            </nav>
        </li>
        <li class="mobile-top-search-icon">
            <span class="glyphicon glyphicon-search" onclick="toggleMobileSearch()"></span>
        </li>
    </ul>
    <div class="dropdown-menu-main" id="women-menu">
        <h2><span class="close-area-menu" onclick="openWomenMenu()">&#8592;</span> <a href="/kvinde" title="Dametøj - tøj til kvinder">Tøj til kvinder</a></h2>

        <div class="mobile-search-area">
            <input type="text" id="TxtSearch-women" placeholder="Søg" class="mobile-search-area" /> <input type="button" onclick="DoSearch('-women', ' til kvinder')" class="btn btns btn-primary btn-lg pull-right" value=" Søg " />
        </div>
        <ul>
            @foreach (var menu in Model.MainCategoriesWomen)
            {
                if (menu.SubCategories.Count() > 1)
                {
                    <li>
                        <a href="javascript:toggleSubmenu(2, @menu.CategoryId)" title="@menu.Name til kvinder">@menu.Name <span class="pull-right arrow-down">></span></a>
                       
                        <ul id="submenu-2-@(menu.CategoryId)" class="submenu hidden">
                            <li>
                                <a href="@menu.Url" title="@menu.Name til kvinder">@menu.PreText @menu.Name.ToLower() <span class="arrow-right pull-right">></span></a>                                
                            </li>
                            @foreach (var subMenu in menu.SubCategories)
                            {
                                <li>
                                    <a href="@subMenu.Url" title="@menu.Name - @subMenu.Name til kvinder">@subMenu.Name <span class="pull-right arrow-right">></span></a>                                    
                                </li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@menu.Url" title="@menu.Name til kvinder">@menu.Name <span class="pull-right arrow-right">></span></a>                        
                    </li>
                }
            }
            <li>
                <a href="/nedsatte-varer/kvinde" title="Nedsat tøj til kvinder">Nedsat tøj til kvinder <span class="pull-right arrow-right">></span></a>
            </li>

            @*<li><a href="/kvinde/13-Kjoler" title="Kjoler">Kjoler</a><div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/1-Bukser-og-jeans" title="Bukser og jeans til kvinder">Bukser og jeans</a><div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/2-Shirts" title="Shirts til kvinder">Shirts</a><div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/3-Jakker" title="Jakker til kvinder">Jakker</a><div class="pull-right arrow-right">></div></li>
        <li>
            <a href="/kvinde/4-Bluser-og-troejer" title="Bluser og Trøjer til kvinder">Bluser og Trøjer</a>
            <div class="pull-right arrow-right">></div>
            <ul class="dropdown-menu-main dropdown-menu-sub" id="subcategory-menu">
                <li><a href="/kvinde/Bluser-og-troejer/76-Bluser" title="Bluser og trøjer - Bluser">Bluser</a></li>
                <li><a href="/kvinde/Bluser-og-troejer/66-Strik" title="Bluser og trøjer - Strik">Strik</a></li>
                <li><a href="/kvinde/Bluser-og-troejer/42-Sweatshirts" title="Bluser og trøjer - Sweatshirts">Sweatshirts</a></li>
                <li><a href="/kvinde/Bluser-og-troejer/73-Cardigans" title="Bluser og trøjer - Cardigans">Cardigans</a></li>
                <li><a href="/kvinde/Bluser-og-troejer/22-Haette-sweat" title="Bluser og trøjer - Hætte sweat">Hætte sweat</a></li>
                <li><a href="/kvinde/Bluser-og-troejer/56-Striktroejer" title="Bluser og trøjer - Striktrøjer">Striktrøjer</a></li>
            </ul>
        </li>
        <li><a href="/kvinde/5-Shorts" title="Shorts til kvinder">Shorts</a><div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/6-Diverse" title="Diverse til kvinder">Diverse</a> <div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/7-Sko-og-stoevler" title="Sko og støvler til kvinder">Sko og støvler</a><div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/8-Undertoej" title="Undertøj til kvinder">Undertøj</a><div class="pull-right arrow-right">></div> </li>
        <li><a href="/kvinde/9-Skjorter" title="Skjorter til kvinder">Skjorter</a><div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/Dametoej/2-Dametoej" title="Dametøj">Dametøj</a><div class="pull-right arrow-right">></div> </li>
        <li><a href="/kvinde/10-Nederdele" title="Nederdele">Nederdele</a><div class="pull-right arrow-right">></div> </li>
        <li><a href="/kvinde/12-Toppe" title="Toppe">Toppe</a><div class="pull-right arrow-right">></div></li>
        <li><a href="/kvinde/11-Badetoej">Badetøj</a><div class="pull-right arrow-right">></div> </li>
            *@
        </ul>
    </div>
    <div class="dropdown-menu-main" role="menu" id="men-menu">
        <h2><span class="close-area-menu" onclick="openMenMenu()">&#8592;</span> <a href="/mand" title="Herretøj - tøj til mænd">Tøj til mænd</a></h2>
        <div class="mobile-search-area">
            <input type="text" id="TxtSearch-men" placeholder="Søg" class="mobile-search-area" /> <input type="button" onclick="DoSearch('-men', ' til mænd')" class="btn btns btn-primary btn-lg pull-right" value=" Søg " />
        </div>
        <ul>
            @foreach (var menu in Model.MainCategoriesMen)
            {
                if (menu.SubCategories.Count() > 1)
                {
                    <li>
                        <a href="javascript:toggleSubmenu(1, @menu.CategoryId)" title="@menu.Name til mænd">@menu.Name <span class="pull-right arrow-down">></span></a>

                        <ul id="submenu-1-@(menu.CategoryId)" class="submenu hidden">
                            <li>
                                <a href="@menu.Url" title="@menu.Name til mænd">@menu.PreText @menu.Name.ToLower() <span class="arrow-right pull-right">></span></a>
                            </li>
                            @foreach (var subMenu in menu.SubCategories)
                            {
                                <li>
                                    <a href="@subMenu.Url" title="@menu.Name - @subMenu.Name til mænd">@subMenu.Name <span class="pull-right arrow-right">></span></a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@menu.Url" title="@menu.Name til mænd">@menu.Name <span class="pull-right arrow-right">></span></a>
                    </li>
                }
            }
            <li>
                <a href="/nedsatte-varer/mand" title="Nedsat tøj til mænd">Nedsat tøj til mænd <span class="pull-right arrow-right">></span></a>
            </li>



            @*<li><a href="/mand/1-Bukser-og-jeans" title="Bukser og jeans til mænd">Bukser og jeans</a></li>
            <li><a href="/mand/2-Shirts" title="Shirts til mænd">Shirts</a></li>
            <li><a href="/mand/3-Jakker" title="Jakker til mænd">Jakker</a></li>
            <li><a href="/mand/4-Bluser-og-troejer" title="Bluser og Trøjer til mænd">Bluser og Trøjer</a></li>
            <li><a href="/mand/5-Shorts" title="Shorts til mænd">Shorts</a></li>
            <li><a href="/mand/6-Diverse" title="Diverse til mænd">Diverse</a></li>
            <li><a href="/mand/7-Sko-og-stoevler" title="Sko og støvler til mænd">Sko og støvler</a></li>
            <li><a href="/mand/8-Undertoej" title="Undertøj til mænd">Undertøj</a></li>
            <li><a href="/mand/9-Skjorter" title="Skjorter til mænd">Skjorter</a></li>
            <li><a href="/mand/Herretoej/1-Herretoej" title="Herretøj">Herretøj</a></li>
            <li><a href="/mand/18-Sportstoej" title="Sportstøj">Sportstøj</a></li>
            <li><a href="/mand/11-Badetoej" title="Badetøj til mænd">Badetøj</a></li>
            <li><a href="/nedsatte-varer/mand" title="Nedsat tøj til mænd">Nedsat tøj til mænd</a></li>*@
        </ul>
    </div>

    <div class="dropdown-menu-main" role="menu" id="kids-menu">
        <h2><span class="close-area-menu" onclick="openKidsMenu()">&#8592;</span> <a href="/barn" title="Børnetøj - tøj til børn og unge">Tøj til børn</a></h2>
        <div class="mobile-search-area">
            <input type="text" id="TxtSearch-kids" placeholder="Søg" class="mobile-search-area" /> <input type="button" onclick="DoSearch('-kids', ' til børn')" class="btn btns btn-primary btn-lg pull-right" value=" Søg " />
        </div>
        <ul>
            @foreach (var menu in Model.MainCategoriesMen)
            {
                if (menu.SubCategories.Count() > 1)
                {
                    <li>
                        <a href="javascript:toggleSubmenu(3, @menu.CategoryId)" title="@menu.Name til børn">@menu.Name <span class="pull-right arrow-down">></span></a>

                        <ul id="submenu-3-@(menu.CategoryId)" class="submenu hidden">
                            <li>
                                <a href="@menu.Url" title="@menu.Name til børn">@menu.PreText @menu.Name.ToLower() <span class="arrow-right pull-right">></span></a>
                            </li>
                            @foreach (var subMenu in menu.SubCategories)
                            {
                                <li>
                                    <a href="@subMenu.Url" title="@menu.Name - @subMenu.Name til børn">@subMenu.Name <span class="pull-right arrow-right">></span></a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@menu.Url" title="@menu.Name til børn">@menu.Name <span class="pull-right arrow-right">></span></a>
                    </li>
                }
            }
            <li>
                <a href="/nedsatte-varer/barn" title="Nedsat tøj til børn og unge">Nedsat tøj til børn <span class="pull-right arrow-right">></span></a>
            </li>


            @*<li><a href="/barn/13-Kjoler" title="Kjoler til piger">Kjoler</a></li>
            <li><a href="/barn/1-Bukser-og-jeans" title="Bukser og jeans til børn">Bukser og jeans</a></li>
            <li><a href="/barn/2-Shirts" title="Shirts til børn">Shirts</a></li>
            <li><a href="/barn/3-Jakker" title="Jakker til børn">Jakker</a></li>
            <li><a href="/barn/4-Bluser-og-troejer" title="Bluser og Trøjer til børn">Bluser og Trøjer</a></li>
            <li><a href="/barn/5-Shorts" title="Shorts til børn">Shorts</a></li>
            <li><a href="/barn/6-Diverse" title="Diverse til børn">Diverse</a></li>
            <li><a href="/barn/7-Sko-og-stoevler" title="Sko og støvler til børn">Sko og støvler</a></li>
            <li><a href="/barn/8-Undertoej" title="Undertøj til børn">Undertøj</a></li>
            <li><a href="/barn/9-Skjorter" title="Skjorter til børn">Skjorter</a></li>
            <li><a href="/barn/10-Nederdele" title="Nederdele til piger">Nederdele</a></li>
            <li><a href="/barn/12-Toppe" title="Toppe til børn">Toppe</a></li>
            <li><a href="/barn/11-Badetoej" title="Badetøj til børn">Badetøj</a></li>
            <li><a href="/barn/14-Dragter-og-overalls" title="Dragter og overalls til børn">Dragter og overalls</a></li>
            <li><a href="/nedsatte-varer/barn" title="Nedsat tøj til børn og unge">Nedsat tøj til børn</a></li>*@
        </ul>
    </div>

    <div class="dropdown-menu-main" role="menu" id="diverse-menu">
        <h2><span class="close-area-menu" onclick="openDivMenu()">&#8592;</span> <a href="/diverse/6-Diverse" title="Ukategoriseret tøj">Ukategoriseret tøj</a></h2>
        <div class="mobile-search-area">
            <input type="text" id="TxtSearch-div" placeholder="Søg" class="mobile-search-area" /> <input type="button" onclick="DoSearch('-div', '')" class="btn btns btn-primary btn-lg pull-right" value=" Søg " />
        </div>
        <ul>
            <li><a href="/diverse/13-Kjoler" title="Kjoler">Kjoler</a></li>
            <li><a href="/diverse/1-Bukser-og-jeans" title="Bukser og jeans">Bukser og jeans</a></li>
            <li><a href="/diverse/2-Shirts" title="Shirts">Shirts</a></li>
            <li><a href="/diverse/3-Jakker" title="Jakker">Jakker</a></li>
            <li><a href="/diverse/4-Bluser-og-troejer" title="Bluser og Trøjer">Bluser og Trøjer</a></li>
            <li><a href="/diverse/5-Shorts" title="Shorts">Shorts</a></li>
            <li><a href="/diverse/6-Diverse" title="Diverse">Diverse</a> </li>
            <li><a href="/diverse/7-Sko-og-stoevler" title="Sko og støvler">Sko og støvler</a></li>
            <li><a href="/diverse/8-Undertoej" title="Undertøj">Undertøj</a> </li>
            <li><a href="/diverse/9-Skjorter" title="Skjorter">Skjorter</a></li>
            <li><a href="/diverse/Dametoej/2-Dametoej" title="Dametøj">Dametøj</a> </li>
            @*  <li><a href="/diverse/Herretoej/1-Herretoej" title="Herretøj">Herretøj</a></li>*@
            <li><a href="/diverse/10-Nederdele" title="Nederdele">Nederdele</a> </li>
            <li><a href="/diverse/12-Toppe" title="Toppe">Toppe</a></li>
            <li><a href="/diverse/18-Sportstoej" title="Sportstøj">Sportstøj</a></li>
            <li> <a href="/diverse/11-Badetoej" title="Badetøj">Badetøj</a> </li>
        </ul>
    </div>

</header>
