﻿@model FedttoejMvc.Models.ViewModels.PagingViewModel
<ul class="pagination">
    
    @foreach (var page in Model.Pages)
    {
        var character = Model.Link.Contains("?") ? "&" : "?";
        var classString = page.Value == 0 ? "class=\"active\"" : "";
        <li @Html.Raw(classString)><a href="@(Model.Link + (page.Value > 1 ? character + "page=" + page.Value : ""))">@Html.Raw(page.Key)</a></li>
    }
    
</ul>
