﻿@model List<string>
    <div class="row">
        @foreach (var link in Model)
        {
            <div class="col-lg-3 col-sm-6 col-sx-12 presearches">
                @Html.Raw(link)
            </div>
        }
    </div>
