﻿@using FedttoejMvc.Helpers
@model FedttoejMvc.Models.ViewModels.ProductListViewModel

@{ var counter = 0;}
@foreach (var product in @Model.Products)
{
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 product-listing">
        <div class="text-center product-border">
            <a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title"><img class="image img-responsive" loading="lazy" src="@GetUrlHelper.GetPictureUrl(product)" alt="@product.Title" width="181" height="241" /></a>
        </div>
        <div class="price">
            Kr. @product.Price.ToString("N0").Replace(",", ".")
        </div>
        <div class="clearfix"></div>
        <p class="title"><a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title">@product.Title</a></p>

        
    </div>
    { counter = counter + 1; }
    if (counter % 4 == 0)
    {
        <div class="clearfix hidden-xs hidden-md hidden-sm border-bottom"></div>
    }
    if (counter % 3 == 0)
    {
        <div class="clearfix hidden-xs hidden-lg border-bottom"></div>
    }
    if (counter % 2 == 0)
    {
        <div class="clearfix hidden-lg hidden-md hidden-sm border-bottom"></div>
    }

}