﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models
@model FedttoejMvc.Models.ViewModels.ProductListViewModel
@{ var counter = 0;}
@foreach (var product in @Model.Products)
{
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 product-listing col-lg-offset-1 col-md-offset-1">
        <div class="text-center">
            <a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title"><img class="image img-responsive" loading="lazy" width="181" height="241" src="@GetUrlHelper.GetPictureUrl(product)" alt="@product.Title" /></a>
        </div>
        <div class="pull-left hidden-xs">
            <a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title" class="btn btns btn-primary">Se mere</a>
        </div>
        <div class="price">
            Kr. @product.Price.ToString("N0").Replace(",", ".")
        </div>
        <div class="clearfix"></div>
        <p class="title"><a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title">@product.Title</a></p>


    </div>
    { counter = counter + 1; }
   
    if (counter % 2 == 0)
    {
        <div class="clearfix hidden-lg hidden-md hidden-sm border-bottom"></div>
    }

}