﻿@using FedttoejMvc.Helpers
@model FedttoejMvc.Models.ViewModels.AreaViewModel

<div style="width:50%;float:left;">
    <div class="col-xs-12">
        <h2 class="mobile">Største besparelser i procent</h2>
    </div>

    @{ var counter = 0;}
    @foreach (var product in @Model.ReducedProductsPercent)
    {
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-listing">
        <div class="text-center product-border">
            <a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title"><img class="image img-responsive" loading="lazy" width="181" height="241" src="@GetUrlHelper.GetPictureUrl(product.CompanyId, product.Picture, product.Id, product.Title)" alt="@product.Title" /></a>
        </div>
        <div class="price">
            Spar @product.ReductionPercent.ToString("n0") %
            <br />
        </div>
        <p class="title"><a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title">@product.Title</a></p>
        <div class="pull-left">
            Før: <span style="text-decoration: line-through;">Kr. @product.BeforePrice.ToString("N0").Replace(",", ".")</span>
            <br />
           
            <b>Nu: Kr. @product.Price.ToString("N0").Replace(",", ".")</b>
        </div>

        <div class="clearfix"></div>



    </div>
        { counter = counter + 1; }
        if (counter % 2 == 0)
        {
            <div class="clearfix hidden-xs border-bottom"></div>
        }

        <div class="clearfix hidden-lg hidden-md hidden-sm border-bottom"></div>


    }
    <br /><br />
</div>
<div style="width:50%;float:left;">
    <div class="col-xs-12">
        <h2 class="mobile">Største besparelse i kroner</h2>
        <a name="kroner"></a>
    </div>
    @{ counter = 0;}
    @foreach (var product in @Model.ReducedProductsKr)
    {
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 product-listing">
        <div class="text-center product-border">
            <a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title"><img class="image img-responsive" width="181" height="241" src="@GetUrlHelper.GetPictureUrl(product.CompanyId, product.Picture, product.Id, product.Title)" alt="@product.Title" /></a>
        </div>
        <div class="price">
            Spar @product.ReductionKr.ToString("n0") kr
            <br />
        </div>
        <p class="title"><a href="@GetUrlHelper.GetProductUrl(Model.Controller, product)" title="@product.Title">@product.Title</a></p>
        <div class="pull-left">
            Før: <span style="text-decoration: line-through;">Kr. @product.BeforePrice.ToString("N0").Replace(",", ".")</span>
            <br />
            <b>Nu: Kr. @product.Price.ToString("N0").Replace(",", ".")</b>
        </div>
        <div class="clearfix"></div>



    </div>
        { counter = counter + 1; }
        if (counter % 2 == 0)
        {
            <div class="clearfix hidden-xs border-bottom"></div>
        }

        <div class="clearfix hidden-lg hidden-md hidden-sm border-bottom"></div>

    }
</div>