﻿@using FedttoejMvc.Models.Data
@model FedtFetchProductResult

<div class="row">
    <div class="col-xs-12 text-right">

        @if (Model.Make.ToLower().Contains("adidas") && Model.CategoryId == 55)
        {
            <a href="/s/adidas-sko" title="Adidas sko">Find flere Adidas sko</a>
        }

        else if (Model.Make.ToLower().Contains("salomon") && Model.CategoryId == 55)
        {
            <a href="/s/salomon-sko" title="Salomon sko">Find flere Salomon sko</a>
        }

        else if (Model.Make.ToLower().Contains("skechers") && Model.CategoryId == 55)
        {
            <a href="/s/skechers-sko" title="Skechers sko">Find flere Skechers sko</a>
        }

        else if (Model.Make.ToLower().Contains("adidas") && Model.CategoryId == 9)
        {
            <a href="/s/adidas-bukser" title="Adidas bukser">Find flere Adidas bukser</a>
        }
        else if (Model.Make.ToLower().Contains("carhartt") && Model.CategoryId == 9)
        {
            <a href="/s/carhartt-bukser" title="Carhartt bukser">Find flere Carhartt bukser</a>
        }
        else if (Model.Area == 2 && Model.CategoryId == 9)
        {
            <a href="/s/bukser-til-kvinder" title="Bukser til kvinder">Find flere bukser til kvinder</a>
        }

        else if (Model.Title.ToLower().Contains("jersey") && Model.CategoryId == 78)
        {
            <a href="/s/jersey-kjoler" title="Jersey kjoler">Find flere Jersey kjoler</a>
        }
        else if (Model.Title.ToLower().Contains("midi") && Model.CategoryId == 78)
        {
            <a href="/s/midi-kjoler" title="Midi kjoler">Find flere Midi kjoler</a>
        }

        else if (Model.Make.ToLower().Contains("birkenstock"))
        {
            <a href="/s/birkenstock" title="Birkenstock">Find mere fra Birkenstock</a>
        }

        else if (Model.Make.ToLower().Contains("na-kd") && Model.CategoryId == 20)
        {
            <a href="/s/blazer-na-kd" title="NA-KD blazer">Find flere NA-KD blazere</a>
        }


        else if (Model.Make.ToLower().Contains("nike") && Model.Title.ToLower().Contains("air") && Model.Title.ToLower().Contains("max"))
        {
            <a href="/s/nike-air-max" title="Nike Air Max">Find flere Nike Air Max</a>
        }
        else if (Model.Make.ToLower().Contains("nike") && Model.CategoryId == 23)
        {
            <a href="/s/nike-sneakers" title="Nike sneakers">Find flere Nike sneakers</a>
        }

        else if (Model.Make.ToLower().Contains("puma") && Model.CategoryId == 23)
        {
            <a href="/s/puma-sneakers" title="Puma sneakers">Find flere Puma sneakers</a>
        }

        else if (Model.Make.ToLower().Contains("pieces") && Model.CategoryId == 78)
        {
            <a href="/s/puma-sneakers" title="Pieces kjoler">Find flere Pieces kjoler</a>
        }

        else if (Model.Area == 2 && Model.CategoryId == 48)
        {
            <a href="/s/t-shirts-kvinder" title="T-shirts til kvinder">Find flere T-shirts til kvinder</a>
        }

        else if (Model.Make.ToLower().Contains("vero moda"))
        {
            <a href="/s/vero-moda" title="Vero moda">Find mere fra Vero moda</a>
        }

        else if (Model.CompanyId == 71)
        {
            <a href="/s/booztlet" title="Booztlet">Find mere fra Booztlet</a>
        }

    </div>
</div>
<br />