﻿

@if (ViewBag.GucciTaske != null && ViewBag.GucciTaske == "true")
{
    <article class="row">
        <div class="col-lg-12 panel panel-default">
            <div id="article" class="description">
             
                Gucci-håndtasker findes i mange forskellige størrelser og stilarter. De er små eller mellemstore, lavet af læder, lærred og ruskind og har rum med lynlås og metallås eller magnetiske kliklukninger.<br /><br />

                <h2>Sådan spotter du falske Gucci-tasker: 8 måder at skelne ægte tasker på</h2>

                For at beskytte dig selv mod svindlere skal du følge nedenstående syv trin for at autentificere en Gucci-taske.
                <br /><br />
                <h3>1.	Kontroller støvposen og ægthedskort.</h3>
                Alle Gucci-punge leveres med støvposer og ægthedskort af høj kvalitet. Typisk er Gucci-støvposer farvet lys honningkage eller mørkebrun med et trykt GG-logo eller Gucci-mærket.<br />

                Selv om nogle forfalskere også placerer deres varer i støvposer, kasser eller papirsposer, vil den falske emballage vise tegn på billige materialer og billig produktion. Kontroller symmetrien og afstanden mellem Gucci-mærket på støvposen.
                <br /><br />
                <h3>2.        Logoet skal være præcist</h3>
                Logoet, der vises på ydersiden af en Gucci-taske, kan variere afhængigt af stilen. Gucci-logoet er som standard de sammenkædede G'er, som typisk er placeret på forsiden af tasken, klappen eller lukningen.

                <br /><br />

                <h3>3.	Monogrammønsteret skal være tydeligt og symmetrisk</h3>
                Gucci-tasker med monogramstil vil have det velkendte mønster, der har det dobbelte GG-logo. Inspicer konsistensen og afstanden af dette mønster.<br />
                G'et til venstre skal være fremadvendt, og G'et til højre skal være bagudvendt og på hovedet. Falske Gucci-monogramposer vil ved nærmere eftersyn have uregelmæssigheder, som f.eks. forskellige størrelser af G'er og uensartede mellemrum.
                <br /><br />

                <h3>4.	Kroppen er lavet af førsteklasses læder</h3>
                Autentiske Gucci-tasker er fremstillet af læder og materialer af den fineste kvalitet. Selv om falsk læder kan virke ægte på afstand, vil der være flere tegn på fremstilling. Billigt, syntetisk læder vil se unaturligt perfekt ud, fordi det er maskinfremstillet.<br />
                Ægte læder vil på den anden side have ufuldkommenheder på overfladen. Ægte læder har også en naturlig muggen lugt, mens falske lædertasker vil lugte af kemikalier eller plastik. Falskt læder vil også føles gummiagtigt i stedet for glat og smøragtigt.
                <br /><br />

                <h3>5.	Indvendigt mærke skal være intakt</h3>
                Ægte Gucci-håndtasker har et varmestempel eller et mærke syet på indersiden, der viser mærkets navn med det registrerede varemærke og ordene "Made in Italy".<br />
                På undersiden af dette mærke er taskens serienummer eller produktionskode, som normalt er to sæt 6-cifrede tal (for nye modeller). På nogle tasker, især vintage-modeller, kan nummerrækken variere.
                <br /><br />

                <h3>6.	Hardware skal være af højeste kvalitet</h3>
                Hardwaren er en vigtig del af enhver designertaske. Nogle gange kopierer forfalskere taskens udseende perfekt, men undlader at kopiere hardwaren.<br />
                Ægte Gucci-tasker har hardware af høj kvalitet, som enten er forgyldt eller lavet af massivt metal. Lynlåse, låse og andre metalbeslag har en Gucci-indgravering, der viser en finish af høj kvalitet med jævne mellemrum og korrekt skrifttype.
                <br /><br />

                <h3>7.       Stitching skal være jævn</h3>
                Sømmene på Gucci-tasker kan også bruges til at vise mærkets logo eller som et designmønster på taskens læder.
                <br /><br />

                <h3>8.        Serienummer</h3>
                Som oftest er serienummeret den hurtigste måde at opdage en falsk Gucci-taske på. Næsten alle ægte Gucci-håndtasker har et lædermærke, der er placeret langs taskens indvendige syninger. Dette serienummermærke indeholder det berømte "Gucci"-logo, men er også nøglen til at identificere en kopi i forhold til den ægte vare.<br />
                Hvis du vender læderfanen opad, skal den være stemplet med taskens serienummer. Nyere Gucci-tasker vil have to rækker af numre, mens tasker fra før 90'erne måske kun har én række af numre.
                <br /><br />
                Men uanset hvilken æra din taske er fra, bør der kun være numre. Ingen bogstaver. Et af de største røde flag til at opdage en falsk Gucci-taske er at se bogstaver på mærket.<br />
                Selv om disse tals betydning er uklar, er det en detalje, som kun få replika tasker har med. Du kan også prøve at indtaste disse tal i Google for at se, om din model dukker op, men du skal ikke føle dig modløs, hvis der ikke vises nogen resultater.<br /><br />

                <h2>Sådan autentificeres Gucci håndtasker</h2>

                <h3>•	Se på stoffet eller læderet</h3>
                Hvis du kigger nærmere på nogle af elementerne i læderet eller stoffet på tasken, kan det være med til at bekræfte dens ægthed.<br /><br />

                <h3>•	Håndtasker af lærred</h3>
                Canvas er det mest almindelige stof til Gucci-håndtasker, og det er her, du kan finde spor til taskens ægthed.
                Til at begynde med skal du kigge på logoet på lærredet. Det er disse elementer, som du skal undersøge nøje:<br />
                G'erne skal vende mod hinanden, med det venstre G til højre og det højre G til venstre. Når dette er kopieret forkert, er det let at opdage.<br />
                G'ernes seriffer skal være lange og elegante. Den del, der strækker sig ind i G'et, skal være længere end den del, der strækker sig mod det modsatte G. De bør ikke være slørede. De bør heller ikke se moderne eller for grove ud, men snarere slanke og elegante.<br />
                Den afrundede del af G'et skal være perfekt oval og må ikke være spids på noget sted.
                Uanset om det er med lærred eller belagt lærred, skal logoet være veldefineret og jævnt, ikke sløret eller dårligt defineret.<br /><br />

                Andre elementer i stoffet spiller også ind. Der er altid to veldefinerede diamantformede "prikker" mellem hvert par G'er, der griber ind i hinanden. Nogle forfalskede tasker gør dette forkert. De kan f.eks. have flere eller færre end to, eller prikkerne kan være berørende eller for langt fra hinanden. Dette mønster skal være vævet ind i stoffet og ikke trykt på det. Dette må ikke forveksles med Gucci-stoffet, som kun har diamantprikker og ingen G'er.
                <br />
                Stoffet på monogram lærredstasker er grovere, selv om det bliver blødere med tiden.
                <br /><br />

                <h3>•	Lædertasker</h3>
                Et stemplet læder, der undertiden kaldes guccissima, er også populært til Gucci-tasker. Dette er læder med logoet præget på det. Også her skal designet være jævnt og regelmæssigt, og logoet skal være tydeligt og let læseligt og ikke sløret.
                <br /><br />
                <h3>•	Hardware</h3>
                Mange forfalskede tasker har hardware, som straks afslører det, da det kan være let, hult, anløbet, afskalet eller afskalende. I modsætning hertil er Gucci-hardware robust.<br />
                Gucci er et af de hotteste navne inden for luksusmode. Gucci kombinerer sine klassiske rødder med moderne, opmærksomhedskrævende stilarter og undlader aldrig at gøre et statement. Her er hvorfor vi elsker Gucci, med alt fra materialer til de forskellige typer hardware og nogle iøjnefaldende billeder af vores yndlingstasker.


            </div>
            <a href="javascript:readMore()" id="readmore">Læs mere</a>
            <a href="javascript:readLess()" id="readless" style="display:none;">Læs mindre</a>
        </div>

    </article>
}
