﻿
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mobile">Om fedttøj.dk</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <img src="/Content/Graphics/fedttoj.jpg" alt="fedttoj.dk" class="img-responsive" /><br /><br />
            Fedttøj.dk samler produkter fra mange forskellige danske tøjsites, så du er fri for at søge rundt på 20 forskellige sites for at finde det tøj, du skal bruge.
            <br /><br />
            I toppen af siden kan du vælge mellem områderne herretøj, dametøj, børnetøj eller diverse. For hvert område er der en del kategorier (f.eks. bukser, kjoler, skjorter, bluser og t-shirts), og for hver af disse kategorier er der én eller flere underkategorier. Så der er masser af tøj at vælge imellem, både for mænd, kvinder og børn.<br /><br />

            Hvis du ved hvilket mærke tøj du søger efter, kan du med fordel klikke ind på mærket og finde det relevante tøj med det samme.
            <br /><br />
            fedttoj.dk ejes af:<br />
            eLaursen ApS<br />
            Thorsvej 23<br />
            8464 Galten<br />
            E-mail: info@fedttoej.dk
            <br /><br />
            God fornøjelse med siden...
            <br /><br /><br /><br />
            Partnere:<br />
            <a href="https://vin-guiden.dk">Vin, rødvin og hvidvin</a>.<br />
            <a href="https://www.fedebutikker.dk">Fede butikker</a>.<br />
            <br />
            Læs mere om <a href="https://da.wikipedia.org/wiki/T%C3%B8j">tøj her</a>.<br />

        </div>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-102091469-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>




}