﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models.ViewModels
@model AnswerViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">  
    <div class="row" itemscope itemtype="https://schema.org/FAQPage">
        <div class="col-xs-12" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            
            <h1 class="mobile" itemprop="name">@Model.Question.Question</h1>
            @foreach (var answer in Model.Answers)
            {                
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text">
                        @Html.Raw(answer.Answer)
                    </div>
                </div>
                <br /><br />
                <span>Svar fra @answer.CreatedBy (@answer.AnswerDate.ToShortDateString())</span><br />
            }

            @if (!Model.Answers.Any())
            {<span>Der er ingen svar endnu. </span>}
            <br /><br />
            Spørgsmål af @Model.Question.CreatedBy
        </div>
    </div>

</div>


@section scripts
    {
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-102091469-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>



}