﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models.ViewModels
@model FrontPageViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">
   <br /><br />
    <div class="row">
        <div class="col-xs-12">
            @{
                List<ArticleViewModel> articles = Model.Articles1;
                articles.AddRange(Model.Articles2);
            }
            @foreach (var item in articles)
            {
                <a href="/artikler/@item.Url" class="frontpage-article" title="@item.Title">
                    <img src="~/Content/Graphics/Articles/@item.PictureName" alt="@item.Title" class="img-responsive" />
                    <h2>@item.Title</h2>
                    @item.MetaDescription
                </a>
                <br />
                <hr />
            }

        </div>
        <div class="col-xs-12">
            <a href="/artikler" title="Spændende artikler om tøj">Læs flere spændende artikler</a>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-xs-12">
            <h1 class="mobile">Tøj til kvinder, mænd og børn</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <article>
                <div id="article" class="article-text-pre">
                    Velkommen til fedttoj.dk. Her finder du et stort udvalg af tøj og sko til mænd, kvinder og børn. Se et udpluk herunder eller vælg en kategori i toppen af siden.<br /><br />
                    På fedttoj.dk kan du finde den helt rigtige shop og købe dit tøj online til billige priser. På sitet har vi samlet et væld af produkter fra forskellige tøjsites, og gjort udvalget nemt og overskueligt for dig. Uanset om du er på udkig efter tøj til mænd, kvinder eller børn, er der rigtig gode muligheder for at finde det her.
                    <br /><br />
                    Er du eksempelvis på udkig efter dametøj, kan du udforske det store kjolemarked, hvor du både kan finde sommerkjoler, festkjoler og hverdagskjoler. Der er også et stort udvalg af nederdele, toppe og undertøj - så hvis du leder efter tøj eller sko til kvinder, er du kommet til det helt rigtige sted.
                    <br /><br />
                    Skulle du stedet være på jagt efter flot herretøj – fx en habit fra Tiger of Sweden eller en fed bluse fra Hugo Boss – så klik på mandeikonet øverst på siden, og få straks et overblik over det store udvalg. Her er både bukser, trøjer og T-shirts fra mange forskellige forhandlere, eksempelvis Tommy Hilfiger, Jack & Jones, Adidas og mange andre populære brands.
                    <br /><br />
                    Derudover er der også et stort sortiment af børnetøj, hvor du bl.a. kan finde bluser, shorts og jeans til børn. Skulle du være på udkig efter en billig flyverdragt eller lignende, er dette også den helt rigtige sektion. Der er både tøj til de helt små børn og til teenagere, så du kan finde alt fra LEGO Wear til Ralph Lauren Kids eller Helly Hansen.
                    <br /><br />
                    En af de mange fordele ved at købe dit tøj via vores site, er, at du ikke behøver at browse rundt på forskellige tøjsites for at finde de bedste tilbud. Vi har gjort arbejdet for dig, og det er både nemt og billigt at handle tøj på nettet, når du benytter fedttoj.dk. Der er over 200.000 produkter på sitet, og du kan bl.a. finde tøj fra forretninger som <a href="https://fedttoj.dk/s/booztlet" title="Booztlet">Booztlet.com</a>, <a href="https://fedttoj.dk/s/nelly" title="Nelly">Nelly</a> og <a href="https://fedttoj.dk/s/ellos" title="Ellos">Ellos</a>.
                    <br /><br />
                    Så tag et kig rundt på sitet og find straks dine favorittøjmærker til fordelagtige priser.
                </div>
                <a href="#" onclick="articleView()" id="articleViewLink">Vis mere</a>
            </article>
            <br />
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">

            <br />
            <a href="/nyeste-toej/kvinde" title="Nyeste tøj til kvinder"><h2>Nyeste tøj til kvinder</h2></a>
        </div>
    </div>
    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.WomensProducts })
        <div class="col-xs-12">
            <a href="/kvinde" class="pull-right" title="Tøj til kvinder">Se mere tøj til kvinder &raquo;</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="/nyeste-toej/mand" title="Nyeste tøj til mænd"><h2>Nyeste tøj til mænd</h2></a>
        </div>
    </div>
    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.MensProducts })
        <div class="col-xs-12">
            <a href="/mand" class="pull-right" title="Tøj til mænd">Se mere tøj til mænd &raquo;</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="/nyeste-toej/barn" title="Nyeste tøj til børn og unge"><h2>Nyeste tøj til børn og unge</h2></a>
        </div>
    </div>
    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.KidsProducts })
        <div class="col-xs-12">
            <a href="/barn" class="pull-right" title="Tøj til børn og unge">Se mere tøj til børn og unge &raquo;</a>
        </div>
    </div>
    <br /><br />

    <hr />

    <br />
    Andre gode webshops: <a href="/s/kidsworld" title="Kidsworld">Kidsworld</a> | <a href="/s/babyshop" title="Babyshop">Babyshop</a> | <a href="/s/boohoo" title="Boohoo.com">Boohoo.com</a> | <a href="/s/booztlet" title="Booztlet">Booztlet.com</a>| <a href="/s/nelly" title="Nelly">Nelly</a> | <a href="/s/ellos" title="Ellos">Ellos</a>
    <br /><br />
    Nye annoncører på fedttoj.dk: <a href="/s/number-nine" title="Number Nine">Number Nine</a> | <a href="/s/about-you" title="ABOUT YOU">ABOUT YOU</a> | <a href="/s/tøjeksperten" title="Tøjeksperten">Tøjeksperten</a> | <a href="/s/kontainer-copenhagen" title="Kontainer Copenhagen">Kontainer Copenhagen</a>
    <br />
    <div class="row">
        <div class="col-xs-12">
            <h2>Video om tøj</h2>
            @if (Model.Video != null)
            {
                <a href="/videos/@Model.Video.Url" class="frontpage-article" title="@Model.Video.Title">
                    <img src="~/Content/Graphics/videos/@Model.Video.PictureName" alt="@Model.Video.Title" class="img-responsive" />
                    <h2>@Model.Video.Title</h2>
                    @Model.Video.MetaDescription
                </a>
            }
            <br /><br />
            <a href="/videoer" title="videoer">Se flere videoer</a>
        </div>
    </div>


</div>
@section scripts
    {
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

<script type="application/ld+json">
    {
    "@@context": "http://schema.org",
    "@@type": "Organization",
    "legalName": "fedttoj.dk",
    "name": "fedttoj.dk",
    "url": "https://fedttoj.dk",
    "sameAs": [
    "https://www.facebook.com/fedttoej",
    "https://twitter.com/fedttoej",
    "https://dk.pinterest.com/fedttoej/"
    ]
    }
</script>
}