﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models.ViewModels
@using FedttoejMvc.Models
@model CategoryViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    var query = Utilities.GetSearchQuery(Model.PriceFrom, Model.PriceTo, Model.Sorting);
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @if (Model.Description.Length > 10)
            {
                <h1 class="mobile">@ViewBag.TheTitle</h1>
            }
            else
            {
                <h1 class="mobile">@Model.Header</h1>
            }
            <br />
            <div class="pull-left">
                <img src="~/Content/Graphics/burgermenu.png" width="35" onclick="togglePriceMenu()" />
            </div>
            <div class="pull-right">
                <select id="sorting" onchange="searchPrice()">
                    @foreach (var item in Model.SortTypes)
                    {
                        <option value="@item.Key" @(item.Key == (int)Model.Sorting ? "selected='selected'" : "")>@item.Value</option>
                    }
                </select>
            </div>
        </div>
    </div>   
    
    <div class="row" id="mobile-price-search">
        <hr />
        <div class="col-xs-6">
            <div class="price-input">
                <div class="price-field">
                    Pris fra:<br />
                    <input type="number"
                           class="min-input"
                           value="0">
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="price-input">

                <div class="price-field">
                    Pris til:<br />
                    <input type="number"
                           class="max-input"
                           value="10000">
                </div>
            </div>
        </div>
        <div class="col-xs-12 clearfix">
            <a href="javascript:searchPrice()" class="btn btns btn-primary btn-lg pull-right">Søg</a>            
        </div>
        <div class="col-xs-12">           
            <hr />
        </div>


        @if (Model.Makes != null && Model.Makes.Any())
        {

            <div class="col-xs-12 dropdown-menu-main not-hidden">
                <span class="brand-header">Mærker</span>
                <ul>
                    @foreach (var make in Model.Makes.Take(40).OrderBy(x => x.Make.MakeName))
                    {
                        if (Model.CategoryId > 0)
                        {
                            <li><a href="@(GetUrlHelper.GetCategoryMakeUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.CategoryId, Model.CategoryName, make.Make.Id, make.Make.MakeName) + query)" title=">@make.Make.MakeName">@(string.IsNullOrWhiteSpace(make.Make.MakeName) ? "Ukendt" : make.Make.MakeName) (@make.Count) <span class="pull-right arrow-down">></span></a></li>
                        }
                        else
                        {
                            <li><a href="@(GetUrlHelper.GetMainCategoryMakeUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.CategoryId, Model.CategoryName, make.Make.Id, make.Make.MakeName) + query)" title=">@make.Make.MakeName">@(string.IsNullOrWhiteSpace(make.Make.MakeName) ? "Ukendt" : make.Make.MakeName) (@make.Count) <span class="pull-right arrow-down">></span></a></li>
                        }
                    }
                    @if (Model.Makes.Count > 40)
                    {
                        <li>&nbsp;</li>
                        <li><a href="#" onclick="showMakes()">&raquo; Vis alle mærker</a></li>
                        <li>&nbsp;</li>
                    }
                </ul>
            </div>

        }
    </div>
   <br />
    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = Model.CurrentUrl, Pages = Model.Paging, CurrentPageNumber = Model.CurrentPageNumber })
            <br />

        </div>
    </div>
    @if (Model.Description.Length > 10)
    {
        <article class="row">
            <div class="col-lg-12 panel panel-default">
                <div id="article" class="description">
                    @Html.Raw(Model.Description)

                </div>
                <a href="javascript:readMore()" id="readmore">Læs mere</a>
                <a href="javascript:readLess()" id="readless" style="display:none;">Læs mindre</a>
            </div>
        </article>

    }
    <a href="/rankering">Info om rankering</a>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      var currentUrl = '@Model.CurrentUrl';
        var priceMenuVisible = false;
        const priceInputvalue = document.querySelectorAll(".price-input input");
    </script>
    @if (Model.PriceTo > 0)
    {
        <script type="text/javascript">
            priceInputvalue[0].value = '@Model.PriceFrom';
            priceInputvalue[1].value = '@Model.PriceTo';
            document.getElementById("mobile-price-search").style.display = "block";
            priceMenuVisible = true;
        </script>
    }

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.AreaUrl)",
        "name": "Tøj til @Model.AreaName"
        }
        },{
        "@@type": "ListItem",
        "position": 2,
        "item": {
        "@@id": "https://fedttoj.dk@(GetUrlHelper.GetMainCategoryUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.MainCategoryName))",
        "name": "@Model.MainCategoryName"
        }
        }
        @if (Model.CategoryId > 0)
        {<text>
                ,{
                "@@type": "ListItem",
                "position": 3,
                "item": {
                "@@id": "https://fedttoj.dk@(GetUrlHelper.GetCategoryUrl(Model.Controller, Model.Area, Model.MainCategoryName, Model.CategoryId, Model.CategoryName))",
                "name": "@Model.CategoryName"
                }
                }
        </text>
    }
        ]
        }
    </script>

}
@Html.Partial(MVC.Shared.Views.MakesViewBottom, new MakesViewModel { Area = Model.Area, CategoryId = Model.CategoryId, MainCategoryId = Model.MainCategoryId, Controller = Model.Controller, Makes = Model.Makes, CategoryName = Model.CategoryName, PriceFrom = Model.PriceFrom, PriceTo = Model.PriceTo, Sorting = Model.Sorting })