﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Tøj til mænd</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <article>
                <div id="article" class="article-text-pre">
                    Velkommen til herreafdelingen på fedttoj.dk. Her finder du et stort udvalg af tøj og sko til mænd. Se et udpluk herunder eller vælg en kategori i toppen af siden.<br /><br />

                    Hvis du er på udkig efter smart herretøj, er du kommet til det helt rigtige sted. Vi har samlet de bedste tilbud fra mange forskellige tøjsites, og her på fedttoj.dk får du adgang til et stort sortiment af billigt tøj til mænd.

                    Uanset om du leder efter trøjer, jeans, T-shirts, poloer eller noget helt femte, så er der alle muligheder for at finde det her. Du kan eksempelvis finde flotte habitter fra Hugo Boss, lækre skjorter fra Tiger of Sweden og fede bukser fra Selected, G-star eller Jack & Jones.
                    <br /><br />
                    Der er mange forskellige kategorier du kan udforske, og du kan både finde festtøj, casual tøj, sportstøj og undertøj til mænd. Derudover er der et varieret udvalg af herresko og støvler at vælge imellem. Du kan fx finde sneakers fra DC-Shoes, lædersko fra Boss Green og klassiske sportssko fra Nike eller Adidas
                    <br /><br />
                    Hvis du allerede har udset dig et specifikt tøjmærke, klikker du bare på menuen til venstre, hvor du kan se en oversigt over de mange forskellige modebrands. Og har du endnu ikke bestemt dig, kan du bare lade dig inspirere af de ca. 200.000 forskellige produkter, der er tilgængelige via sitet.

                    Det bliver mere og mere populært at købe tøj på nettet, men det kan også være svært at overskue det store udvalg og de mange forskellige sites. Dette problem har vi forsøgt at løse ved at levere en nem og overskuelig tøjportal, hvor du hurtigt kan finde dit tøj online.
                    <br /><br />
                    Der er fyldt med populære tøjbrands i alle tænkelige prisklasser og størrelser, så tag et kig på det store udvalg og find straks det moderigtige herretøj du mangler.
                </div>
                <a href="#" onclick="articleView()" id="articleViewLink">Vis mere</a>
            </article>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Nyeste tøj til mænd</h2>
        </div>
    </div>
    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    </div>

</div>


@section scripts
    {
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


}