﻿@using FedttoejMvc.Models.ViewModels
@model FedttoejMvc.Models.ViewModels.AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mobile">@ViewBag.TheTitle</h1>
        </div>
    </div>
   

    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = Model.CurrentUrl, Pages = Model.Paging, CurrentPageNumber = Model.CurrentPageNumber })
        </div>
    </div>

    @if (Model.CurrentPageNumber == 1 && Model.Products[0].TheArea == FedttoejMvc.Models.Utilities.Area.Women)
    {

        <article class="row">
            <div class="col-lg-12 panel panel-default">
                <h2 class="mobile">Nyt tøj til kvinder</h2>
                Køber du nyt tøj til hverdag eller fest, så har vi helt sikkert tøj til dig. Vi har bluser og bukser i mange forskellige modeller og farver. Er du til lang kjole eller kort kjole, så finder du det her. Der er kjoler til den lille, private fest og til gallafest. Er du mere til nederdel finder du dem her i mange forskellige farver og materialer. Du finder blonde bluser med flotte detaljer, som giver din tøjstil et romantisk look. Er du kreativ med din tøjstil kan du sammensætte blonde bluser med et par jeans og få en rå stil. I vores kategori for dametøj finder du også tøj med glimmer. Glimmer på bluser, bukser og kjoler er fantastisk til fest for at give glamour til din tøjstil.
                <br /><br />
                <h3>Forny din tøjstil</h3>
                Når du vælger nyt tøj til din garderobe er der forskellige tips, du kan bruge til at udvælge tøj. Vi har dametøj i mange forskellige størrelser og farver. Hav et overblik over din garderobe, så du ved, hvad du mangler, og hvad du allerede har og kan sætte sammen med nyt dametøj. Vær åben overfor at prøve nyt tøj. Prøv dametøj i nye farver, som kan give din garderobe nyt liv. Pift din stil op med accessories som tasker og tørklæder. Accessories kan både være med til at give din tøjstil et nyt look og til at fremhæve din personlighed ved dit valg af farver.
                <br /><br />
                <h3>Dametøj i store størrelser</h3>
                Vi har moderigtigt tøj til kvinder i alle størrelser. Du kan finde dametøj i store størrelser, som passer til både hverdag og fest. Fedttoj.dk bliver løbende opdateret med nyt dametøj, så du kan helt sikkert finde tøj, du kan lide. Her finder du tøj, som både kan vise de ting, du er glad for og skjule det, du er mindre glad for. Det er vigtigt, at du finder nyt tøj, som har den rette pasform. Så kan du altid føle dig godt tilpas i dit tøj.

            </div>
        </article>

    }

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


}