﻿
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mobile">Sitemap på fedttoj.dk</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Herunder finder du de forskellige kategorier på sitet:<br /><br />
            <a href="/kvinde"><h3>Dametøj</h3></a>
            <a href="/kvinde/13-Kjoler" title="Kjoler">Kjoler</a> |<a href="/kvinde/1-Bukser-og-jeans" title="Bukser og jeans til kvinder">Bukser og jeans</a> | <a href="/kvinde/2-Shirts" title="Shirts til kvinder">Shirts</a> | <a href="/kvinde/3-Jakker" title="Jakker til kvinder">Jakker</a> | <a href="/kvinde/4-Bluser-og-troejer" title="Bluser og Trøjer til kvinder">Bluser og Trøjer</a>
            | <a href="/kvinde/5-Shorts" title="Shorts til kvinder">Shorts</a> | <a href="/kvinde/6-Diverse" title="Diverse til kvinder">Diverse</a> | <a href="/kvinde/7-Sko-og-stoevler" title="Sko og støvler til kvinder">Sko og støvler</a>
            | <a href="/kvinde/8-Undertoej" title="Undertøj til kvinder">Undertøj</a> | <a href="/kvinde/9-Skjorter" title="Skjorter til kvinder">Skjorter</a>
            | <a href="/kvinde/Dametoej/2-Dametoej" title="Dametøj">Dametøj</a> | <a href="/kvinde/10-Nederdele" title="Nederdele">Nederdele</a> | <a href="/kvinde/12-Toppe" title="Toppe">Toppe</a>
            | <a href="/kvinde/11-Badetoej">Badetøj</a> | <a href="/mand/18-Sportstoej" title="Sportstøj">Sport</a> |

            <br /><br />
            <a href="/mand" title="Herretøj"><h3>Herretøj</h3></a>
            <a href="/mand/1-Bukser-og-jeans" title="Bukser og jeans til mænd">Bukser og jeans</a> | <a href="/mand/2-Shirts" title="Shirts til mænd">Shirts</a> | <a href="/mand/3-Jakker" title="Jakker til mænd">Jakker</a> | <a href="/mand/4-Bluser-og-troejer" title="Bluser og Trøjer til mænd">Bluser og Trøjer</a>
            | <a href="/mand/5-Shorts" title="Shorts til mænd">Shorts</a> | <a href="/mand/6-Diverse" title="Diverse til mænd">Diverse</a> | <a href="/mand/7-Sko-og-stoevler" title="Sko og støvler til mænd">Sko og støvler</a>
            | <a href="/mand/8-Undertoej" title="Undertøj til mænd">Undertøj</a> | <a href="/mand/9-Skjorter" title="Skjorter til mænd">Skjorter</a>
            | <a href="/mand/Herretoej/1-Herretoej" title="Herretøj">Herretøj</a> | <a href="/mand/18-Sportstoej" title="Sportstøj">Sportstøj</a> |
            <br /><br />
            <a href="/barn" title="Herretøj"><h3>Børnetøj</h3></a>
            <a href="/barn/13-Kjoler" title="Kjoler til piger">Kjoler</a> |<a href="/barn/1-Bukser-og-jeans" title="Bukser og jeans til børn">Bukser og jeans</a> | <a href="/barn/2-Shirts" title="Shirts til børn">Shirts</a> | <a href="/barn/3-Jakker" title="Jakker til børn">Jakker</a> | <a href="/barn/4-Bluser-og-troejer" title="Bluser og Trøjer til børn">Bluser og Trøjer</a>
            | <a href="/barn/5-Shorts" title="Shorts til børn">Shorts</a> | <a href="/barn/6-Diverse" title="Diverse til børn">Diverse</a> | <a href="/barn/7-Sko-og-stoevler" title="Sko og støvler til børn">Sko og støvler</a>
            | <a href="/barn/8-Undertoej" title="Undertøj til børn">Undertøj</a> | <a href="/barn/9-Skjorter" title="Skjorter til børn">Skjorter</a>
            | <a href="/barn/10-Nederdele" title="Nederdele til piger">Nederdele</a> | <a href="/barn/12-Toppe" title="Toppe til børn">Toppe</a>
            | <a href="/barn/11-Badetoej" title="Badetøj til børn">Badetøj</a> | <a href="/barn/14-Dragter-og-overalls" title="Dragter og overalls til børn">Dragter og overalls</a> |
            <br /><br />

            <h3>Annoncører</h3>
            <a href="/s/booztlet" title="Booztlet">Booztlet</a> |
            <a href="/s/ellos" title="Ellos">Ellos</a> |
            <a href="/s/kidsworld" title="KidsWorld">KidsWorld</a> |
            <a href="/s/nelly" title="Nelly">Nelly</a> |
            <a href="/s/nly-man" title="NLY Man">NLY Man</a> |
            <a href="/s/about-you" title="About You">About You</a> |
            <a href="/s/bubbleroom" title="Bubbleroom">Bubbleroom</a> |
            <a href="/s/tøjeksperten" title="Tøjeksperten">Tøjeksperten</a> |
            <a href="/s/kaufmann" title="Kaufmann">Kaufmann</a> |
            <a href="/s/boohoocom" title="Boohoo.com">Boohoo.com</a> |
            <a href="/s/spartoo" title="Spartoo">Spartoo</a> |
            <a href="/s/number-nine" title="Number Nine">Number Nine</a> |
            <a href="/s/babyshop" title="Babyshop">Babyshop</a> |
            <a href="/s/quint" title="Quint">Quint</a> |
            <a href="/s/cellbes" title="Cellbes">Cellbes</a> |
            <a href="/s/timarco" title="Timarco">Timarco</a> |
            <a href="/s/appearance" title="Appearance">Appearance</a> |
            <a href="/s/intimo" title="Intimo">Intimo</a>

            <br /><br />

            <a href="/sitemap-kvinder">Sitemap kvinder</a><br />
            <a href="/sitemap-maend">Sitemap mænd</a><br />
            <a href="/sitemap-boern">Sitemap børn</a><br />

            <h3>Diverse (ukategoriseret)</h3>

            <a href="/diverse/Shirts/16-Shorts">Shorts</a>
            <span>|</span>
            <a href="/diverse/Shirts/48-T-shirt">T-shirt</a>
            <span>|</span>
            <a href="/diverse/Shirts/9-Bukser">Bukser</a>
            <span>|</span>
            <a href="/diverse/Shirts/51-Handsker">Handsker</a>
            <span>|</span>
            <a href="/diverse/Shirts/55-Sko">Sko</a>
            <span>|</span>
            <a href="/diverse/Shirts/22-Haette-sweat">Hætte sweat</a>
            <span>|</span>
            <a href="/diverse/6-Diverse">Blandet tøj</a>
            <span>|</span>
            <a href="/diverse/Shirts/68-Stroemper">Strømper</a>
            <span>|</span>
            <a href="/diverse/Shirts/75-Jakker">Jakker</a>
            <span>|</span>
            <a href="/diverse/Shirts/4-Jeans">Jeans</a>
            <span>|</span>
            <a href="/diverse/Shirts/77-Toppe">Toppe</a>
            <span>|</span>
            <a href="/diverse/Shirts/90-Langaermede-T-shirts">Langærmede T-shirts</a>
            <span>|</span>
            <a href="/diverse/Shirts/23-Sneakers">Sneakers</a>
            <span>|</span>
            <a href="/diverse/Shirts/59-Skjorter">Skjorter</a>
            <span>|</span>
            <a href="/diverse/Shirts/42-Sweatshirts">Sweatshirts</a>
            <span>|</span>
            <a href="/diverse/Shirts/56-Striktroejer">Striktrøjer</a>
            <span>|</span>
            <a href="/diverse/Shirts/79-Nattoej">Nattøj</a>
            <span>|</span>
            <a href="/diverse/Shirts/11-Habitter">Habitter</a>
            <span>|</span>
            <a href="/diverse/Shirts/15-Stoevler">Støvler</a>
            <span>|</span>
            <a href="/diverse/Shirts/74-Leggings">Leggings</a>
            <span>|</span>
            <a href="/diverse/Shirts/76-Bluser">Bluser</a>
            <span>|</span>
            <a href="/diverse/Shirts/111-Diverse">Diverse</a>
            <span>|</span>
            <a href="/diverse/Shirts/53-Tasker">Tasker</a>
            <span>|</span>
            <a href="/diverse/Shirts/81-Undertoej">Undertøj</a>
            <span>|</span>
            <a href="/diverse/Shirts/98-Uld">Uld</a>
            <span>|</span>
            <a href="/diverse/Shirts/67-Badetoej">Badetøj</a>
            <span>|</span>
            <a href="/diverse/Shirts/100-Heldragter">Heldragter</a>
            <span>|</span>
            <a href="/diverse/Shirts/46-Huer">Huer</a>
            <span>|</span>
            <a href="/diverse/Shirts/78-Kjoler">Kjoler</a>
            <span>|</span>
            <a href="/diverse/Shirts/54-Baelter">Bælter</a>
            <span>|</span>
            <a href="/diverse/Shirts/80-Caps">Caps</a>
            <span>|</span>
            <a href="/diverse/Shirts/94-Bodystockings">Bodystockings</a>
            <span>|</span>
            <a href="/diverse/Shirts/71-Toerklaeder">Tørklæder</a>
            <span>|</span>
            <a href="/diverse/Shirts/104-Sutsko">Sutsko</a>
            <span>|</span>
            <a href="/diverse/Shirts/61-Gummistoevler">Gummistøvler</a>
            <span>|</span>
            <a href="/diverse/Shirts/64-Sandaler">Sandaler</a>
            <span>|</span>
            <a href="/diverse/Shirts/52-Halstoerklaeder">Halstørklæder</a>
            <span>|</span>
            <a href="/diverse/Shirts/63-Haarpynt">Hårpynt</a>
            <span>|</span>
            <a href="/diverse/Shirts/124-Fodboldstoevler">Fodboldstøvler</a>
            <span>|</span>


            <br /><br /><br />
            <a href="/tidligere-sogninger">Se tidligere søgninger</a>
        </div>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-102091469-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>



}