﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Tøj til kvinder</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <article>
                <div id="article" class="article-text-pre">
                    Velkommen til kvindeafdelingen på fedttoj.dk.   At købe tøj til kvinder på danske webshops er blevet en populær og bekvem måde at opdatere garderoben på. Danske onlinebutikker tilbyder et stort udvalg af moderne og tidløse styles, der passer til enhver smag og anledning. Her er nogle gode grunde til, hvorfor du bør overveje at handle tøj til kvinder online på danske webshops.
                    <br /><br />
                    En af de vigtigste fordele ved at handle på danske webshops er det brede udvalg. Mange webshops specialiserer sig i kvindemode og tilbyder alt fra hverdagstøj og arbejdstøj til elegante festkjoler og bæredygtige materialer. Det betyder, at du nemt kan finde lige det, du leder efter, uden at skulle forlade hjemmet.
                    <br /><br />
                    Danske webshops har ofte fokus på kvalitet og bæredygtighed. Mange tilbyder tøj fra danske designere og brands, som prioriterer ansvarlig produktion og miljøvenlige materialer. Dette gør det muligt at købe moderne tøj med god samvittighed.
                    <br /><br />
                    Sikkerheden er også en stor fordel. Når du handler på en dansk webshop, er du beskyttet af dansk lovgivning, der giver dig 14 dages returret og to års reklamationsret. Du kan derfor trygt shoppe online og vide, at du har mulighed for at returnere eller bytte dine varer, hvis de ikke lever op til forventningerne.
                    <br /><br />
                    For at få mest ud af din online shoppingoplevelse, kan det være en god idé at kigge efter webshops med gode kundeanmeldelser. Tilmeld dig også nyhedsbreve fra dine foretrukne shops for at modtage eksklusive rabatter og tilbud.
                    <br /><br />
                    At købe tøj til kvinder på danske webshops kombinerer bekvemmelighed, kvalitet og sikkerhed. Så uanset om du leder efter en ny kjole, jakke eller accessories, er danske webshops et fremragende sted at starte din shoppingtur.
                </div>
                <a href="#" onclick="articleView()" id="articleViewLink">Vis mere</a>
            </article>

        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            <h2>Nyeste tøj til kvinder</h2>
        </div>
    </div>
    <div class="row">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    </div>

</div>


@section scripts
    {
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


}