﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Nej, jeg betaler ikke bare for et mærke.<br />Jeg betaler for så meget mere</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/er-maerketoej-bedre" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <br /><br /><br />
            <meta itemprop="datePublished" content="2015-11-08T08:00:00+08:00" />
            <span class="small pull-left">8. november 2015</span>
            <span class="small pull-right">af Malthe Sporring</span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                Hvis du er en person, der køber mærkevaretøj, så har du helt sikkert hørt det før:<br /><br />
                "Hvorfor i alverden køber du sådan noget dyrt tøj? Du betaler jo kun for et mærke."
                <br /><br />
                Disse mennesker kan ikke se logikken i at købe et produkt, hvis plads de kunne fylde for en billigere pris. Det eneste de ser, når de sammenligner normalt tøj og mærkevaretøj, er to ens par bukser og to ulige prisskilte, og det at du køber dyrt tøj ser de som blær af, hvor mange penge du har. Det er af den grund, at de ser det som deres ansvar at kritisere og belære dig om alt det forkerte i dit tøjvalg.
                <br /><br />
                Det eneste de ser er prisen. De ignorerer alle de små detaljer, alle de uskrevne frynsegoder, der hænger over mærkevaretøj. Alt det der gør mærkevaretøj hele prisen værd.
                <br /><br />
                Dette er hvad du i virkeligheden betaler for, når du køber mærkevaretøj. Og det er ikke kun et mærke.
                <br /><br />
                <h2 class="mobile">Du betaler for kvalitet</h2>
                En af de mest indlysende forklaringer på mærkevaretøjs høje pris er, at tøjet er af god kvalitet. Ved at putte sit mærke på et stykke tøj, forventes der en hvis standard af kvalitet fra virksomheden, og denne kvalitet koster selvfølgelig penge. Derfor forhøjes prisen. Meget af den høje pris går til stof, der er rarere mod huden og mere holdbart. Derudover betales der for bedre syninger, fastere knapper og andre faktorer, der forhøjer kvaliteten. Denne forhøjede holdbarhed i mærkevaretøj kan faktisk endda, i længden, gøre tøjet billigere end normalt tøj, fordi det ikke skal udskiftes så ofte.
                <br /><br />
                <img src="/Content/Graphics/Articles/brandClothes.jpg" itemprop="image" alt="Mærketøj" class="img-responsive" style="margin-top: 10px;margin-bottom:10px;" />
                <h2 class="mobile">Du betaler for design</h2>
                Virksomheder der producerer mærkevaretøj plejer også at have flere ressourcer sat af til design. Mærkevarevirksomheder bruger mere tid på at analysere markedet for at skabe moderigtigt tøj, der er unikt og følger med tiden. Derudover bliver der sat mere fokus på detaljerne; knapperne skal være flotte frem for billige at producere, syningerne skal tilføje noget til designet, og farverne skal matche hinanden og følge med på moden. Alt dette koster selvfølgelig penge, hvilket hæver prisen. Til gengæld har du, i stedet for at betale for et billigt produkt, der bare er skabt til at se okay ud, købt et stykke tøj som er flot helt ned til den mindste syning og ser bedre og bedre ud, jo tættere på du kommer. Så lyder en lidt forhøjet pris da fair nok.
                <br /><br />
                <h2 class="mobile">Du betaler for æstetik og service</h2>
                Butikker der sælger mærkevaretøj bruger ofte flere penge på at forskønne deres butikker og hjemmesider. Ved at købe mærkevaretøj vælger du at omgive dig selv med professionelle og flotte omgivelser mens du shopper. Du betaler for at leve et liv, hvori shopping ikke bare er en pligt, men en oplevelse; et liv hvori du kan forkæle dine øjne med æstetiske og sansevækkende syn skabt af en professionel designer.
                <br /><br />
                Derudover kan mærkevarevirksomheders berømthed og store budget gøre, at de kan tillade sig selv at være mere kræsne med, hvem de ansætter i deres butikker. Dette gør, at det kun er de bedste af de bedste, der bliver ansat i mærkevare butikker. På den måde kan du, ved at købe mærkevaretøj, være sikker på, at du får en god service når du køber tøj.
                <br /><br />
                <h2 class="mobile">Du betaler for bekæmpelsen af udnyttede arbejdere</h2>
                Den høje pris på mærkevaretøj kan også være grundet at tøjet er produceret af professionelle i industrialiserede lande. Grunden til at nogle tøjproducenter kan sælge tøj så billigt er, at tøjet er blevet masseproduceret i udlandet et sted, hvor mindstelønnen er meget lavere. Denne sænkning af omkostninger gør, at tøjfirmaer kan sætte prisen ned på deres produkter. Selvfølgelig er der også nogle mærkevareproducenter der gør dette, men den forhøjede pris er en stærk hentydning til, at tøjet er produceret af arbejdere med en fornuftig mindsteløn, hvilket hæver prisen. Ved at købe mærkevaretøj mindsker du chancen for at støtte udnyttelsen af undertrykkede arbejdere.
                <br /><br />
                <h2 class="mobile">Du betaler for selvsikkerhed</h2>
                Der en vis grænse hvor til materialet, designet, servicen og menneskerettighederne gør prisen forståelig. Alligevel har flere virksomheder overgået denne grænse ved at sætte prisen på deres tøj endnu højere op, for hvad der virker som ingen grund. Realiteten er at ved at sætte prisen op på tøjet virker det mere specielt, værdifuldt og luksuriøst hvilket gør at flere folk vil købe tøjet. Den store pris giver bæreren en følelse af selvsikkerhed og glæde ved at gå i noget ekstravagant.
                <br /><br />
                At betale mere for ingenting kan virke fuldstændig idiotisk og kan ses som manipulering og udnyttelse af naivitet. Men det der bliver glemt er, at det kun er på det fysiske niveau man betaler for ingenting. På det psykiske niveau er det en helt anden sag. Ved at forkæle dig selv med noget dyrt og overdådigt føler du dig speciel og flot, når du går rundt i det. Den høje pris på tøjet gør dig selvsikker og glad.
                <br /><br />
                De ekstra penge du betaler for mærkevaretøjet er ikke for ingenting. Du betaler for selvsikkerheden ved at gå i noget der symboliserer værdi og for glæden ved at gå rundt i noget opulent og værdifuldt.
                <br /><br />
                Når det kommer til stykket er dette den mest værdifulde egenskab ved mærkevaretøj. Selvfølgelig er det rart at kunne betale ekstra for god kvalitet og service men at man kan betale for selvsikkerhed og betale for lykke - dét er det mest fantastiske. Selvfølgelig går denne faktor ikke for folk der ikke føler sig specielle i mærkevaretøj, men for dem der gør er dette en rigtig stor evne af mærkevaretøj.
                <br /><br />
                For når det kommer til stykket, hvis du bliver glad ved at gå i mærkevaretøj, er det så ikke fuldstændigt lige meget hvad andre synes? Hvis du bliver glad af at gå i mærkevaretøj er prisen så ikke irrelevant?
                <br /><br />
                Hvis du bliver glad af at gå i mærkevaretøj det er det jo det hele værd.

                <br /><br />

                Var der noget essentielt vi glemte at nævne om mærketøj? Efterlad en kommentar med dit svar!
            </article>
            <br /><br />
            @Html.Action(MVC.Article.ArticleComment(2, "/artiklerne/er-maerketoej-bedre"))

            <div class="clearfix"></div>
            <br /><br />

            <a href="/kvinde/Dametoej/2-Dametoej">Se tøj til kvinder</a><br />
            <a href="/mand/Herretoej/1-Herretoej">Se tøj til mænd</a>


        </div>
        <div class="col-xs-12">
            <br /><br />
            @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
        </div>
       
        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}