﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Coronavirus gør indhug på tøjmarkedet</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/coronavirus-gor-indhug-paa-tojmarkedet" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="clearfix"></div>
            <meta itemprop="datePublished" content="2020-03-03T11:00:00+01:00" />
            <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Julie" />
            </div>
            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="fedttoj.dk" />
                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                </div>

                <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                <meta itemprop="url" content="https://fedttoj.dk" />
            </div>
            <span class="pull-left">3. marts 2020</span>
            <span class="small pull-right"></span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                <img src="/Content/Graphics/Articles/corona.jpg" itemprop="image" alt="Coronavirus gør indhug på tøjmarkedet" class="img-responsive" /><br /><br />
                Det nye årti startede ud med rapporter om en ny type virus der var begyndt at sprede sig i Kina, og siden da er mediebevågenheden kun steget. Især her i Danmark følges antallet af smittede, folk i karantæne og andre statistikker nøje mens forskellige eksperter kommer med deres bud på hvordan smitten bedst kan tackles og WHO varsler om en forestående pandemi.
                <br /><br />
                En af grundene til at smitten kan spredes så hurtigt, skyldes unægtelig også at verden er blevet mindre indenfor de sidste to årtier. Globaliseringen har medført en tættere knyttet verden med lynhurtig kommunikation og transport på tværs af landegrænser – men også øget samhandel. Danmark tjener styrtende på eksport til andre lande, men der importeres også varer som kan produceres bedre og billigere i udlandet og som skal sælges i Danmark.
                <br /><br />
                <h2 class="mobile">Økonomisk styrtdyk</h2>
                Frygten for virus og dens betydning for samhandel, kan ses i aktiemarkedet, hvor bl.a. europæiske aktier er i fald. Dette skyldes især usikkerheden i forhold til de økonomiske udsigter. Såfremt der fortsat er mangel på varer og manglende produktion i Kina, så kan dette få store konsekvenser for firmaer der er afhængige af import af kinesiske varer til videresalg. EU forsøger i øjeblikket at afbøde de værste slag fra virussens påvirkning på aktierne, og samtidig yde hjælp til hårdt ramte medlemslande, herunder især Norditalien, hvis egen produktion nu også påvirkes af frygten for smitte.
                <br /><br />
                Kina er uden tvivl et af de største lande indenfor produktion af bl.a. tøj, make-up og teknologi, men det er også her hvor virussen er opstået. På grund af frygt for smitte, er store dele af den kinesiske produktion lukket ned og folk holder sig inde døre. Selvom mange produktionsområder befinder sig langt væk fra Wuhan-provinsen, hvor de første tilfælde blev opdaget, så har smitten vist sig at spredes så hurtigt at mange fabrikker har valgt at tage konsekvensen om at holde lukket. Det samme gør sig også gældende for en lang række butikker, markeder, restauranter og cafeer i de kinesiske byer, hvor virussen er skyld i spøgelseslignende tilstand.
                <br /><br />
                Ifølge Dansk Erhverv, er der i øjeblikket ingen varer der bliver produceret eller sendt ud fra Kina. Dette har medført store forsinkelser på leverancer i hele Europa, og jo længere tid lukningerne varer ved, jo større konsekvenser vil det medføre for detailbranchen.
                <br /><br />
                <h2 class="mobile">Tøjmarkedet er særligt udsat</h2>
                En af de sektorer der er særlig afhængig af produktion i Kina, er netop tøjbranchen. Kina producerer over en tredjedel af alt tøj og tekstil der findes på verdensplan. Tøjproduktionen i Kina har en hastighed, kvalitet og pris der ikke kan matches i Europa, og derudover foregår produktionen i en så stor volumen at selv mindre forsinkelser kan mærkes på globalt plan.
                <br /><br />
                Europa er en af de store importører når det gælder tøj fra Kina, og især i Danmark er landet en vigtig handelspartner. Importen fra Kina er mere end dobbelt så stor sammenlignet med USA, og i 2018 importerede Danmark for mere end 47 milliarder kroner fra Kina. Mange danske butikker og virksomheder importerer over halvdelen af deres varesortiment fra Kina, og derfor bliver især tøjbutikkerne og tøjmærkerne særlig hårdt ramt. Hvis varerne ikke leveres til tiden, kan det betyde udskydelser af hvornår kollektionerne i 2020 bliver lanceret. Det vil altså sige at f.eks. sommerkollektioner kan komme med flere måneders forsinkelse hvis situationen ikke kommer under kontrol i Kina, hvilket mange europæiske virksomheder allerede har meddelt. Forsinkelser lyder i øjeblikket på en eller to måneder, men det er stadig usikkert hvornår alle led af forsyningskæden igen er produktionsdygtige. På trods af at visse fabrikker i dele af Kina stadig er fungerende, så er der flere led, lige fra råvarer til syfabrikker, der er sat ude af drift i så stor grad at levering bliver umulig.
                <br />Udover selve produktionen, så kan der også være konsekvenser når det gælder marketing og promovering af brands og produkter. Mange modeshows og messer er blevet aflyst i Europa og Asien, herunder Shanghai Fashion Week og Mobile World Congress i Barcelona. Selvom disse begivenheder ikke er lige så kritiske for det generelle salg som selve leveringen af produkter, så giver det et fingerpeg om forstyrrelsen i forsyningskæden, og forhindrer også at indkøbere kan få indblik i de nyeste tendenser og bestille varer hjem. Sidst men ikke mindst, så er transporten af importvarer også begrænset grundet virussen, hvilket kan give yderligere problemer såfremt problemerne med infrastrukturen ikke løses samtidig med at fabrikker genoptager produktionen. DSV har udtalt at de i øjeblikket følger situationen fra deres kontor i Kina og opfordrer kunder til at tage direkte kontakt til deres leverandører.
                <br /><br />
                <h2 class="mobile">Branchen holder vejret</h2>
                Problemer med levering kan oversættes direkte til store tab i salg og endda risiko for lukning af mindre virksomheder, afhængig af hvor længe fabrikkerne holder lukket. Visse europæiske tøjmærker har meddelt at de vil overveje at finde alternative importlande for at diversificere produktionen yderligere og undgå risiko for salgstab og forsinkelser i fremtiden, hvilket kan være mere besværligt for især mindre virksomheder. I øjeblikket følger dog både modebranhcen såvel som transportfirmaer dog udviklingen tæt og satser på at forsinkelserne bliver holdt på et minimum, så der igen vil blive fragtet varer fra Kina til Danmark og resten af Europa indenfor en måned eller to.

                <br /><br />




                <br /><br />
            </article>



        </div>


        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "Coronavirus gør indhug på tøjmarkedet",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/corona.jpg",
        "description": "Det nye årti startede ud med rapporter om en ny type virus der var begyndt at sprede sig i Kina",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-03-03T11:00:00+01:00"
        }
    </script>

}