﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Hvorfor købe dansk modetøj?</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/hvorfor-kobe-dansk-modetoj" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="clearfix"></div>
            <meta itemprop="datePublished" content="2020-05-14T11:00:00+01:00" />
            <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Julie" />
            </div>
            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="fedttoj.dk" />
                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                </div>

                <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                <meta itemprop="url" content="https://fedttoj.dk" />
            </div>
            <span class="pull-left">14. maj 2020</span>
            <span class="small pull-right"></span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                <img src="/Content/Graphics/Articles/Dansk-mode.jpg" itemprop="image" alt="Hvorfor købe dansk modetøj?" class="img-responsive" /><br /><br />
                Dansk mode og indretning har i mange år gået sin sejrsgang verden over. Danske møbler har i årtier været enormt eftertragtede i udlandet og dansk mode er også blevet en eftertragtet eksportvare. Helt generelt, så har den skandinaviske stil opnået en kæmpe popularitet der ikke virker til at have aftaget efter flere år.
                <br /><br />
                Den første rigtige ”trend” der er opstået indenfor de sidste par årtier i dansk mode, har uden tvivl været den minimalistiske stil, med masser af hvidt, sort og gråt og neutrale farver samt lag-på-lag. Kvalitet, enkelhed og monokromt tøj fra Norden stod i skarp kontrast til mange af de andre globale trends, og mange blev draget af de stilsikre modeikoner og designere fra de skandinaviske lande.
                <br />
                <h2 class="mobile">Fra sort/hvid til farver</h2>
                Som udgangspunkt blev ”scandi style” kendetegnet ved ovenstående beskrivelse, men der skete efterhånden en udvikling i de skandinaviske brands hvor man inddrog flere farver og skabte mere spil. Her er især de danske brands utrolig stærke, så mærker som Ganni, Second Female, Cecilie Bahnsen, Stine Goya, by Malene Birger og mange flere fik lynhurtig enorm opmærksomhed og skabte masser af ”hype” omkring deres kollektioner. Dansk mode er helt sikkert blevet mere eksperimenterende og omfavner langt mere, men det har kun styrket de danske brands internationale omdømme. Mange danskere har masser af tøj i deres garderober som folk sukker efter i udlandet.
                <br />
                <h2 class="mobile">Dansk mode i høj kvalitet</h2>
                En af kendetegnende ved de fleste danske brands er, at det som regel er tøj der er designet med sans for detaljen og i god kvalitet. Især når det gælder designervarer, har de fleste danske kunder en forventning om at tøjets kvalitet matcher prisen og ikke går i stykker i vaskemaskinen. Dansk design er et lille stykke modekultur som man kan have hængende i skabet og som holder sæson efter sæson.
                <br />
                <h2 class="mobile">Støt dansk design</h2>
                Især med indtoget af online shopping, så er der et større udvalg end nogensinde når det gælder tøj. Men når man vælger at købe tøj fra danske brands, så støtter man også danske virksomheder og både små og større danske designere. Modeindustrien er præget af hård konkurrence, så som forbruger kan man gøre en forskel ved at lægge pengene hos firmaer med danske arbejdsforhold og som støtter den danske designtradition. Det er vigtigt at holde fast i!
                <br />
                <h2 class="mobile">Dansk design holder værdien</h2>
                Når du køber tøj fra et dansk brand, især når det gælder mærkevarer, så er der større chance for at du kan videresælge varen. Generelt er mærkevarer nemmere at sælge videre uden et alt for stort tab i fortjeneste, især når man sammenligner med de helt billige high street-varer som næsten er umulige at komme af med og har mistet værdi når først man har købt dem.
                <br /><br />
                Der er derfor masser af fordele ved at købe dansk design når det gælder tøj. Der er ingen tvivl om at dansk design kommer til at holde i mange år fremover og se en stor efterspørgsel i resten af verden – selv et lille land kan sagtens have en stor påvirkning og din garderobe er helt automatisk noget af det mest trendy i modeverdenen.

                <br /><br />




                <br /><br />
            </article>



        </div>


        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "Hvorfor købe dansk modetøj?",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/Dansk-mode.jpg",
        "description": "Dansk mode og indretning har i mange år gået sin sejrsgang verden over. Dansk mode i høj kvalitet",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-05-14T11:00:00+01:00"
        }
    </script>

}