﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Guide til online shopping</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/guide-til-online-shopping" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="clearfix"></div>
            <meta itemprop="datePublished" content="2020-04-22T11:00:00+01:00" />
            <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Julie" />
            </div>
            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="fedttoj.dk" />
                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                </div>

                <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                <meta itemprop="url" content="https://fedttoj.dk" />
            </div>
            <span class="pull-left">22. april 2020</span>
            <span class="small pull-right"></span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                <img src="/Content/Graphics/Articles/OnlineShopping.jpg" itemprop="image" alt="Guide til online shopping" class="img-responsive" /><br /><br />
                Der er ingen tvivl om at nethandel er kommet for at blive. Specielt i disse Corona-tider eksploderer salg af varer online. Hvad startede ud som få butikker med begrænsede varer og lange behandlingstider, har nu udviklet sig i høj hastighed med hjemmesider kæmper om kundernes opmærksomhed. Der bliver skiltet med masser af rabatter, stort udvalg, og ikke mindst lynhurtig levering næste dag eller indenfor få hverdage. Der er dog en del forskel på oplevelsen ved at shoppe online og så i en fysisk butik, så det er en god idé at have et par nyttige retningslinjer ved hånden så du ikke ender med at få en dårlig oplevelse når du køber på nettet.
                <br /><br />
                <h2 class="mobile">Hvilke fordele er der ved online shopping?</h2>
                <br />
                En af de store fordele ved online shopping, er naturligvis at du kan sidde mageligt derhjemme og roligt browse flere butikker og udvalg, og sammenligne priser og produkter, både nemmere og hurtigere sammenlignet hvis du skulle besøge eller ringe til forskellige fysiske butikker. Det er smart hvis du bor langt væk fra butikkerne, har for travlt normalt til at shoppe, eller ikke har mulighed for at gå ud.
                <br /><br />
                Derudover har du i mange tilfælde bedre rettigheder som forbruger ved online handler end i fysiske butikker. I fysiske butikker har du ikke krav på en returret, da varen oftest er købt som beset – derfor er der mange butikker som ikke giver refundering men i stedet giver kredit, gavekort eller lignende, hvilket kan være irriterende hvis du ikke normalt handler i butikken. Men når du shopper online, kan du ikke købe varen som beset (medmindre det f.eks. er sider for private handler/secondhand handler) og derfor har du som minimum 14 dages returret med ret til refundering – men mange e-shops giver dig op til en måned, eller endnu længere. Du har også de samme muligheder for at klage over dit produkt eller lave en reklamation.
                <br />
                Der er mange online webshops der tilbyder gratis levering, men hvor du dog skal betale for fragten hvis du vil returnere dit køb. Det er kun hvis der er mangler eller fejl ved varen og du vil lave en reklamation, at webshoppen så skal dække returfragten. Men generelt set, så har du muligheden for at få pengene tilbage og det giver altså e-handel en lille fordel frem for fysiske butikker.
                <br /><br />
                Derudover kan man heller ikke komme udenom, at du både har flere forskellige webshops at vælge imellem, men at mange af de større hjemmesider også har et langt større udvalg da de oftest råder over større lagerplads og ikke har de samme udgifter til fysiske butikker (såfremt de kun har en webshop).
                <br /><br />
                <h2 class="mobile">Søg efter rabatter</h2><br />
                De fleste priser i online butikker er også langt mere konkurrencedygtige fordi de netop ikke har de samme udgifter som fysiske butikker. Mange sider har også oftere udsalg og tilbyder forskellige kampagner, rabatter og discountkoder der kan bringe prisen ned, for ikke at glemme gratis levering. Der findes endda forskellige plug-ins der automatisk søger efter rabatkoder for dig. Så kan man også oftest gennem en hurtig google-søgning finde forskellige rabatkoder på hjemmesider eller sociale medier, hvor brands tit har kampagner eller slagtilbud kørende. Så husk altid at lave en hurtig søgning inden du går til kassen og betaler, for du kan ofte spare et par procenter ved dit køb. De mest typiske eksempler er ved at skrive sig op til nyhedsbrevet, like en Facebook-side eller gå væk fra din kurv inden betaling og vente på at hjemmesiden sender dig en kode for at få rabat.
                <br /><br />
                <h2 class="mobile">Tjek størrelsen</h2><br />
                Du ved det sikkert allerede – der er kæmpe forskel i de forskellige brands når det gælder til størrelsen af tøjet. I fysiske butikker kan du nemt sikre dig at du får den rette størrelse fordi du typisk kan hive et par forskellige størrelser direkte ned fra bøjlen og så prøve dem i et prøverum, men det kan man jo ikke rigtig gøre når man shopper online. Derfor er det rigtig vigtigt at du får læst alle detaljerne og specifikationerne omkring det tøj du køber, så der er størst mulig chance for at du får valgt den rigtige størrelse. Rigtig mange hjemmesider har nogle gode størrelsesguides, hvor de skriver målene på produktet ud for hver størrelse eller giver dig et skema over hvad størrelsen svarer til i andre landes systemer.
                <br />
                Hvis du ikke kan finde målene, så er det også en god idé at tjekke om du har allerede har tøj fra samme brand, eller fra samme koncern, for så er der en god chance for at tøjet vil have nogenlunde ens størrelser og du derfor trygt kan klikke nye tilføjelser hjem til garderoben.
                <br /><br />
                <h2 class="mobile">Tjek butikkens troværdighed</h2>
                Sidst men ikke mindst, så skal du endelig ikke handle på hjemmesider der virker til at være fusk eller som vil snyde dig for dine penge. Der er efterhånden kommet en del regler om handel på nettet som beskytter forbrugeren, men det er bedst at være opmærksom fra start af for at undgå ubehagelige overraskelser.
                <br />
                De store, velkendte sider kan du trygt handle ved, men det er især de mindre, ukendte hjemmesider du skal være ekstra opmærksom på. Først og fremmest skal du tjekke om siden ser ud til at være dårligt designet og opsat, og om der er fyldt med stavefejl. Hvis det står på gebrokkent dansk, kan det nemt være en udenlandsk side der prøver at snyde dig. Derudover skal du også se om billederne på varerne ser ud som om de er hentet fra Google, og så selvfølgelig priserne. Hvis det er for godt til at være sandt, så lad være med at indtaste dine kreditkortoplysninnger på sådan en side. Tjek også gerne Trustpilot for anmeldelser, webshoppens sociale medier og lignende for at se hvad andre kunder har skrevet om dem, da det giver et godt fingerpeg.
                <br /><br />
                Online shopping kan være en god måde at få adgang til et bredt udvalg af tøj til gode priser. Så længe du er opmærksom og tager dine forholdsregler, så er det bare med at komme i gang. God fornøjelse!

                <br /><br />




                <br /><br />
            </article>



        </div>


        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "Guide til online shopping",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/OnlineShopping.jpg",
        "description": "Der er ingen tvivl om at nethandel er kommet for at blive. Specielt i disse Corona-tider eksploderer salg af varer online",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-04-22T11:00:00+01:00"
        }
    </script>

}