﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">

            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Kvinder:<br />Integrer hatte i jeres outfit!</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/kvinder-integrer-hatte-i-jeres-outfit" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <br /><br /><br />
            <meta itemprop="datePublished" content="2016-01-14T08:00:00+08:00" />
            <span class="small pull-left">14. januar 2016</span>
            <span class="small pull-right">af Malthe Sporring</span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                
              
                Sidste uge skrev jeg en artikel om hvordan man som mand gør hatte til en del af sit outfit. Selvfølgelig skal alle kvinderne ikke føle sig snydt. Hatte er i dag lige så relevante for stilede kvinder som det er for stilede mænd, og derfor er der her en liste af hatte der er populære inden for den kvindelige mode og hvordan du kan skabe et outfit omkring dem.
                <br /><br />
                Før vi begynder er der et par ting der er vigtige at nævne. For det første er det vigtigt at du, lige meget hvilken hat du vælger, sørger for at den er i den rette størrelse. En flot hat kan se katastrofisk ud hvis den ikke passer til din hovedform. Derudover burde du altid prøve hatten på og sørge for at den komplimenterer din frisure. En hat kan se godt ud alene, men forfærdeligt ud på specielle hårstile. Dette kan dog altid rettes med en ny frisure.
                <br /><br />
                <h2>Fedora</h2>
                <div class="pull-left article-image-left">
                    <img src="/Content/Graphics/Articles/Fedora-kvinder.jpg" class="img-responsive" itemprop="image" alt="Fedoraen hat" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Selvom fedoraen kan være med til at skabe et fantastiskt stilet outfit, passer den også let ind i et normalt hverdagssæt.
                    </div>
                </div><br />
                
                Man kan selvfølgelig ikke tale om hatte uden at nævne den klassiske fedora. Fedoraen bliver tit forvekslet med en trelby eller en panama; nogle hatte forretninger sælger endda trelbyer som fedoraer! Det er derfor vigtigt at du ved hvordan en rigtig fedora ser ud. Den kan genkendes ved hulingerne i siderne og toppen, samt den brede, stive rand.
                <br /><br />
                Fedoraen er en klassiker i tøjstil og passer ind i et virvar af outfits. Den passer perfekt ind i et stilet outfit med en stor frakke i mørke eller støvede farver, solbriller og høje hæle. En fedora kan dog også sagtens tage et normalt low-key T-shirt og jeans outfit til et helt nyt niveau. Så hvis du er i tvivl om hvilken hat du skal vælge, er fedoraen en tidløs klassiker.
                <br /><br />
                <h2>Wide brim</h2>
                <div class="pull-right article-image-right">
                    <img src="/Content/Graphics/Articles/WideBrim.jpg" class="img-responsive" itemprop="image" alt="Wide brim hat" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Siden 2013 har wide brims igen overtaget modeverden med storm.
                    </div>
                </div><br />

                Wide brims blev genoplivet i 2013 da Hedi Slimane, direktøren af Saint Laurent, fremviste hatte med brede rande i hans forårssamling. Lige siden har wide brims været toppen af poppen. I dens mest grundlæggende form er en wide brim skabt af en rund top med et bånd og en bred, blød side der strækker langt ud til siden.
                <br /><br />
                Når det kommer til disse hatte kan man aldrig gå galt med en sort wide brim i et sort eller gråligt outfit. Det skaber simpelthen en speciel klasse der er svær at benægte. Du kan også gå efter en brun wide brim med en lang læderjakke, eller en minimalistisk grå wide brim sammen med en T-shirts proppet ned i et par lyse shorts. Lige meget hvad skal du sørge for at hatten ikke dækker for meget for dit ansigt, med mindre du gerne vil formidle til verden at du konstant bliver jagtet af paparazzi.
                <br /><br />

                <h2>Cloche</h2>
  
                <div class="pull-left article-image-left">
                    <img src="/Content/Graphics/Articles/cloche.jpg" class="img-responsive" itemprop="image" alt="cloche hat" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Hvis du leder efter en hat der får dig til at se sødere ud end hvide kaninunger på en mark, er clochen til dig.
                    </div>
                </div><br />
                En cloche er en hat der kom frem tidligt i 1900-tallet og har derfra taget verden med storm med dens søde, minimalistiske stil. En cloche har en kugleform der pakker tæt omkring hovedet og en lille bue der skygger for øjnene. Tit kommer den med et bånd og en sløjfe eller en blomst.

                <br />
                Det søde, uskyldige look man får af en cloche baner vejen for en stil der kredser om pastelfarvede eller støvede polkaprikkede kjoler med matchende clocher dekoreret med blomst og bånd. Alternativt kan clochen også spille rollen som en subtil del af en gråligt/lyseblåt outfit, eller endda som hovedattraktionen i dit outfit i en klar, rød farve med matchende læbestift og et ellers sort outfit. Valget er dit.
                <br /><br />
                <h2>Beret</h2>
   
                <div class="pull-right article-image-right">
                    <img src="/Content/Graphics/Articles/Baret.jpg" class="img-responsive" itemprop="image" alt="Baret hat" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Selvom mange tænker på fransk kultur når de ser en beret, er den ældste beret faktisk fundet i Grækenland
                    </div>
                </div><br />
                

                Den ikoniske beret har været en del af vores kultur siden 1500 f.Kr. i Grækenland, hvor dens hårde uldfilt blev celebreret for dens evne til at holde kulde, vind og regn ude. Franske legender hævder endda at hattens oprindelse kører parallelt med historien om den bibelske figur Noah. Det siges at han opdagede at dyrene havde nedtrådt ulden der isolerede hans Ark til ensammenpresset filt som han så kunne lave om til en hat; nemlig en beret.
                <br /><br />
                Beretten er ikonet på den artistiske maler, og derfor passer den perfekt ind i et højstilet outfit. En sort beret kan være prikken over i’et i et sæt der omringer høje hæle og lange, sorte kjoler. En rød beret kan gøre et mælkehvidt frakkesæt med et hvidt tørklæde til et modeikon i stedet for et tørt regnvejrssæt. Det er simpelthen bare magten af en beret.


                <br /><br />
                Her er altså et par hatte du kan overveje at gøre en del af din tøjstil. Selvfølgelig er det vigtigt at notere at der er mange flere hatte du kan vælge, dette er bare et par af de mest populære til kvinder. Hvis du er tørstig efter flere hatte kan du læse min artikel om hatte til mænd (link til sidste artikel). Stort set alle hatte der er populære til mænd kan bæres af kvinder, og dette er et perfekt valg hvis du gerne vil være ekstra unik og gå i din helt egen retning. Men lige meget hvad, håber jeg nu på at du har en lidt bedre forståelse på hvilke hatte der er på markedet, og hvilken evne de har til at genskabe et outfit.
                <br /><br />
                Var der noget essentielt vi glemte at nævne om hatte til kvinder? Efterlad en kommentar med dit svar!
                <br /><br />
                Billeder:<br />
                Cloche: http://bit.ly/1SbPEcV  af Martin Cooper<br />
                Beret: http://bit.ly/1OXkB4g af Garry Knight

            </article>
            <br /><br />
            @Html.Action(MVC.Article.ArticleComment(10, "/artiklerne/kvinder-integrer-hatte-i-jeres-outfit"))

            <div class="clearfix"></div>
            <br /><br />

            <a href="/soeg?area=5&SearchString=hatte kvinde">Hatte til kvinder</a>


        </div>
        <div class="col-xs-12">
            <br /><br />
            @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
        </div>

        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}