﻿@using FedttoejMvc.Models.ViewModels
@model VideoViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/VideoObject">
            <br />

            <div >
                <div class="fb-like" data-href="@ViewBag.ogUrl" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="clearfix"></div>
            <div>
                <h1 class="mobile" itemprop="name">@Model.Title</h1>
            </div>
            <meta itemprop="uploadDate" content="@(Model.PublishDateRobot)T12:00:00+01:00" />
            <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Julie" />
            </div>
            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="fedttoj.dk" />
                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                </div>

                <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                <meta itemprop="url" content="https://fedttoj.dk" />
            </div>

            <article>
                <div class="video-container">
                    <iframe width="560" height="315" src="@Model.YoutubeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <meta itemprop="thumbnailUrl" content="/Content/Graphics/Articles/@Model.PictureName" />
                <meta itemprop="contentUrl" content="@Model.YoutubeUrl" />

                <br />
                @Model.PublishDateFriendly<br />
                <span itemprop="description">@Html.Raw(Model.Body)</span>
            </article>

            <br />
            <a href="/videoer" title="videoer">Se flere videoer</a><br /><br />
            <div class="fb-like" data-href="@ViewBag.ogUrl" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

        </div>


        <br />


    </div>
    @if (DateTime.Now.Year == 2022 && DateTime.Now.Month == 8)
    {
        <div class="row">
            <div class="col-lg-12">
                <b>25% rabat på alt</b> hos The Founded <br />Brug rabatkode: AUGTF25DK
                <br /><br />
            </div>
        </div>
    }
    <div class="row" id="productList">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    @*<script type="application/ld+json">
            {
            "@@context": "http://schema.org/",
            "@@type": "NewsArticle",
            "headline": "@Model.Title",
            "image": "https://fedttoj.dk/Content/Graphics/Articles/@Model.PictureName",
            "description": "@Model.MetaDescription",
            "author": {
            "@@type": "Person",
            "name": "Julie",
            "url": "https://fedttoj.dk"
            },
            "publisher": {
            "@@type": "Organization",
            "name": "fedttoj.dk",
            "url": "https://fedttoj.dk",
            "logo": {
            "@@type": "ImageObject",
            "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
            }
            },
            "datePublished": "@(Model.PublishDateRobot)T12:00:00+01:00"
            }
        </script>*@
    @Html.Partial("_facebookScript")


}