﻿@model FedttoejMvc.Models.ViewModels.ArticleViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="text-center">
                <h1 class="mobile" itemprop="headline">@Model.Title</h1>
            </div>
           
            <div >
                <div class="fb-like" data-href="@ViewBag.ogUrl" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="clearfix"></div>
            <meta itemprop="datePublished" content="@(Model.PublishDateRobot)T12:00:00+01:00" />
            <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Julie" />
            </div>
            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="fedttoj.dk" />
                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                </div>

                <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                <meta itemprop="url" content="https://fedttoj.dk" />
            </div>
            <span class="pull-left">@Model.PublishDateFriendly</span>
            <span class="small pull-right"></span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                @if (!string.IsNullOrEmpty(Model.PictureName))
                {
                    <img src="/Content/Graphics/Articles/@Model.PictureName" itemprop="image" alt="@Model.Title" class="img-responsive" /><br /><br />
                }

                @if (!string.IsNullOrEmpty(Model.BodyMobile))
                {
                    @Html.Raw(Model.BodyMobile)
                }
                else
                {
                    @Html.Raw(Model.Body.Replace("<h2>", "<h2 class=\"mobile\">"))
                }
                   


                    <br /><br />
                </article>


            <div class="fb-like" data-href="@ViewBag.ogUrl" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

        </div>


        <br />


    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "@Model.Title",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/@Model.PictureName",
        "description": "@Model.MetaDescription",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "@(Model.PublishDateRobot)T12:00:00+01:00"
        }
    </script>
    @Html.Partial("_facebookScript")


}