﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">

            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Fra basketballsko til popikon<br />- historien bag dine sneakers</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/fra-basketballsko-til-popikon-historien-bag-dine-sneakers" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <br /><br /><br />
            <meta itemprop="datePublished" content="2015-12-31T08:00:00+08:00" />
            <span class="small pull-left">31. december 2015</span>
            <span class="small pull-right">af Malthe Sporring</span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                

                
                
                

                Tidligere I år præsenterede Brooklyn Muséet en udstilling om sneakers udvikling gennem tiden og deres kulturelle indflydelse. Udstillingen inkluderede cirka 150 forskellige par sneakers fra 1830-erne til i dag, og selvom udstillingen ikke længere kan findes er emnet stadig relevant. Sneakers er nemlig blevet en rigtig stor del af vores kultur og har potentiale til at blive endnu større. Derfor er det meget interessant at finde ud af præcist hvordan de blev så populære.<br />
                <br />
                
                <div style="margin-top: 10px;margin-bottom:10px;">
                    <img src="/Content/Graphics/Articles/Sneakers.jpg" class="img-responsive" itemprop="image" alt="Sneakers" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Sneakers er hurtigt blevet nogle at de mest populære slags sko, både til sport og normalt brug.
                    </div>
                </div><br />

                Så her er vores ”udstilling” af de utrolige sneaks; hvor de kom fra, hvordan de har ændret sig over årene og hvordan de kan se ud i fremtiden. Lad os starte ved begyndelsen.
                <br /><br />
                <h2 class="mobile">Sneakers bliver født</h2>
                Der var flere faktorer der ledte til fødslen af de første rigtige sneakers. Spredningen af snørrebånd i 1790, brugen af gummi som et solidt produkt til gummisåler og opfindelsen af en symaskine specifikt skabt til at sy såler fast på sko, var nogle af de mest essentielle faktorer. Spredelsen af disse opfindelser hjalp alle hver især med at gøre masseproduktion af sneakers realistisk.<br />
                Masseproduktionen af de første rigtige sneakers skete i 1917’erne. Før det var det tætteste man kom på de såkaldte ”plimsolls”. De havde gummisåler og snørebånd, men manglede meget raffinering før de rigtigt kunne blive kaldt sneakers. Et sæt plimsolls havde for eksempel ikke specifikke venstre og højre sider. Men det ændrede sig da The U.S. Rubber Company skabte skoene de kaldte Keds. Disse var de første masseproducerede sko med gummisåler, forskellige fødder, snørebånd og generelt alt det der klassificer dem som sneakers. Disse sko skulle, ifølge The U.S. Rubber Company, få dig til at føle som om hver eneste dag er en lørdag. De fik kælenavnet ”sneakers” fordi gummisålerne gjorde en så stille at man snildt kunne snige (sneak) sig op til nogen.
                <br /><br />

                <h2 class="mobile">Professionelle basketballsko</h2>
                I det samme år som Keds bliver masseproduceret, skaber Marquis Converse de første basketballsko;  nemlig de ikoniske sneakers Converse All-Stars. Senere underskriver basketballspilleren Chuck Taylor en kontrakt med Marquis Converse, og Chuck Taylor All-Stars skoene bliver skabt. Disse to sko bliver vildt populære inden for basketball og er stadig de bedst solgte sko inden for den sport til dato.<br />
                <br />
               
                <div style="margin-top: 10px;margin-bottom:10px;">
                    <img src="/Content/Graphics/Articles/Sneakers2.jpg" class="img-responsive" itemprop="image" alt="Sneakers" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Til trods for deres oprindelige store popularitet inden for basketball, skabes der nu sneaks til mange andre sportsgrene, for eksempel skateboarding og tennis.
                    </div>
                </div><br />

                <br />

                Sneakers bliver internationale da Adi Dassler skaber firmaet Adidas, og hans bror starter Puma. Både Adidas og Puma bliver vildt populære i hele verden, og begynder at bliverbrugt af mange professionelle basketballspillere. Jessie Owens havde for eksempel et par på da han vandt fire guld medaljer i de Olympiske Lege i 1936. Nike kommer først langt senere ind i kampen, i 1964.
                <br /><br />

                <h2 class="mobile">Fra sportsudstyr til kulturikon</h2>
                I den første halvdel af det tyvende århundrede bliver sneakers egentlig kun set som relevante inden for sport. Men dette ændrer sig i 1950’erne, da sneakers begynder at blive brugt af ungdommen som en del af det daglige outfit. Når James Dean bærer et par sneaks i filmen Rebel Without a Cause i 1955, bliver denne bevægelse kun kraftigere, og salget af sneakers stiger fænomenalt. Et lignende fænomen sker i 1984 når Michael Jordan underskriver en kontrakt med Nike om at bære deres sneakers Air Jordans. Salget af sneaks stiger igen utroligt og Air Jordans bliver klare bestsellers.
                Sneaks er hermed blevet populært i næsten hele verden, og ikke kun til basketball, men også som en del af ”mainstream” mode.
                <br /><br />

                <h2 class="mobile">I dag</h2>
                
                <div style="margin-top: 10px;margin-bottom:10px;">
                    <img src="/Content/Graphics/Articles/Sneakers3.jpg" class="img-responsive" itemprop="image" alt="Sneakers -  Converse All-Star" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Converse All-Star er selv i dag nogle af de mest populære sneakers i verden.
                    </div>
                </div><br />
           
                Siden 1980’erne har der været store ændringer på de fantastiske sneakers. Nike opkøbte Converse Co. og Adidas opkøbte Reebok, og disse to skofirmaer har konkurreret lige siden. Denne kamp om at være bedst har skabt nogle utrolige sko som konsekvens. Et par eksempler af dette er Nike’s Air Force med små gasbobler der gør fald blødere, Reebok’s The Pump; luft pumpet ind i sko så de passer strammere og de smarte Spira Footwear der har fjedre i sålerne for at skåne fødderne. Mange sneaks har endda helt droppet snørebåndene og kørt i deres egen direktion, hvilket viser hvor meget sneakers har udviklet sig.<br /><br />

                Alle disse er eksempler på de store innovationer og ændringer der er kommet ud af kapløbet for de bedste sneakers, og denne kamp er stadig i gang. Hvordan fremtidens sneaks kommer til at se ud kan vi kun drømme om, men her er nogle fede idéer til hvordan sneakers måske kunne se ud om 10 år:
                <br /><br/>
                
                <div style="margin-top: 10px;margin-bottom:10px;">
                    <iframe width="290" height="170" src="https://www.youtube.com/embed/28Wa5L-fkkM" frameborder="0" allowfullscreen></iframe>
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        De længe ventede selv-bindende snørebånd fra Back To The Future 2 er nu på vej.
                    </div>
                </div><br />
                
                <ul>
                    <li>
                      Selv-bindende snørrebånd: I Back To The Future 2 ser vi Marty McFly i et par sneakers med snørebånd der automatisk binder sig selv. Sneakers af denne type vil resultere i sko der hurtigt kan tages på og altid sidder tæt. Til alle de fans der sidder og venter på disse ”power laces” er der gode nyheder! Nike har netop afsløret at de har arbejdet på sneakers med selv-bindende snørebånd og at de vil udkomme i foråret 2016.
                    </li>
                    <li>3D printning: Stor udvikling i 3D printning har gjort at Nike har begyndt at udforske med 3D printning til produktion af deres såler. Hvis dette bliver en realitet betyder det at sålerne på fremtidens sneakers let kan udskiftes hjemmefra med en 3D printer hvis de går i stykker.</li>
                    <li>Farveskiftende sneakers: Firmaet +rehabstudio er i gang med at arbejde på deres Shift Sneakers, som er sneakers der kan skifte farve med blot et enkelt klik fra en mobilapp. Hvis deres projekt bliver færdiggjort kan fremtidens sneakers snildt passe ind i hundredvis af outfits; det kommer helt an på hvilken farve du vælger.</li>
                </ul>
                <br /><br />
                Var der noget essentielt vi glemte at nævne om sneakers? Efterlad en kommentar med dit svar!

                <br /><br />

                Var der noget essentielt vi glemte at nævne om t-shirts? Efterlad en kommentar med dit svar!
                <br /><br />

            </article>
            <br /><br />
            @Html.Action(MVC.Article.ArticleComment(8, "/artiklerne/fra-basketballsko-til-popikon-historien-bag-dine-sneakers"))

            <div class="clearfix"></div>
            <br /><br />

            <a href="/kvinde/Sko-og-stoevler/23-Sneakers">Sneakers til kvinder</a><br />
            <a href="/mand/Sko-og-stoevler/23-Sneakers">Sneakers til mænd</a>


        </div>
        <div class="col-xs-12">
            <br /><br />
            @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
        </div>

        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}