﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="text-center">
                <h1 class="mobile" itemprop="headline">4 sommertrends du skal holde øje med</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/4-sommertrends-du-skal-holde-oje-med" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="clearfix"></div>
            <meta itemprop="datePublished" content="2020-07-17T11:00:00+01:00" />
            <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Julie" />
            </div>
            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="fedttoj.dk" />
                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                </div>

                <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                <meta itemprop="url" content="https://fedttoj.dk" />
            </div>
            <span class="pull-left">17. juli 2020</span>
            <span class="small pull-right"></span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                <img src="/Content/Graphics/Articles/Sommertrends.jpg" itemprop="image" alt="4 sommertrends du skal holde øje med" class="img-responsive" /><br /><br />
                Sommeren er ved at være over os og det betyder at det er ved at være tid til et frisk pust i garderoben. Modehusene har fremvist deres spring/summer kollektioner, og det betyder også at mange high street brands designer mere budgetvenlige versioner af hvad man ser på catwalken. Denne sommer byder på en række friske trends som man kan bruge til at skabe et nyt look. Du kan selv bestemme hvor vildt det skal være og hvor meget du vil inkludere det, men det smarte ved trends er, at du netop kan gøre det til dit eget. Vi har samlet fire friske sommertrends som du kan blive inspireret af næste gang du skal ud og shoppe.
                <br /><br />
                <h2 class="mobile">1.	Suit shorts</h2>
                For et par år siden kunne man ikke finde andet end afklippede denimshorts i modebilledet, men nu er modehusene ved at finde alternativer frem. En af de spændende bud på shorts er de såkaldte ”suit shorts” – shorts der er inspirerede af herrebukser med pressefold. Det lyder måske lidt alternativt, men det kan se super fint ud. Gå efter et lidt oversize look og smid et bælte i taljen. Det er super flatterende til de fleste kropstyper, og suit shorts er typisk lidt længere end de afklippede denimshorts.
                <br /><br />
                <h2 class="mobile">2.	Hvide sommerkjoler</h2>
                Hvid er ikke kun til bryllupper, men er den perfekte sommerfarve. Mange brands har lavet deres bud på den hvide sommerkjole, som typisk er lang eller går lige til under knæet, og som er flagrende og løs. Der kan også være små detaljer der får kjolen til at skille sig ud og måske endda få et lidt mere ”western” look. Den hvide kjole kan kombineres med brune sandaler eller grove støvler hvis du ønsker et mere western-inspireret look og skabe kontrast til den fine kjole.
                <br /><br />
                <h2 class="mobile">3.	Veste</h2>
                Veste ses efterhånden overalt, og især de strikkede veste er yderst populære. De kan bæres alene eller over en skjorte, og der findes mange forskellige modeller. Der er både de helt minimalistiske i et enkelt snit og i neutrale farver, men du også lade dig inspirere af 70’er moden og vælge en denimvest.
                <br /><br />
                <h2 class="mobile">4.	Trench coats</h2>
                Trench coats får ekstra meget opmærksomhed denne sæson, men er en klassiker. Hvis du vælger at investere i en trench coat, så kan du være sikker på at den er på mode i mange år fremover og du kan hive den frem sæson efter sæson. Du kan enten vælge en tidsløs model i sort eller camel, men der er også mange friske fortolkninger af den klassiske jakke – f.eks. i blå, armygrøn eller pastelfarver. Kun fantasien sætter grænser. Det vigtigste er at du vælger noget der passer til din egen stil og hverdag, og som du kan se dig selv bruge i lang tid fremover.
                <br /><br />
                Vi håber at disse trends kan give noget inspiration til din sommergarderobe. Disse trends findes i alle former for prisklasser, så du behøver ikke noget stort budget for at følge med moden og give nyt liv til garderoben.

                <br /><br />




                <br /><br />
            </article>



        </div>


        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "4 sommertrends du skal holde øje med",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/Sommertrends.jpg",
        "description": "Sommeren er ved at være over os og det betyder at det er ved at være tid til et frisk pust i garderoben",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2020-07-17T11:00:00+01:00"
        }
    </script>

}