﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">

            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Fra militæruniform til kontoroutfit: alt om slips</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/fra-militaeruniform-til-kontoroutfit-alt-om-slips" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <br /><br /><br />
            <meta itemprop="datePublished" content="2016-01-23T08:00:00+08:00" />
            <span class="small pull-left">23. januar 2016</span>
            <span class="small pull-right">af Malthe Sporring</span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                
                Mange ser slipset som en forudsætning. Et jakkesæt uden slips giver ingen mening. Men det er faktisk først inden for de sidste 100-200 år, at det moderne slips er kommet frem. Og det er mere end bare et stykke stof. Hvis du tror, at du bare skal have et slips på for at se sofistikeret ud, har du især brug for at lære om slipset, og hvordan man ser bedst ud i det. Lad os gå i gang.
                <br /><br />
                <h2 class="mobile">Slipsets historie</h2>
               
                <div style="margin-top: 10px;margin-bottom:10px;">
                    <img src="/Content/Graphics/Articles/Slips1.jpg" class="img-responsive" itemprop="image" alt="Slips" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Slipset har været igennem mange ændringer før det blev til det slips vi kender i dag.
                    </div>
                </div><br />

                De første stykker tøj, der ligner slips, er fundet i Kina 210 f.Kr. og senere i Rom i 98 e.Kr. Dengang var ”slipset” en del af militæruniformerne i de kinesiske og romerske hære, som et symbol på hæder og ære. Senere, i middelalderen, blev en lignende form for slips brugt i de kroatiske hære på en lignende måde. Da disse uniformer blev præsenteret for den franske konge King Louis XIII, begyndte franskmænd at lægge mærke til både det praktiske (da slipsene beskyttede skjortens knapper) og det moderigtige i slipsene. Først her, i Frankrig i 1630’erne, begyndte slips at blive brugt udenfor militæret, i form af adelens cravat. En cravat er et stykke langt stof, der tages rundt om halsen og stoppes ned i skjorten. De bruges stadig i dag som alternativ til det moderne slips. Cravattens popularitet spredte sig hurtigt til resten af Europa.
                <br /><br />
                1800-tallet til 1900-tallet markerer den industrielle revolution. Her, hvor mænd begyndte at arbejde i fabrikker, har den gamle franske cravat ingen plads. Gamle pompøse modenormer blev erstattet med den effektivitet og simplicitet, de nye arbejdspladser krævede. I stedet for stive og komplicerede slips bliver det nu populært at binde sit slips med en knude ved halsen og to ender, der hænger løst ned af brystet. Denne måde at binde slips på var simpelt, let og gik ikke hurtigt op, og derfor blev det brugt som en del af mange arbejdsuniformer.
                <br /><br />
                I 1920’erne bliver slipset ændret af slipslaveren Jesse Langsdorf, som klippede enden af slipset i en ikonisk 45 graders vinkel, sådan som vi kender det i dag. Slipset har herfra ændret over perioder; nogle gange var det mere normalt af have lange slips, andre gange var de korte på mode; nogle gange skulle de være brede, andre gange smalle, men den generelle idé sad fast. Og selvom fremtiden helt klart vil bringe flere af disse små ændringer til slipset, vil det nok tage lang tid før det bliver ændret drastiskt.


                <br /><br />
                <b>Stof</b><br />
                Ikke alle slips er lavet af silke, selvom man let kan komme til at tro det. Her er nogle af de mest populære tekstiler til slips.

                <br /><br />
                <h2 class="mobile">Silke</h2>
                Silke er det klassiske tekstil til slips. Det er blødt, glat og stærkt, og det er derfor ikke noget forundret over, at det er så populært. Silke bliver lavet af silkeorme på store silkeormefarme. Cirka 1000 silkeorme kan skabe et kilo silke, og siden ormene bliver dræbt efter produktion, er silke det mindst dyrevenlige stof på denne liste.

                <br /><br />
                <h2 class="mobile">Syntetiske stoffer</h2>
                Polyester og andre syntetiske stoffer er meget populære som stof til slipse, da de imiterer mange af de egenskaber, man kan finde i silke. Derudover er syntetiske stoffer for det meste meget billigere end silke. Andre egenskaber er at være bedre til at optage farve, krølle mindre og ikke optage pletter så let. Polyester er den billige version, mens mikrofibre er den dyre og mere holdbare version.

                <br /><br />
                <h2 class="mobile">Bomuld/linned</h2>
                
                <div style="margin-top: 10px;margin-bottom:10px;">
                    <img src="/Content/Graphics/Articles/Slips2.jpg" class="img-responsive" itemprop="image" alt="Slips af bomuld" /><br />
                    <br />
                    <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                        Sommerslips kommer tit i klare, lyse farver, og er ofte lavet af bomuld og linned.
                    </div>
                </div><br />

                Såkaldte ”sommerslips” er ofte lavet af enten bomuld eller linned. Dette tekstil er let, klart og god til at optage farver. Sommerslips kommer derfor tit i klare farver med terner, striber eller polkaprikker. Det vigtigste her er, at du matcher slipset sammen med lyse jakkesæt og skjorter, gerne også i bomuld eller linned. På denne måde skaber du et gennemført og afslappet sommerlook.

                <br /><br />
                <h2 class="mobile">Uld</h2>
                Uldslips er skabt til vinteren. Selvom slipsene alene ikke varmer dig utroligt meget, følger tekstilet med i dit vinteroutfits isolerende atmosfære. Eksempler på gode uldtekstiler er worsted, tweed og cashmere.

                <br /><br />
                <h2 class="mobile">Ting at huske når du har slips på</h2>

                Her er et par ting du altid skal huske når du tager et slips på.<br /><br />
                <ul>
                    <li>
                        
                        <div style="margin-top: 10px;margin-bottom:10px;">
                            <img src="/Content/Graphics/Articles/Slips3.jpg" class="img-responsive" itemprop="image" alt="Slips" /><br />
                            <br />
                            <div class="text-center" style="padding:10px;border:1px solid #DDDDDD;">
                                Suit up!
                            </div>
                        </div><br />

                        Proportionalitet! Slipset skal følge med din kropsform. Bredden skal passe til din skulderbredde, og længden skal passe din højde. En generel tommelfingerregel er, at matche den bredeste del af dit slips med den bredeste del af din jakkesæts krave. Længden af slipset skal, lige præcist, røre dit bælte.
                    </li>
                    <li>Lad være med at gå med T-shirt og slips. Stortiden for T-shirts and ties var i punkalderen, og nu er den blot et symbol på mangel af stil. Du burde altid bære skjorte med et slips.</li>
                    <li>Bind dit slips korrekt. Der er mange forskellige knuder, som du kan vælge, men hvis ikke de er bundet rigtigt eller passer til lejligheden, kommer det ikke til at se godt ud, også selvom dit slips er et dyrt speciallavet silkeslips. Hvis du er i tvivl, passer den klassiske four-in-hand til næsten alle lejligheder.</li>
                    <li>En tie clasp er en lille lås, som du kan sætte på dit slips for at holde de to flapper sammen. Tie clasps skal sidde cirka i midten af slipset, aldrig øverst eller nederst, og skal kun bæres ved lejlighed. Til interviews eller afslappede sociale events kan et tie clasp let få dig til at se arrogant ud.</li>
                </ul>
                <br /><br />
                Nu ved du altså lidt mere om slips, hvor de kommer fra, og hvad de kan bruges til. Husk på, at disse kun er vores retningslinjer til at bære slips. Du burde altid følge disse regler, hvis du vil være på den sikre side, men ny mode bliver hele tiden skabt af folk, der tør træde ud af samfundets normer. Så om du vil være forfaderen til hoodie og slips, eller om du vil finde det perfekte formelle look, er slipset der til at hjælpe dig på vej.
                <br /><br />
                Var der noget essentielt vi glemte at nævne om slips? Efterlad en kommentar med dit svar!
                <br />

            </article>
            <br /><br />
            @Html.Action(MVC.Article.ArticleComment(11, "/artiklerne/fra-militaeruniform-til-kontoroutfit-alt-om-slips"))

            <div class="clearfix"></div>
            <br /><br />

   
            <a href="/mand/Diverse/41-Slips">Slips til mænd</a>


        </div>
        <div class="col-xs-12">
            <br /><br />
            @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
        </div>

        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}