﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="text-center">
                <h1 class="mobile" itemprop="headline">De fedeste vintertrends: Sådan styler du vesten</h1>
            </div>
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/De-fedeste-vintertrends-Saadan-styler-du-vesten" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <div class="clearfix"></div>
            <meta itemprop="datePublished" content="2021-01-17T14:00:00+01:00" />
            <div itemscope itemprop="author" itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Julie" />
            </div>
            <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <meta itemprop="name" content="fedttoj.dk" />
                <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="url" content="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                </div>

                <meta value="https://fedttoj.dk/Content/Graphics/fedttoej-logo.png" />
                <meta itemprop="url" content="https://fedttoj.dk" />
            </div>
            <span class="pull-left">17. januar 2021</span>
            <span class="small pull-right"></span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">
                <img src="/Content/Graphics/Articles/vinter2.jpg" itemprop="image" alt="De fedeste vintertrends: Sådan styler du vesten" class="img-responsive" /><br /><br />
                Der er mange trends der er poppet op i modebilledet siden efteråret, da det virkelig er højsæson for lag-på-lag og flere spændende kombinationer. Det er en af de gode ting ved vinterperioden, fordi man netop kan være lidt mere udtryksfuld i sin stil. Det er lidt anderledes om sommeren, hvor man ender med at blive overophedet hvis man har for meget tøj på.
                <br /><br />
                En af de trends der har opnået stor popularitet i år, er vesten. En vest er super alsidig og kan styles på mange forskellige måder. Veste har mest været anset for at være til udendørsbrug, og måske være lidt yt i nogle år, men nu har den fået en gevaldig opdatering, og er super moderne. Det er især i de skandinaviske lande, at vi ser trenden med vesten, men da den nordiske stil også har stor gennemslagskraft i udlandet, går der næppe lang tid før vi også ser den hos andre lande. Her kan du få et par bud på hvordan du styler en vest:
                <br />
                <h2 class="mobile">Over en kjole</h2>
                En af de kombinationer som vi ser oftest, er at vesten sat sammen med en kjole. Der er to måder at gøre det på. Enten kan du bruge en stor, luftig kjole, som også er på mode lige nu eller en stram kjole. Ærmerne må også gerne være oversize. Når man bruger vesten sammen med den luftige, løse kjole, så tilfører man lidt mere form til kroppen. Det betyder, at du ikke drukner i kjolen, men man kan ane din kropsform. Det er en fin kontrast. Med den stramme kjole, skaber du derimod et lidt mere afslappet look, fordi vesten giver lidt mere fylde og et casual look, så hvis du gerne vil dresse en fin kjole ned, er det helt perfekt.
                <br />
                <h2 class="mobile">Over en skjorte</h2>
                Et andet look man også ser rigtig ofte, er hvor vesten bliver brugt sammen med en løs skjorte. Det er en ny, fin måde at style skjorten på, og hvis vesten f.eks. er i et fint, strikket materiale, ser det rigtig godt ud med stramme jeans, eller f.eks. leggins i læderlook. Den strikkede vest skaber en fin, elegant kontrast i looket. De mest populære veste er i neutrale farver, såsom grå, hvid, beige og sort, men du kan også sagtens finde nogen med stærkere farver. De stribede veste er helt sikkert også ved at vinde indpas, men generelt er det dog helt sikket de strikkede versioner der dominerer.
                <br />
                <h2 class="mobile">Styling af dunvest</h2>
                Den type vest som dominerer modebilledet er den strikkede vest, men du kan også sagtens bruge den klassiske dunvest, hvis du gerne vil rocke looket udendørs. Den kan f.eks. fås i en ternet version, som ser super flot ud, og samtidig holder dig varm. Det er også oplagt at kombinere den med stramme jeans, lange støvler, og så en striktrøje under selve vesten.


                <br /><br />

                <br /><br />
            </article>



        </div>


        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "NewsArticle",
        "headline": "De fedeste vintertrends: Sådan styler du vesten",
        "image": "https://fedttoj.dk/Content/Graphics/Articles/vinter2.jpg",
        "description": "Der er mange trends der er poppet op i modebilledet siden efteråret, da det virkelig er højsæson for lag-på-lag og flere spændende kombinationer",
        "author": {
        "@@type": "Person",
        "name": "Julie",
        "url": "https://fedttoj.dk"
        },
        "publisher": {
        "@@type": "Organization",
        "name": "fedttoj.dk",
        "url": "https://fedttoj.dk",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://fedttoj.dk/Content/Graphics/fedttoej-logo.png"
        }
        },
        "datePublished": "2021-01-17T14:00:00+01:00"
        }
    </script>

}