﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
@Html.Partial("_facebookScript")
<div class="container">

    <div class="row">
        <div class="col-xs-12" itemscope itemtype="http://schema.org/NewsArticle">

            <div class="text-center">
                <h1 class="mobile" itemprop="headline">Kolde og varme vinterfarver</h1>
            </div> 
            <div class="pull-right article-mobile-like">
                <div class="plus-one"><a href="https://twitter.com/Fedttoej" class="twitter-follow-button" data-show-count="false" data-lang="da" data-show-screen-name="false">Følg fedttoej</a></div> <div class="plus-one"><div class="g-plusone" data-size="medium" data-annotation="none"></div></div> <div class="fb-like" data-href="https://fedttoj.dk/artiklerne/Vinterfarver" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
            <br /><br /><br />
            <meta itemprop="datePublished" content="2016-12-01T08:00:00+08:00" />
            <span class="small pull-left">1. december 2016</span>
            <span class="small pull-right">af Malthe Sporring</span>

            <div class="clearfix"></div>
            <br />
            <article itemprop="articleBody">

             
                <img src="/content/graphics/articles/vinter.jpg" class="img-responsive" alt="vintertøj" />
                <br /><br />
                Temperaturen falder, dagene blive kortere og sneen kommer forhåbentligvis også snarest. Det betyder selvfølgelig, at det er tid til at sammensætte det perfekte vinteroutfit til shoppeturen og julefrokosten. Jeg vil prøve at hjælpe dig i denne sæson ved at gennemgå tre farve palietter, der kan bruges til at sammensætte et smukt vintersæt.
                <br /><br />
                <h3>Introduktion til vinterfarver</h3>
                Den grundlæggende idé, ved at studere farvekombination, er selvfølgelig at bruge farver, der passer godt sammen, samt matcher omgivelserne. Som altid vil jeg personligt ikke anbefale at bruge mere end tre dominerende farver af gangen, da det ellers let kan ende med at se provokerende eller kaotisk ud. Vælg en farve eller to som basisfarve og brug den sidste sparsomt ved tilbehør som smykker og detaljer i tøjet.<br /><br />
                Essensen, i at skabe et fedt vinterset, er at forstå forskellen mellem varme og kolde farver.<br /><br />
                Varme farver er for eksempel guld, bordeaux eller lysebrun; farver med masser af røde og brune undertoner. Tænk hygge ved pejsen med røde stearinlys og kradsende tæpper. De kolde farver, derimod, er som lyseblå, grå eller mørkeblå. Farver der er rige i blå farver og minder en om en mørk, sneklædt skov.<br /><br />
                <h3>Kold vinter</h3>
                Den kolde vinter farve paliette gør brug af høje kontraster i huden og tøj, der matcher til de hvide og blå farver af en sneverden. Dette passer specielt godt til folk med en meget klar eller mørk hud, samt hår der er enten sølvfarvet, støvet brun eller blå-sort. Øjenfarver der passer godt til disse farver er grå, blå, mørkebrun og viol.<br /><br />
                <b>Her er farverne jeg anbefaler til et koldt vinterset:</b><br /><br />
                <img src="/content/graphics/articles/cold1.png" class="img-responsive" />
                <br /><br />
                De mest ideelle farver at bruge, som den dominerende, er de to nuancer af blå, samt hvid og sort.<br /><br />
                Den lyserøde overrasker dig måske, men den passer fantastisk med en klar, hvid baggrund. Det kommer tilbage til ideen om at skabe klare kontraster uden at gå for langt fra de kolde farver. Vinteren er også en af de eneste gange om året, hvor det virkelig ser godt ud med kun sort og hvid, så tag endelig brug af dette.<br /><br />
                Smykkerne og bæltespændet skal her være sølv, ikke guld.<br /><br />

                <h3>Varm vinter</h3>
                Modsat den kolde vinter paliette prøver det varme sæt at fange farverne ved en glødende brændeovn, en lækker julesmåkage og en guldfarvet lysestage. Det passer især godt til folk med et rødt eller hasselnøddefarvet hår, samt brune eller mørkegrønne øjne.<br /><br />
                <b>Her er farverne jeg anbefaler til et varmt vinterset:</b><br /><br />
                <img src="/content/graphics/articles/cold2.png" class="img-responsive" />
                <br /><br />
                Det varme vinterset er sværere at sammensætte end det kolde, fordi alle farverne ikke passer lige godt sammen. Mørkebrun, bordeaux og guld kan for eksempel let blive for efterårsagtigt. Du kan læse min artikel om efterårstøj  for at sørge for, at du selv forstår forskellen.<br /><br />
                De bedste farver at bruge som basis er nok bordeaux, mørkebrun eller turquis.
                Smykkerne og bæltespændet skal her være guld, ikke sølv.<br /><br />

                <h3>Julevinter</h3>
                Det sidste obligatoriske farvesæt er selvfølgelig julefarverne. I December virker både kolde og varme farver lige godt, men der er selvfølgelig nogle farver, der skriger jul ekstra meget. Jeg vil anbefale, at du bruger de mest traditionelle julefarver sparsomt, dog, da et sæt der kun bygger på grangrønt, kraftig rød og guld let kan ende med at se for cliché ud.<br /><br />
                <b>Her er julefarverne der passer godt i December:</b><br /><br />
                <img src="/content/graphics/articles/cold3.png" class="img-responsive" /><br />
                <br />
                Alle disse farver virker nok lige godt som din dominerende farve, men du bliver nok nødt til at afprøve nogle forskellige farver, som tilbehør for at finde ud af, hvad der passer bedst til den farve. Isblå med hvidt og guld tilbehør eller lysebrun med røde detaljer og guldsmykker er to eksempler på kombinationer, der er julede uden at være for aggressivt eller overbrugt.<br />
                <br />
                Med denne guide til vinterfarverne håber jeg, at du kan finde det perfekte outfit til din vinter. Et sidste råd, jeg kan give jer, er I kun kan bruge disse tips til at komme i gang. Det mest attraktive sæt er unikt og personligt; leg med forskellige farvekombinationer, sammensæt farver du kan lide og prøv måske at træde ud af traditionerne en gang i mellem og prøve noget nyt og modigt. Du har intet at tabe og alt at vinde!
                <br />

                <br /><br />

                Var der noget essentielt vi glemte at nævne om vinterfarver? Efterlad en kommentar med dit svar!
                <br /><br />
          

            </article>
          
            @Html.Action(MVC.Article.ArticleComment(6, "/artiklerne/t-shirts"))

            <div class="clearfix"></div>
            <br /><br />

            <a href="/kvinde/Shirts/48-T-shirt">T-shirts til kvinder</a><br />
            <a href="/mand/Shirts/48-T-shirt">T-shirts til mænd</a>


        </div>
        <div class="col-xs-12">
            <br /><br />
            @Html.Partial(MVC.Shared.Views.ProductListVertical, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
        </div>

        <br />


    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview', '/articles.aspx']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}