﻿@model dynamic

@{
    ViewBag.TheTitle = "Forum";
    
}


<div class="row">
    <div class="col-lg-12">
        <h1>Forum</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div style="border-radius: 5px 5px 0 0;height: 50px;background-color: #708090;padding: 0 20px;color: #FFFFFF;margin: 0;line-height: 1.5em;">
            Header

        </div>

    </div>
</div>
