﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models
@using FedttoejMvc.Models.ViewModels
@model ShowViewModel

@{
    var validDate = DateTime.Now.AddDays(30);
}

<div class="row">
    @*<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <br />
            @Html.Partial(MVC.Shared.Views.MakesView, new MakesViewModel { Area = (Utilities.Area)Model.Product.Area, CategoryId = Model.Product.CategoryId, MainCategoryId = Model.Product.MainCategoryId, Controller = Model.Controller, Makes = Model.Makes, CategoryName = Model.CategoryName })
            <br />
        </div>*@
    <div class="col-xs-12">
        <article itemscope itemtype="http://schema.org/Product" class="row">
            <meta itemprop="mpn" content="@Model.Product.Id" />
            <meta itemprop="gtin" content="@Model.Product.EAN" />
            <div class="col-lg-12">
                <div class="bread-crumb clearfix" id="breadcrumb">

                    Du er her: <span><a href="@Model.AreaUrl" title="Tøj til @Model.AreaName">Tøj til @Model.AreaName</a> / </span>

                    <span itemprop="category"><a href="@Model.MainCategoryUrl" title="@Model.MainCategoryName">@Model.MainCategoryName</a> / <a href="@Model.CategoryUrl" title="@Model.CategoryName">@Model.CategoryName</a> /</span>

                    @if (@Model.MakeUrl != "")
                    {
                        <span><a href="@Model.MakeUrl" itemprop="brand" itemscope itemtype="http://schema.org/Brand"><span itemprop="name" title="@Model.Product.Make">@Model.Product.Make</span></a> / </span>
                    }
                    else
                    {
                        <span itemprop="brand"><span itemprop="name">@Model.Product.Make</span> / </span>
                    }

                </div>

            </div>
            <div class="col-xs-5">
                <a href="@Url.Action(MVC.Home.Goto(Model.Product.Id))" target="_blank" rel="nofollow" title="Se @Model.Product.Title ved @Model.Product.CompanyName">
                    <img class="product-image img-responsive" src="@GetUrlHelper.GetPictureUrl(Model.Product)" alt="Se @Model.Product.Title ved @Model.Product.CompanyName" itemprop="image" />
                </a>
                <br /><br /><br />

            </div>
            <div class="col-xs-7">
                <h1 itemprop="name">@Model.Product.Title</h1>


                <div class="pull-left">
                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="showprice">
                        <b>Pris: <span itemprop="priceCurrency" content="DKK">kr.</span> <span itemprop="price">@Model.Product.Price.ToString("N0").Replace(",", ".")</span></b>

                        <link itemprop="availability" href="https://schema.org/InStock" />
                        <link itemprop="priceValidUntil" content="@(validDate.Year)-@(validDate.Month)-@(validDate.Day)" />
                        <link itemprop="url" content="https://fedttoj.dk@(ViewBag.CanonicalUrl)" />
                    </div>

                </div>
                <div class="pull-right">

                    <div class="pull-right">

                        <div class="fb-like" data-href="@("https://fedttoj.dk" + GetUrlHelper.GetProductUrl(Model.Controller, Model.Product))" data-width="" data-layout="button_count" data-action="" data-size="small" data-share="true"></div>
                        @*<div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="" data-size=""><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Server.UrlDecode("https://fedttoj.dk" + GetUrlHelper.GetProductUrl(Model.Controller, Model.Product))" class="fb-xfbml-parse-ignore">Del</a></div>*@
                    </div>
                    <div class="pull-right" style="margin-right:20px;">
                        <a href="//www.pinterest.com/pin/create/button/?url=@(Model.PinterestUrl)&media=@(Model.PinterestImage)&description=@(Model.PinterestTitle)" data-pin-do="buttonPin" data-pin-config="none" rel="nofollow"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" alt="pinterest" /></a>
                    </div>

                    <div class="clearfix"></div>
                    <br />

                </div>
                <div class="clearfix"></div>

                <br />

                <a href="@Url.Action(MVC.Home.Goto(Model.Product.Id))" class="btn btns btn-primary btn-lg" target="_blank" rel="nofollow" title="Se @Model.Product.Title ved @Model.Product.CompanyName">Gå til webshop</a>


                <br /> <br />



                @{
                    var h2String = "";

                    if ((Utilities.Area)Model.Product.Area == Utilities.Area.Women)
                    {
                        h2String = "Tøj til kvinder";
                    }
                    else if ((Utilities.Area)Model.Product.Area == Utilities.Area.Men)
                    {
                        h2String = "Tøj til mænd";
                    }
                    else if ((Utilities.Area)Model.Product.Area == Utilities.Area.Kids)
                    {
                        h2String = "Tøj til børn";
                    }
                    h2String += " - " + Model.MainCategoryName + " - " + Model.CategoryName;
                    if (Model.MakeUrl != "")
                    {
                        h2String += " - " + Model.Product.Make;
                    }
                }
                <h2 class="mobile">@h2String</h2>
                <span itemprop="description">
                    @Html.Raw(Model.Product.Description.Replace("\"\"\"", ""))<br />
                    <a href="@Url.Action(MVC.Home.Goto(Model.Product.Id))" target="_blank" rel="nofollow" title="Læs mere om @Model.Product.Title ved @Model.Product.CompanyName">Læs mere &raquo;</a>
                </span>
                <br /><br /><br />
                <table>
                    @if (@Model.FreePostage)
                    {
                        <tr>
                            <td><img src="/Content/Graphics/Check.png" width="30" alt="Gratis fragt" /></td>
                            <td style="vertical-align:top;padding-top:3px;">Gratis fragt</td>
                        </tr>
                    }
                    <tr>
                        <td><img src="/Content/Graphics/Check.png" width="30" alt="14 dages returret" /></td>
                        <td style="vertical-align:top;padding-top:3px;">14 dages returret</td>
                    </tr>
                    <tr>
                        <td><img src="/Content/Graphics/Check.png" width="30" alt="Varen er på lager" /></td>
                        <td style="vertical-align:top;padding-top:3px;">Varen er på lager hos <a href="/s/@Utilities.GetSearchPhrase(Model.Product.CompanyName)" title="@Model.Product.CompanyName">@Model.Product.CompanyName</a></td>
                    </tr>

                </table>
                <br /><br />
                <a href="@Url.Action(MVC.Home.Goto(Model.Product.Id))" target="_blank" rel="nofollow" title="Se @Model.Product.Title ved @Model.Product.CompanyName">
                    &raquo; Se flere tilbud fra @Model.Product.CompanyName
                </a>
                <br /><br /><br />
            </div>
        </article>

        <div class="row">
            <div class="col-lg-12" style="height:280px;">
                <b>Prishistorik</b><br />
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <div id="chart_div"></div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <b>Andre produkter fra samme kategori</b>
                <br /><br />
            </div>
            <div class="lg-4 text-right">
                <a href="@Model.MainCategoryUrl" title="@Model.MainCategoryName">&raquo; Se flere @Model.MainCategoryName</a>
            </div>
        </div>
        <div class="row" id="productList">
            @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
        </div>

        @Html.Partial(MVC.Shared.Views.SearchLinks, Model.Product)

    </div>

</div>

@section scripts
{
    <script type="text/javascript">


        po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = '//assets.pinterest.com/js/pinit.js';
        s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);



        function drawBasic() {
            var xmlHttp = new XMLHttpRequest();
            var url = "/data/produkt/pricehistory/@Model.Product.Id";
            xmlHttp.open("GET", url, false); // false for synchronous request
            xmlHttp.send(null);
            var content = JSON.parse(xmlHttp.response);
            //console.log(content);
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'X');
            data.addColumn('number', 'Pris');

            data.addRows(content);

            var options = {
                hAxis: {
                    title: 'Dato'
                },
                vAxis: {
                    title: 'Pris'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        function LoadAfterPageLoad() {
            google.charts.load('current', { packages: ['corechart', 'line'] });
            google.charts.setOnLoadCallback(drawBasic);


        }

         //$(document).ready(function () {
            if (window.addEventListener)
                window.addEventListener("load", LoadAfterPageLoad, false);
            else if (window.attachEvent)
                window.attachEvent("onload", LoadAfterPageLoad);
            else window.onload = LoadAfterPageLoad;

    //    });

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();


    </script>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="@GetUrlHelper.GetPictureUrl(Model.Product)">
    <meta name="twitter:title" content="@Model.Product.Title">
    <meta name="twitter:description" content="@Model.Product.Description.Replace("\"\"\"", "")">
    <meta name="twitter:site" content="@("@Fedttoej")">


    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@Model.Product.Title.Replace("\\", "-")",
        "image": "@GetUrlHelper.GetPictureUrl(Model.Product)",
        "description": "@Model.Product.Description.Replace("\"\"\"", "").Replace("\\", "-")",
        "mpn": "@Model.Product.Id",
        "gtin": "@Model.Product.EAN",
        "brand": {
        "@@type": "Brand",
        "name": "@Model.Product.Make"
        },
        "offers": {
        "@@type": "Offer",
        "priceCurrency": "DKK",
        "price": "@Model.Product.Price.ToString()",
        "priceValidUntil": "@(validDate.Year)-@(validDate.Month)-@(validDate.Day)",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "url" : "https://fedttoj.dk@(ViewBag.CanonicalUrl)",
        "seller": {
        "@@type": "Organization",
        "name": "@Model.Product.CompanyName"
        }
        },
        "hasMerchantReturnPolicy": {
        "@@type": "MerchantReturnPolicy",
        "applicableCountry": "DK",
        "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
        "merchantReturnDays": 14,
        "returnMethod": "https://schema.org/ReturnByMail",
        "returnFees": "https://schema.org/FreeReturn"
        }
        }
    </script>


    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.AreaUrl)",
        "name": "Tøj til @Model.AreaName"
        }
        },{
        "@@type": "ListItem",
        "position": 2,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.MainCategoryUrl)",
        "name": "@Model.MainCategoryName"
        }
        },{
        "@@type": "ListItem",
        "position": 3,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.CategoryUrl)",
        "name": "@Model.CategoryName"
        }
        },{
        "@@type": "ListItem",
        "position": 4,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.MakeUrl)",
        "name": "@(!string.IsNullOrEmpty(Model.Product.Make) ? Model.Product.Make : "ukendt")"
        }}
        ,{
        "@@type": "ListItem",
        "position": 5,
        "item": {
        "@@id": "https://fedttoj.dk@(ViewBag.CanonicalUrl)",
        "name": "@Model.Product.Title.Replace("\\", "-")",
        "image": "@GetUrlHelper.GetPictureUrl(Model.Product)"
        }
        }]
        }
    </script>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v21.0&appId=707767952639163"></script>
}
