﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models
@using FedttoejMvc.Models.ViewModels
@model ShowViewModel
@{

    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
    var validDate = DateTime.Now.AddDays(30);

}

<div class="container">
    <div class="col-xs-12" id="breadcrumb">
        <br />
        <span><a href="@Model.AreaUrl" title="Tøj til @Model.AreaName">Tøj til @Model.AreaName</a> / </span>
        <span itemprop="category"><a href="@Model.MainCategoryUrl" title="@Model.MainCategoryName">@Model.MainCategoryName</a> / <a href="@Model.CategoryUrl" title="@Model.CategoryName">@Model.CategoryName</a></span> /
        @if (@Model.MakeUrl != "")
        {
            <span><a href="@Model.MakeUrl" itemprop="brand" itemscope itemtype="http://schema.org/Brand"><span itemprop="name" title="@Model.Product.Make">@Model.Product.Make</span></a> / </span>
        }
        else
        {
            <span itemprop="brand"><span itemprop="name">@Model.Product.Make</span> / </span>
        }
        <span itemprop="name">@Model.Product.Title</span>
    </div>
    <article class="row row-mobile-top" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="mpn" content="@Model.Product.Id" />
        <meta itemprop="gtin" content="@Model.Product.EAN" />
        <div class="picture-mobile-container">
            <div class="col-xs-12 picture-mobile">

                <a href="@Url.Action(MVC.Home.Goto(Model.Product.Id))" target="_blank" rel="nofollow" title="Se @Model.Product.Title ved @Model.Product.CompanyName">
                    <img class="product-image img-responsive" src="@GetUrlHelper.GetPictureUrl(Model.Product)" alt="Se @Model.Product.Title ved @Model.Product.CompanyName" width="375" height="375" itemprop="image" />

                </a>

            </div>
        </div>
        <div class="col-xs-12">
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <div class="pull-left">
                    <a href="@Url.Action(MVC.Home.Goto(Model.Product.Id))" class="btn btns btn-primary btn-lg" rel="nofollow" target="_blank" title="Se @Model.Product.Title ved @Model.Product.CompanyName">Gå til webshop</a>

                </div>
                <div class="pull-right">
                    <b class="text-larger">Pris: <span itemprop="priceCurrency" content="DKK">kr.</span> <span itemprop="price" content="@Model.Product.Price.ToString()">@Model.Product.Price.ToString("N0").Replace(",", ".")</span></b>
                </div>
                <link itemprop="availability" href="https://schema.org/InStock" />
                <link itemprop="priceValidUntil" content="@(validDate.Year)-@(validDate.Month)-@(validDate.Day)" />
                <link itemprop="url" content="https://fedttoj.dk@(ViewBag.CanonicalUrl)" />



            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="col-xs-12">

            <br />
            <h1 class="mobile">@Model.Product.Title</h1>
            <span itemprop="description">
                @Html.Raw(Model.Product.Description.Replace("\"\"\"", "")) ...
                <a href="@Url.Action(MVC.Home.Goto(Model.Product.Id))" target="_blank" rel="nofollow" title="Se @Model.Product.Title ved @Model.Product.CompanyName">læs mere</a>
            </span>

        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-xs-3">
            <a href="//www.pinterest.com/pin/create/button/?url=@(Model.PinterestUrl)&media=@(Model.PinterestImage)&description=@(Model.PinterestTitle)" rel="nofollow" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
        </div>

        <div class="col-xs-9">
            <div class="fb-like" data-href="@("https://fedttoj.dk" + GetUrlHelper.GetProductUrl(Model.Controller, Model.Product))" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
        </div>


        <div class="clearfix"></div>
        <br />
        <div class="col-xs-12">
            <table>
                @if (@Model.FreePostage)
                {
                    <tr>
                        <td><img src="/Content/Graphics/Check.png" width="30" alt="Gratis fragt" /></td>
                        <td valign="top" style="padding-top:3px;">Gratis fragt</td>
                    </tr>
                }
                <tr>
                    <td><img src="/Content/Graphics/Check.png" width="30" alt="14 dages returret" /></td>
                    <td valign="top" style="padding-top:3px;">14 dages returret</td>
                </tr>
                <tr>
                    <td><img src="/Content/Graphics/Check.png" width="30" alt="Varen er på lager" /></td>
                    <td valign="top" style="padding-top:3px;">Varen er på lager hos <a href="/s/@Utilities.GetSearchPhrase(Model.Product.CompanyName)" title="@Model.Product.CompanyName">@Model.Product.CompanyName</a></td>
                </tr>

            </table>

            <br /><br />
            @{
                var h2String = "";

                if ((Utilities.Area)Model.Product.Area == Utilities.Area.Women)
                {
                    h2String = "Tøj til kvinder";
                }
                else if ((Utilities.Area)Model.Product.Area == Utilities.Area.Men)
                {
                    h2String = "Tøj til mænd";
                }
                else if ((Utilities.Area)Model.Product.Area == Utilities.Area.Kids)
                {
                    h2String = "Tøj til børn";
                }
                h2String += " - " + Model.MainCategoryName + " - " + Model.CategoryName;
                if (Model.MakeUrl != "")
                {
                    h2String += " - " + Model.Product.Make;
                }
            }

            <h2 class="mobile">@h2String</h2>
        </div>

        <div class="col-xs-12">
            <br />
            <a href="@Model.MainCategoryUrl" title="@Model.MainCategoryName">&raquo; Se flere @Model.MainCategoryName</a>
        </div>
    </article>
    <br />
    <div class="row">
        <div class="col-xs-12 mobil-other-products" style="height: 290px;">
            <br />
            <b>Prishistorik</b><br />
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <div id="chart_div"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 mobil-other-products">
            <br />
            <b class="mobile">Andre produkter fra samme kategori</b>
            <br /><br />
        </div>
    </div>
    <div class="row" id="productList">
        @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })

    </div>
    @Html.Partial(MVC.Shared.Views.SearchLinks, Model.Product)
</div>


@section scripts
{
    <script type="text/javascript">

        po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = '//assets.pinterest.com/js/pinit.js';
        s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/da_DK/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function drawBasic() {
            var xmlHttp = new XMLHttpRequest();
            var url = "/data/produkt/pricehistory/@Model.Product.Id";
            xmlHttp.open("GET", url, false); // false for synchronous request
            xmlHttp.send(null);
            var content = JSON.parse(xmlHttp.response);

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'X');
            data.addColumn('number', 'Pris');

            data.addRows(content);

            var options = {
                hAxis: {
                    title: 'Dato'
                },
                vAxis: {
                    title: 'Pris'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        function LoadAfterPageLoad() {
            google.charts.load('current', { packages: ['corechart', 'line'] });
            google.charts.setOnLoadCallback(drawBasic);


        }

        //$(document).ready(function () {
        if (window.addEventListener)
            window.addEventListener("load", LoadAfterPageLoad, false);
        else if (window.attachEvent)
            window.attachEvent("onload", LoadAfterPageLoad);
        else window.onload = LoadAfterPageLoad;

        //    });

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="@GetUrlHelper.GetPictureUrl(Model.Product)">
    <meta name="twitter:title" content="@Model.Product.Title">
    <meta name="twitter:description" content="@Model.Product.Description.Replace("\"\"\"", "")">
    <meta name="twitter:site" content="@("@Fedttoej")">



    <script type="application/ld+json">
        {
        "@@context": "http://schema.org/",
        "@@type": "Product",
        "name": "@Model.Product.Title.Replace("\\", "-")",
        "image": "@GetUrlHelper.GetPictureUrl(Model.Product)",
        "description": "@Model.Product.Description.Replace("\"\"\"", "").Replace("\\", "-")",
        "mpn": "@Model.Product.Id",
        "gtin": "@Model.Product.EAN",
        "brand": {
        "@@type": "Brand",
        "name": "@Model.Product.Make"
        },
        "offers": {
        "@@type": "Offer",
        "priceCurrency": "DKK",
        "price": "@Model.Product.Price.ToString()",
        "priceValidUntil": "@(validDate.Year)-@(validDate.Month)-@(validDate.Day)",
        "itemCondition": "http://schema.org/NewCondition",
        "availability": "http://schema.org/InStock",
        "url" : "https://fedttoj.dk@(ViewBag.CanonicalUrl)",
        "seller": {
        "@@type": "Organization",
        "name": "@Model.Product.CompanyName"
        }
        },
        "hasMerchantReturnPolicy": {
        "@@type": "MerchantReturnPolicy",
        "applicableCountry": "DK",
        "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
        "merchantReturnDays": 14,
        "returnMethod": "https://schema.org/ReturnByMail",
        "returnFees": "https://schema.org/FreeReturn"
        }
        }
    </script>

    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.AreaUrl)",
        "name": "Tøj til @Model.AreaName"
        }
        },{
        "@@type": "ListItem",
        "position": 2,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.MainCategoryUrl)",
        "name": "@Model.MainCategoryName"
        }
        },{
        "@@type": "ListItem",
        "position": 3,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.CategoryUrl)",
        "name": "@Model.CategoryName"
        }
        },{
        "@@type": "ListItem",
        "position": 4,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.MakeUrl)",
        "name": "@(!string.IsNullOrEmpty(Model.Product.Make) ? Model.Product.Make : "ukendt")"
        }
        }
        ,{
        "@@type": "ListItem",
        "position": 5,
        "item": {
        "@@id": "https://fedttoj.dk@(ViewBag.CanonicalUrl)",
        "name": "@Model.Product.Title.Replace("\\", "-")",
        "image": "@GetUrlHelper.GetPictureUrl(Model.Product)"
        }
        }]
        }
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/da_DK/sdk.js#xfbml=1&version=v21.0&appId=707767952639163"></script>
}

