﻿<div class="row">
    <div class="col-lg-12">
        <h1>Om fedttøj.dk</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">

        <img src="/Content/Graphics/fedttoj.jpg" alt="fedttoj.dk" class="img-responsive" />
        <br /><br />
    </div>
    <div class="col-sm-6">

        Fedttøj.dk samler produkter fra mange forskellige danske tøjsites, så du er fri for at søge rundt på 20 forskellige sites for at finde det tøj, du skal bruge.
        <br /><br />
        Øverst i midten af siden kan du vælge imellem områderne herretøj, dametøj eller børnetøj. For hvert område er der en del kategorier i den grå bjælke (f.eks. bukser, kjoler, skjorter, bluser og t-shirts), og for hver af disse kategorier er der én eller flere underkategorier. Så der er masser af tøj at vælge imellem, både for mænd, kvinder og børn.<br /><br />

        Når du har valgt en kategori, kan du ude til venstre se listen over de mærker og brands, der er tilgængelige. Hvis du ved hvilket mærke tøj du søger efter, kan du med fordel klikke ind på mærket og finde det relevante tøj med det samme.
        <br /><br />
        fedttoj.dk ejes af:<br /><br />
        eLaursen ApS<br />
        Thorsvej 23<br />
        8464 Galten<br />
        <br />
        E-mail: info@fedttoej.dk
        <br /><br />
        <br /><br />
        God fornøjelse med siden...
        <br /><br /><br /><br />
        Partnere:<br />
        <a href="https://vin-guiden.dk">Vin, rødvin og hvidvin</a>.<br />
        <a href="https://www.fedebutikker.dk">Fede butikker</a>.<br />
        <br /><br /><br />
        Læs mere om <a href="https://da.wikipedia.org/wiki/T%C3%B8j">tøj her</a>.<br /><br /><br /><br /><br /><br /><br />

    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}