﻿@using FedttoejMvc.Models.ViewModels
@model List<ArticleViewModel>
<div class="row">
    <div class="col-lg-12">
        <h1>Artikler om tøj og mode</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        Her kan du læse fantastiske artikler om tøj og mode. Dyk ind og læs om et emne, der interesserer dig<br/><br/>
       
        <div class="pull-left">
            <table class="article-table">
                <tr>
                    <td>
                        <b>Artikel</b>
                    </td>
                    <td>
                        <b>Dato</b>
                    </td>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="/artikler/@item.Url" title="@item.Title">@item.Title</a>
                        </td>
                        <td>
                            @item.PublishDateFriendly
                        </td>
                    </tr>
                }


            </table>
        </div>
        <div class="pull-right">
            <img src="/Content/Graphics/Articles/Shirts3.jpg" />
        </div>
        <br /><br /><br /><br /><br />
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}