﻿
<div class="row">
    <div class="col-lg-12">
        <h1>Kontakt</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        Siden skulle gerne være let forståelig og let at bruge, men hvis du har nogle spørgsmål, kan du kontakte os her: <a href="mailto:info@fedttoej.dk">info@fedttoej.dk</a>
        <br /><br />
        Hvis du har forslag til forbedringer, er du også velkommen til at skrive.<br />
        <br /><br />
       
        fedttoj.dk er udviklet og drives af:<br />
        <br/>
        eLaursen ApS<br/>
        Thorsvej 23<br />
        8464 Galten<br/>
        CVR: 32308929

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}