﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel

<div class="row">
    <div class="col-lg-12">
        <h1>Tøj til børn og unge</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <article>
            <div id="article" class="article-text-pre">
                Velkommen til børneafdelingen på fedttoj.dk. Her finder du et stort udvalg af tøj og sko til børn og unge. Se et udpluk af børnetøj herunder eller vælg en kategori i toppen af siden.<br /><br />

                Leder du efter billigt børnetøj? Så tag et kig rundt på fedttoj.dk hvor vi har samlet et kæmpe udvalg af smart tøj til børn og unge. Uanset om du leder efter beklædning til de helt små eller de lidt større, så er det vigtigt at tøjet sidder perfekt, og at børnene kan bevæge sig frit og naturligt.
                <br /><br />
                Her på sitet kan du finde komfortabelt tøj til alle sæsoner. Der er eksempelvis fine muligheder for at finde den perfekte vinterbeklædning – fx skibukser fra Didriksons, en lækker vinterjakke fra Helly Hansen eller måske en klassisk flyverdragt?
                <br /><br />
                Skulle du i stedet være på jagt efter sommertøj til dit barn, kan du også gøre en god handel her. Der er bl.a. fede shorts fra Esprit og Humör samt T-shirts med alverdens forskellige motiver fra populære brands som Quicksilver og Molo.

                Sortimentet inkluderer naturligvis både drengetøj og pigetøj, så gå straks i gang med at browse igennem det store udvalg – nederdele og kjoler eller cowboybukser og hoodies – du kan finde det hele lige her!
                <br /><br />
                Udover det varierede udvalg af tøj har vi også samlet en masse gode tilbud på sko og støvler til børn. Der er eksempelvis fede sneakers fra Converse og fine ballerinaer og sandaler fra Wildflower.

                Som bekendt vokser børn hurtigt, og de har derfor behov for hyppig udskiftning af garderoben, hvilket hurtigt kan blive en dyr affære. Derfor kan du med fordel benytte denne tøjportal og spare penge ved at finde de absolut bedste tilbud fra de største danske tøjsites.
                <br /><br />
                Vi har forsøgt at gøre det så nemt som muligt for dig at handle, så du kan både søge efter specifikke brands eller typer af børnetøj. Kig dig omkring på sitet og tjek det store sortiment – der er tøj i alle størrelser til særdeles gode priser.
            </div>
            <a href="#" onclick="articleView()" id="articleViewLink">Vis mere</a>

        </article>
                <br /><br />
            </div>
    </div>

<div class="row">
    <div class="col-lg-12">
        <h2>Nyeste tøj til børn og unge</h2>
    </div>
</div>
<div class="row">
    @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
</div>

@section scripts
    {
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


}