﻿@using FedttoejMvc.Models.ViewModels
@using FedttoejMvc.Helpers
@model CategoryViewModel

<div class="row">
    <nav class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

        <br /><br />
        <span class="popular-brands">
            Pris
        </span>
        <hr />
        <div class="price-container">
            <div class="price-input-container">
                <div class="price-input">
                    <div class="price-field price-field-notmobile">
                        <span>Fra</span>
                        <input type="number"
                               class="min-input"
                               value="0">
                    </div>
                    <div class="price-field price-field-notmobile">
                        <span>Til</span>
                        <input type="number"
                               class="max-input"
                               value="10000">
                    </div>
                </div>
            </div>

            <a href="javascript:searchPrice()" class="btn btns btn-primary btn-lg pull-right">Søg</a>
        </div>
        <br /><br />

        <br />

        @Html.Partial(MVC.Shared.Views.MakesView, new MakesViewModel { Area = Model.Area, CategoryId = Model.CategoryId, MainCategoryId = Model.MainCategoryId, Controller = Model.Controller, Makes = Model.Makes, CategoryName = Model.CategoryName, PriceFrom = Model.PriceFrom, PriceTo = Model.PriceTo, Sorting = Model.Sorting })
        <br />
    </nav>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <br />
        @if (Model.Description.Length > 10)
        {
            <h1 class="category-header pull-left">@ViewBag.TheTitle</h1>
        }
        else
        {
            <h1 class="category-header pull-left">@Model.Header</h1>
        }
        <div class="clearfix"></div>
        @if (Model.Description.Length > 10)
        {
            <article class="row">
                <div class="col-lg-12 panel panel-default">
                    <div id="article" class="description">
                        @Html.Raw(Model.Description)
                    </div>
                    <a href="javascript:readMore()" id="readmore">Læs mere</a>
                    <a href="javascript:readLess()" id="readless" style="display:none;">Læs mindre</a>
                </div>

            </article>
        }

        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <select id="sorting" onchange="searchPrice()">
                        @foreach (var item in Model.SortTypes)
                        {
                            <option value="@item.Key" @(item.Key == (int)Model.Sorting ? "selected='selected'" : "")>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            @Html.Partial(MVC.Shared.Views.ProductList, new ProductListViewModel { Controller = Model.Controller, Products = Model.Products })
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = Model.CurrentUrl, Pages = Model.Paging, CurrentPageNumber = Model.CurrentPageNumber })
            </div>
        </div>

        <div class="pull-right">
            <a href="/rankering">Info om rankering</a>
        </div>
        <div class="clearfix"></div>
    </div>

</div>

@section scripts
    {
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        var currentUrl = '@Model.CurrentUrl';

        const priceInputvalue = document.querySelectorAll(".price-input input");
    </script>
    @if (Model.PriceTo > 0)
    {
        <script type="text/javascript">
            priceInputvalue[0].value = '@Model.PriceFrom';
            priceInputvalue[1].value = '@Model.PriceTo';
        </script>
    }
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "BreadcrumbList",
        "itemListElement": [{
        "@@type": "ListItem",
        "position": 1,
        "item": {
        "@@id": "https://fedttoj.dk@(Model.AreaUrl)",
        "name": "Tøj til @Model.AreaName"
        }
        },{
        "@@type": "ListItem",
        "position": 2,
        "item": {
        "@@id": "https://fedttoj.dk@(GetUrlHelper.GetMainCategoryUrl(Model.Controller, Model.Area, Model.MainCategoryId, Model.MainCategoryName))",
        "name": "@Model.MainCategoryName"
        }
        }
        @if (Model.CategoryId > 0)
        { <text>
            ,{
            "@@type": "ListItem",
            "position": 3,
            "item": {
            "@@id": "https://fedttoj.dk@(GetUrlHelper.GetCategoryUrl(Model.Controller, Model.Area, Model.MainCategoryName, Model.CategoryId, Model.CategoryName))",
            "name": "@Model.CategoryName"
            }
            }
        </text>
        }
        ]
        }
    </script>
}

@Html.Partial(MVC.Shared.Views.MakesViewBottom, new MakesViewModel { Area = Model.Area, CategoryId = Model.CategoryId, MainCategoryId = Model.MainCategoryId, Controller = Model.Controller, Makes = Model.Makes, CategoryName = Model.CategoryName, PriceFrom = Model.PriceFrom, PriceTo = Model.PriceTo, Sorting = Model.Sorting })