﻿@using System.Collections.Generic;
@using FedttoejMvc.Models.ViewModels
@model List<string>

<div class="row">
    <div class="col-lg-12">
        <h1>Tidligere søgninger</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = ViewBag.CurrentUrl, Pages = ViewBag.Paging, CurrentPageNumber = ViewBag.CurrentPageNumber })
    </div>
</div>
@Html.Partial(MVC.Shared.Views.PreSearches, Model)
<div class="row">
    <div class="col-lg-12">
        @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = ViewBag.CurrentUrl, Pages = ViewBag.Paging, CurrentPageNumber = ViewBag.CurrentPageNumber })
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
}