﻿@using FedttoejMvc.Helpers
@using FedttoejMvc.Models.Data
@model List<FedtFetchAllQuestionsResult>
<div class="row">
    <div class="col-lg-12">
        <h1>Spørgsmål og svar på alt om tøj</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
      
            Her er spørgsmål og svar fra brugere, der har spurgt om informationer om tøj. Enkelte spørgsmål er redigeret - nogle for at blive mere forståligt, og andre er rettet rent grammatisk.<br /><br />
            Du er velkommen til at kommentere yderligere på spørgsmålene. De spørgsmål vi har besvaret tager selvfølgelig udgangspunkt i fedttøj.dk's produkter. Hvis du har andre spørgsmål, er du velkommen til at skrive til os. Du finder vores e-mail adresse under "Kontakt" nederst på siden.<br /><br />

        <br/><br/>
        <ul class="questionlist">
            @foreach (var question in Model)
            {
                <li><a href="@GetUrlHelper.GetAnswerUrl(ViewBag.Controller, question.Id, question.Question)">@question.Question</a></li>
            }
        </ul>
        <br/><br/>
    </div>
</div>


@section scripts
{
   <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-102091469-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

}