﻿<div class="row">
    <div class="col-lg-12">
        <h1>Rankering af søgeresultater på fedttøj.dk</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        <h2>Søgeresultater</h2>
        Alle søgeresultater rankeres efter "bedste match" ud fra de ord du søger efter.<br /><br />
        fedttoj.dk tager ikke specielt hensyn til den enkelte forretnings ønsker, men viser altid resultatet ud fra, hvad brugeren søger efter. Ingen kan betale sig til at ligge øverst
        <br /><br />
        <h2>Kategorisider (og andre sider med produkter)</h2>
        På alle andre sider end søgeresultatet, er produkterne sorteret efter "nyeste først". Med nyeste først menes de produkter, der er kommet på fedttoj.dk sidst.<br />
        Så hvis du f.eks. kigger på <a href="/kvinde/Bukser-og-jeans/9-Bukser">"Bukser til kvinder"</a>, vil de bukser, der sidst er kommet på fedttoj.dk ligge øverst<br /><br />
        Igen, fedttoj.dk tager ikke specielt hensyn til den enkelte forretnings ønsker, men viser altid de nyeste produkter i den valgte kategori. Ingen kan betale sig til at ligge øverst<br /><br /><br /><br /><br /><br /><br />

    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}