﻿@model FedttoejMvc.Models.Data.FedtFetchProductResult
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vis produkt</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
<script type="text/javascript">
    location.href = '@Html.Raw(Model.Link)';
</script>