﻿@using FedttoejMvc.Models.ViewModels
@model AreaViewModel


<div class="row">
    <div class="col-xs-12">
        
            <h1 >@ViewBag.Title</h1>
       Tilbud på tøj. @ViewBag.MetaDescription<br /><br /><br />
        <div class="row">
            @Html.Partial(MVC.Shared.Views.ReducedList, Model)
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial(MVC.Shared.Views.pagingView, new PagingViewModel { Link = Model.CurrentUrl, Pages = Model.Paging, CurrentPageNumber = Model.CurrentPageNumber })
            </div>
        </div>
    
    </div>
   
</div>

@section scripts
    {
    <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-102091469-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    </script>


}

