﻿@model Dictionary<string, string>
<meta name="robots" content="noindex, follow" />
<div class="row">
    <div class="col-lg-12">
        <h1>SiteMap - @ViewBag.Gender</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="pagination">

            <li><a href="@ViewBag.SimemapUrl">1</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=2">2</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=3">3</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=4">4</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=5">5</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=6">6</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=7">7</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=8">8</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=9">9</a></li>
            <li><a href="@(ViewBag.SimemapUrl)?page=10">10</a></li>

        </ul>
        <br /><br /><br /><br />
    </div>
    <div class="col-lg-12">
        @foreach (var dic in Model)
        {
            <a href="@dic.Key" title="@dic.Value">@dic.Value</a><br />
        }


    </div>

</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}