﻿@using FedttoejMvc.Models.ViewModels
@model List<VideoViewModel>
<div class="row">
    <div class="col-lg-12">
        <h1>Videoer om tøj og mode</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        Her har vi listet nogle gode videoer om tøj og mode fra youtube<br /><br />

    

                @foreach (var item in Model)
                {
                     <a href="/videos/@item.Url" class="frontpage-article" title="@item.Title">
                        <img src="~/Content/Graphics/videos/@item.PictureName" alt="@item.Title" class="img-responsive" />
                        <h2>@item.Title</h2>
                        @item.MetaDescription
                    </a>
                    <hr />
                }


       
        <br /><br /><br /><br /><br />
    </div>
</div>


@section scripts
{
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-102091469-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>



}